<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/index.css') }}">
    <link rel="icon" type="image/svg" href="{{ url_for('static', filename='img/Logo.svg') }}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Source+Sans+3:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">   
    <title>Gaialink</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-xl Bg_Azul shadow-md sticky-top p-3">
        <a class="navbar-brand text-white fs-nav-3 fw-bold d-flex justify-content-center align-items-center m-0 p-0 gap-3 " href="{{ url_for('Inicio') }}">
            <img class="Logo_Gaia m-0" src="{{ url_for('static', filename='img/Logo.svg') }}"> 
            Gaialink
        </a>
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContenido">
            <span class="navbar-toggler-icon">
            </span>
        </button>          
        <div class="collapse navbar-collapse" id="navbarContenido">     
            <ul class="navbar-nav me-auto ms-1 ms-xxl-5 gap-1 gap-xxl-4">
                <li class="nav-item dropdown dropdown2 list-unstyled fs-nav-1">
                    <a class="nav-link dropdown-hover text-white d-flex flex-row align-items-center Neon" style="font-weight: 500;" role="button">
                        <span data-lang="base.Inicio">
                            Inicio
                        </span>
                        <img class="m-0 mt-3" style="width: 40px;" src="{{ url_for('static', filename='img/FlechaAbajo.svg') }}">
                    </a>
                    <ul class="dropdown-menu Bg_Black p-2 border-round">
                        <li>
                            <a data-lang="base.Página_principal" class="dropdown-item text-white fs-5" href="{{ url_for('Inicio') }}">
                                Página principal
                            </a>
                        </li>
                        <li>
                            <a data-lang="base.Que_es" class="dropdown-item text-white fs-5" href="{{ url_for('Inicio') }}#Restitucion">
                                ¿Qué es?
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown dropdown2 list-unstyled fs-nav-1">
                    <a class="nav-link dropdown-hover text-white d-flex flex-row align-items-center Neon" style="font-weight: 500;" role="button">
                        <span data-lang="base.Nosotros">
                            Nosotros
                        </span>
                        <img class="m-0 mt-3" style="width: 40px;" src="{{ url_for('static', filename='img/FlechaAbajo.svg') }}">
                    </a>
                    <ul class="dropdown-menu Bg_Black p-2 border-round">
                        <li>
                            <a data-lang="base.Mision" class="dropdown-item text-white fs-5" href="{{ url_for('Mision') }}">
                                Mision
                            </a>
                        </li>
                        <li>
                            <a data-lang="base.Vision" class="dropdown-item text-white fs-5" href="{{ url_for('Mision') }}">
                                Vision
                            </a>
                        </li>
                        <li>
                            <a data-lang="base.Lideres" class="dropdown-item text-white fs-5" href="{{ url_for('Inicio') }}#Lideres">
                                Lideres
                            </a>
                        </li>
                    </ul>
                </li>                
                <li class="nav-item dropdown dropdown2 list-unstyled fs-nav-1">
                    <a class="nav-link dropdown-hover text-white d-flex flex-row align-items-center Neon" style="font-weight: 500;" role="button">
                        <span data-lang="base.Contacto">
                            Contacto
                        </span>
                        <img class="m-0 mt-3" style="width: 40px;" src="{{ url_for('static', filename='img/FlechaAbajo.svg') }}">
                    </a>
                    <ul class="dropdown-menu Bg_Black p-2 border-round">
                        <li>
                            <a data-lang="base.Contactanos" class="dropdown-item text-white fs-5" href="{{ url_for('Inicio') }}#Ayuda">
                                Contactanos
                            </a>
                        </li>
                        <li>
                            <a data-lang="base.Calificanos" class="dropdown-item text-white fs-5" href="{{ url_for('Formulario') }}#Calificacion_Form">
                                Calificanos
                            </a>
                        </li>
                        <li>
                            <a data-lang="base.Ayuda" class="dropdown-item text-white fs-5" href="{{ url_for('Formulario') }}#Ayuda_Form">
                                Ayuda
                            </a>
                        </li>                                                
                    </ul>
                </li>                
                <li class="nav-item dropdown dropdown2 list-unstyled fs-nav-1">
                    <a class="nav-link dropdown-hover text-white d-flex flex-row align-items-center Neon" style="font-weight: 500;" role="button">
                        <span data-lang="base.Servicios">
                            Servicios
                        </span>
                        <img class="m-0 mt-3" style="width: 40px;" src="{{ url_for('static', filename='img/FlechaAbajo.svg') }}">
                    </a>
                    <ul class="dropdown-menu Bg_Black p-2 border-round">
                        <li>
                            <a data-lang="base.Creacion_tickets" class="dropdown-item text-white fs-5" href="{{ url_for('Soporte') }}">
                                Creación de tickets
                            </a>
                        </li>
                        <li>
                            <a data-lang="base.Soporte" class="dropdown-item text-white fs-5" href="{{ url_for('Soporte') }}">
                                Soporte
                            </a>
                        </li>
                    </ul>
                </li>                
            </ul>
            <div class="d-flex flex-column flex-lg-row gap-2 gap-xxl-3 mt-3 mt-lg-0 ms-lg-auto">
                <div class="dropdown dropdown2">
                    <a class="boton justify-content-center justify-content-lg-start bg-white px-1 px-xxl-3 py-1 py-xl-2 fs-nav-2 fw-bold text-decoration-none text-black d-flex flex-row align-items-center gap-1 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="btnIdioma">
                        <span id="textoIdioma">
                            Español
                        </span>
                        <img id="iconoIdioma" class="Español d-none d-xl-block" src="{{ url_for('static', filename='img/Español.svg') }}">
                    </a>
                    <ul class="dropdown-menu Bg_Black p-2 border-round">
                        <li>
                            <a class="dropdown-item d-flex align-items-center justify-content-around text-white fs-5" href="#" onclick="CambiarIdioma('es')">
                                Español
                                <img class="Español d-none d-xl-block" src="{{ url_for('static', filename='img/Español.svg') }}">
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center justify-content-around text-white fs-5" href="#" onclick="CambiarIdioma('en')">
                                English
                                <img class="Español d-none d-xl-block" src="{{ url_for('static', filename='img/Ingles.svg') }}">
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center justify-content-around text-white fs-5" href="#" onclick="CambiarIdioma('fr')">
                                Français
                                <img class="Español d-none d-xl-block" src="{{ url_for('static', filename='img/Frances.svg') }}">
                            </a>
                        </li>
                    </ul>
                </div>                
                <a data-lang="base.Registrarse" href="{{ url_for('Registro') }}" class="boton d-flex justify-content-center align-items-center bg-white px-2 px-xl-3 py-1 py-xl-2 fs-nav-2 fw-bold text-decoration-none text-black">
                    Registrarse
                </a>
                <a data-lang="base.Ingresar" href="{{ url_for('Login') }}" class="boton d-flex justify-content-center align-items-center bg-white px-2 px-xl-3 py-1 py-xl-2 fs-nav-2 fw-bold text-decoration-none text-black">
                    Ingresar
                </a>
            </div>
        </div>      
    </nav>
    <!-- Slide -->
    <div class="Redes d-none d-xl-block">
        <img class="Rectangulo_Redes w-2" src="{{ url_for('static', filename='img/Redes.svg') }}" alt="Contenedor de Redes">
        <div class="Redes_Contenedor gap-3">
            <a href="https://www.instagram.com/gaialink_online?igsh=MXh3bTdjbHFkZG1jeg==" target="_blank">
                <img class="Imagen_Redes" src="{{ url_for('static', filename='img/Instagram1.svg') }}" alt="Instagram1">
            </a>
            <a href="https://www.facebook.com/profile.php?id=61583739777501" target="_blank">
                <img class="Imagen_Redes" src="{{ url_for('static', filename='img/Facebook1.svg') }}" alt="Facebook1">
            </a>
            <a href="https://x.com/GaiaLink_Online" target="_blank">
                <img class="Imagen_Redes" src="{{ url_for('static', filename='img/Twitter1.svg') }}" alt="Twitter1">
            </a>
            <a href="https://www.youtube.com" target="_blank">
                <img class="Imagen_Redes" src="{{ url_for('static', filename='img/Youtube1.svg') }}" alt="Youtube1">
            </a>
            <a href="https://wa.me/573144048151" target="_blank">
                <img class="Imagen_Redes" src="{{ url_for('static', filename='img/Whatsapp1.svg') }}" alt="Whatsapp1">
            </a>
        </div>
    </div>
    <!-- Contenido Dinamico -->
    {% block contenido %}
    {% endblock %}
    <!-- Footer -->
    <footer class="bg-dark text-light pt-5 pb-3 ">
        <div class="container-fluid flex-row w-90">
            <div class="row">
                <div class="row col-md-9 mb-4 gap-4">
                    <div class="col-md-2">
                        <h5 data-lang="base.Inicio" class="fw-bold fs-4 mb-3">
                            Inicio
                        </h5>
                        <ul class="list-unstyled ">
                            <li>
                                <a data-lang="base.Página_principal" href="{{ url_for('Inicio') }}#Inicio" class="text-decoration-none text-light text-hover fs-4">
                                    Pagina Principal
                                </a>
                            </li>
                            <li>
                                <a data-lang="base.Que_es" href="{{ url_for('Inicio') }}#Restitucion" class="text-decoration-none text-light text-hover fs-4">
                                    Qué es?
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h5 data-lang="base.Nosotros" class="fw-bold fs-4 mb-3">
                            Nosotros
                        </h5>
                        <ul class="list-unstyled">
                            <li>
                                <a data-lang="base.Mision" href="{{ url_for('Mision') }}" class="text-decoration-none text-light text-hover fs-4">
                                    Misión
                                </a>
                            </li>
                            <li>
                                <a data-lang="base.Vision" href="{{ url_for('Mision') }}" class="text-decoration-none text-light text-hover fs-4">
                                    Vision
                                </a>
                            </li>
                            <li>
                                <a data-lang="base.Lideres" href="{{ url_for('Inicio') }}#Lideres" class="text-decoration-none text-light text-hover fs-4">
                                    Lideres
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h5 data-lang="base.Contacto" class="fw-bold fs-4 mb-3">
                            Contacto
                        </h5>
                        <ul class="list-unstyled">
                            <li>
                                <a data-lang="base.Contactanos" href="{{ url_for('Inicio') }}#Ayuda" class="text-decoration-none text-light text-hover fs-4">
                                    Contactanos
                                </a>
                            </li>
                            <li>
                                <a data-lang="base.Calificanos" href="{{ url_for('Formulario') }}#Calificacion_Form" class="text-decoration-none text-light text-hover fs-4">
                                    Calificanos
                                </a>
                            </li>
                            <li>
                                <a data-lang="base.Ayuda" href="{{ url_for('Formulario') }}#Ayuda_Form" class="text-decoration-none text-light text-hover fs-4">
                                    Ayuda
                                </a>
                            </li>                                                        
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5 data-lang="base.Servicios" class="fw-bold fs-4 mb-3">
                            Servicios
                        </h5>
                        <ul class="list-unstyled">
                            <li>
                                <a data-lang="base.Creacion_tickets" href="{{ url_for('Soporte') }}" class="text-decoration-none text-light text-hover fs-4">
                                    Creación de tickets
                                </a>
                            </li>
                            <li>
                                <a data-lang="base.Soporte" href="{{ url_for('Soporte') }}" class="text-decoration-none text-light text-hover fs-4">
                                    Soporte
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <h5 data-lang="base.Contactanos" class="fw-bold fs-4">
                        Contactanos
                    </h5>
                    <p class="fs-5 mb-3">
                        <img src="{{ url_for('static', filename='img/Telefono.svg') }}">
                        314 4048151
                    </p>
                    <p class="fs-5 mb-3">
                        <img src="{{ url_for('static', filename='img/Reloj.svg') }}">
                        Lun a Vie 8:00 am – 6:00 pm
                    </p>
                    <p class="fs-6 mb-3">
                        <img src="{{ url_for('static', filename='img/Correo.svg') }}">
                        administrador@gaialink.com
                    </p>
                    <p class="fs-5 mb-3">
                        <img src="{{ url_for('static', filename='img/Red.svg') }}">
                        <a href="https://www.gaialink.online" class="text-light">
                            www.gaialink.online
                        </a>
                    </p>
                </div>
            </div>
            <hr class="border-light border-5">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h4 class="fw-bold m-0 mb-1">
                        <img class="m-0 w-15" src="{{ url_for('static', filename='img/Logo.svg') }}"> 
                        Gaialink
                    </h4>
                    <small data-lang="base.Copyright">
                        © 2025 Gaialink: conecta, impulsa y transforma el futuro digital.
                    </small>
                </div>
                <div class="d-flex gap-3 fs-4">
                    <a href="https://www.instagram.com/gaialink_online?igsh=MXh3bTdjbHFkZG1jeg==" class="text-light text-decoration-none">
                        <img src="{{ url_for('static', filename='img/Instagram2.svg') }}" class="Footer_hover icono-nav">
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=61583739777501" class="text-light text-decoration-none">
                        <img src="{{ url_for('static', filename='img/Facebook2.svg') }}" class="Footer_hover icono-nav">
                    </a>
                    <a href="https://x.com/GaiaLink_Online" class="text-light text-decoration-none">
                        <img src="{{ url_for('static', filename='img/Twitter1.svg') }}" class="Footer_hover icono-nav">
                    </a>
                    <a href="https://www.youtube.com" class="text-light text-decoration-none d-inline-flex align-items-center">
                        <img src="{{ url_for('static', filename='img/Youtube2.svg') }}" class="w-99 Footer_hover icono-nav">
                    </a>
                    <a href="https://wa.me/573144048151" class="text-light text-decoration-none">
                        <img src="{{ url_for('static', filename='img/Whatsapp2.svg') }}" class="Footer_hover icono-nav">
                    </a>
                </div>
            </div>
            <div class="text-end">
                <a data-lang="base.Politica_Privacidad" href="{{ url_for('Terminos') }}" class="text-light text-decoration-none me-3 text-hover">
                    Política de Privacidad
                </a>
                <a data-lang="base.Terminos_Condiciones" href="{{ url_for('Terminos') }}" class="text-light text-decoration-none text-hover">
                    Términos y Condiciones
                </a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>      
    <script src="{{ url_for('static', filename='Scripts/Languages/Traduccion_Home.js') }}"></script>       
    <script src="{{ url_for('static', filename='Scripts/Home/fetch.js') }}"></script>       
    <script src="{{ url_for('static', filename='Scripts/Home/Function.js') }}"></script>       
    <script>AOS.init({ duration: 1200, once: true });</script>
</body>
</html>