<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <a class="navbar-brand d-inline-flex align-items-center" href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='img/logo-t.png') }}" alt="Logo" class="navbar-logo" />
      <span class="navbar-title ms-2">VITARIA. SOS</span>
    </a>

    <!-- Toggle responsive -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end">
      <!-- Botones alineados a la derecha -->
      <div class="d-flex gap-2 ">
        <a href="{{ url_for('home') }}" class="btn btn-primary">
          <i class="bi bi-reply-fill" onclick="location.reload()"></i> Regresar
        </a>
      </div>
    </div>
  </div>
</nav>