{% extends "layout2.html" %} {% include 'navbar2.html' %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/layout2.css') }}"
/>

<script src="{{ url_for('static', filename='js/alert.js') }}"></script>

<div class="container mt-3 d-flex">
    <div
      id="toast"
      class="toast fade align-items-center text-white bg-success border-0 position-fixed top-5 start-50 translate-middle"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      style="z-index: 2000;"
    >
      <div class="d-flex">
        <!-- Aquí entra el mensaje -->
        <div class="toast-body" id="toast-message"></div>
        <!-- Botón de cerrar -->
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          onclick="hideToast()"
        ></button>
      </div>
    </div>
  </div>

<section id="Login" class="section">
  <div class="container py-5 d-flex justify-content-center">
    <div class="registro-form">
      <form method="POST" action="{{ url_for('auth.register') }}">
        <h1 class="form-title text-center">Registrar Usuario</h1>

        <h3 class="form-subtitle text-center fw-bold">Datos Personales</h3>
          <div class="row">
            <div class="col-md-6">
              <!-- Columna izquierda -->
              <div class="form-group">
                <label class="form-label fw-bold">Número de Documento</label>
                <input
                  type="number"
                  name="documento"
                  class="form-control"
                  placeholder="Ingrese número sin espacios,comas o puntos"
                  required
                />
              </div>
              <div class="form-group">
                <label class="form-label fw-bold">Tipo de Documento</label>
                <select name="tipo_documento" class="form-control" required>
                  <option>Seleccione tipo de documento</option>
                  <option value="CC">Cédula de ciudadanía</option>
                  <option value="TI">Tarjeta de Identidad</option>
                  <option value="CE">Cédula de Extranjería</option>
                  <option value="PA">Pasaporte</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label fw-bold">Fecha de Nacimiento</label>
                <input
                  type="date"
                  name="fecha_nacimiento"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <!-- Columna derecha -->
            <div class="col-md-6">
              <div class="form-group w-100">
                <label class="form-label fw-bold">Edad</label>
                <input
                  type="number"
                  name="edad"
                  class="form-control"
                  placeholder="Ingrese edad"
                  required
                />
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label fw-bold">Primer Nombre</label>
                    <input
                      type="text"
                      name="primer_nombre"
                      class="form-control"
                      placeholder="Ingrese primer nombre"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label fw-bold">Segundo Nombre</label>
                    <input
                      type="text"
                      name="segundo_nombre"
                      class="form-control"
                      placeholder="Ingrese segundo nombre"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label fw-bold">Primer Apellido</label>
                    <input
                      type="text"
                      name="primer_apellido"
                      class="form-control"
                      placeholder="Ingrese primer Apellido"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label fw-bold">Segundo Apellido</label>
                    <input
                      type="text"
                      name="segundo_apellido"
                      class="form-control"
                      placeholder="Ingrese segundo Apellido"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        
          <h3 class="form-subtitle text-center fw-bold">Datos de Contacto</h3>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fw-bold">Dirección</label>
                  <input
                    type="text"
                    name="direccion"
                    class="form-control"
                    placeholder="Ingrese dirección de residencia"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fw-bold">Teléfono</label>
                  <input
                    type="number"
                    name="telefono"
                    class="form-control"
                    placeholder="Ingrese número sin espacios"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label fw-bold">Correo Electrónico</label>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Ingrese correo electronico"
                required
              />
            </div>
            <h3 class="form-subtitle text-center fw-bold">Datos de Usuario</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label fw-bold" >Usuario</label>
              <input
                type="text"
                name="username"
                class="form-control"
                placeholder="Ingrese el nombre de usuario que desees"
                required
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label fw-bold">Contraseña</label>
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Cree una contraseña"
                required
              />
            </div>
          </div>
        </div>
        
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-user me-1"></i> Registrar
            </button>
          </div>
          </div>     
      </form>
    </div>
  </div>
</section>
{% endblock %}
