<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body style="font-family:Arial,sans-serif;background-color:#f4f6f9;margin:0;padding:10px;color:black;">
        <div class="container" style="max-width:600px;margin:5% auto;background:white;padding:30px;border-radius:10px;">
            <div class="header" style="text-align:center;font-size:20px;font-weight:bold;margin-bottom:0px;margin-top:0px;">
                <h1 style="margin-top:0px;">
                    GaiaLink
                </h1>
            </div>
            <div>   
                <h2 style="margin-bottom:15px; text-align:center; color:#3b82f6;">
                    Codigo de autenticacion
                </h2>
                <p style="font-size:16px;">
                    Hola <b>[[Nombre]]</b>,
                </p>
                <p style="font-size:16px;">
                    Recibimos una solicitud para ingresar a tu cuenta.
                </p>
                <p style="font-size:16px;">
                    Tu código de verificación es:
                </p>                                                
                <h1 style="text-align:center">
                    [[Codigo]]
                </h1>  
                <p style="font-size:16px;">
                    Si no solicitaste esto, ignora este mensaje.
                </p>                                                              
            </div>
            <p style="text-align:center; color: #777;">
                Haz clic en el siguiente botón para ir a la aplicación:
            </p>
            <p style="text-align:center;">
                <a href="https://gaialink.online" style="display:inline-block;padding:12px 20px;background:#3b82f6;color:white;text-decoration:none;border-radius:6px;">
                    Ir a la App
                </a>
            </p>            
            <div class="footer" style="margin-top:15px;font-size:12px;color:#777;text-align:center;">
                Este es un correo automático. No responder.
            </div>
        </div>
    </body>
</html>