# Entornos virtuales
venv/
env/
.venv/

# Variables de entorno
.env
.env.*
!.env.example

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de compilación
build/
dist/
*.egg-info/

# Configuración de editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log