<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventario de Libros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Global.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark shadow-md sticky-top" style="backdrop-filter: blur(10px); background-color: rgba(56, 56, 56, 0.85);">
    <div class="container">
        <a class="navbar-brand fw-bold" href="#">📚 Biblioteca</a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarModern" aria-controls="navbarModern" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarModern">
        <ul class="navbar-nav ms-auto gap-2 align-items-lg-center mt-3 mt-lg-0">
            <li class="nav-item">
            <a class="nav-link px-3 py-2 rounded" href="/Dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
            <a class="nav-link px-3 py-2 rounded" href="/Catalog/Books/Read/All">Catálogo</a>
            </li>
            <li class="nav-item">
            <a class="nav-link px-3 py-2 rounded active" href="/Inventory/Books/Read/All" >Inventario</a>
            </li>
            <li class="nav-item">
            <a class="nav-link px-3 py-2 rounded" href="#">Papelera</a>
            </li>
            <a class="nav-link cerrar px-3 py-2 rounded" href="#">Salir</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
<div class="container mt-3 mt-md-4">
    <form action="/Inventory/Books/Read/Search" method="get" class="row g-2 align-items-center">
        <div class="col-12 col-md-auto">
            <select name="Field" class="form-select rounded" required>
                <option value="" {% if Datos.Field == '' %}selected{% endif %} disabled>Selecciona un campo</option>
                <option value="Barcode" {% if Datos.Field == 'Barcode' %}selected{% endif %}>Codigo</option>
                <option value="Quantity" {% if Datos.Field == 'Quantity' %}selected{% endif %}>Cantidad</option>
                <option value="Fk_Status" {% if Datos.Field == 'Fk_Status' %}selected{% endif %}>Estado</option>
                <option value="Fk_Location" {% if Datos.Field == 'Fk_Location' %}selected{% endif %}>Locacion</option>
                <option value="Fk_Book" {% if Datos.Field == 'Fk_Book' %}selected{% endif %}>Libro asociado</option>
            </select>
        </div>
        <div class="col-12 col-md-auto flex-grow-1">
            <input type="text" name="Value" class="form-control rounded" placeholder="Escribe tu búsqueda" value="{{ Datos.Value if Datos else '' }}">
        </div>
        <div class="col-6 col-md-auto">
            <button type="submit" class="btn btn-primary rounded w-100">Buscar</button>
        </div>
        <div class="col-6 col-md-auto">
            <a class="btn btn-danger rounded w-100" role="button" id="deleteSelected">Eliminar Seleccion</a>
        </div>
    </form>
</div>
<div class="container mt-3">
    {% if Status == "Error" %}
    <div class="my-3 p-3 bg-danger-subtle text-danger-emphasis border border-danger-subtle rounded">
        Error, Primero debe eliminar el Stock disponible
    </div>
    {% endif %}
    {% if Status == "Success" %}
    <div class="my-3 p-3 bg-success-subtle text-success-emphasis border border-success-subtle rounded">
        Exito, Inventario eliminado con exito
    </div>
    {% endif %}
    {% if Status2 == "Error" %}
    <div class="my-3 p-3 bg-danger-subtle text-danger-emphasis border border-danger-subtle rounded">
        Error, Inventario no modificado
    </div>
    {% endif %}
    {% if Status2 == "Success" %}
    <div class="my-3 p-3 bg-success-subtle text-success-emphasis border border-success-subtle rounded">
        Exito, Inventario modificado con exito
    </div>
    {% endif %}
    <form id="booksForm" method="POST" action="/Inventory/Books/Delete/Selected"></form>             
        <h3 class="mb-4">Inventario de Libros</h3>
        <div class="d-flex justify-content-between align-items-center">
            <div class="my-3 d-flex flex-row">
                <input class="form-check-input me-3" type="checkbox" id="selectAll">
                <h5>Seleccionar Todos</h5>
            </div>    
            <div class="my-3 d-flex flex-row">
                <button class="btn btn-success rounded w-100">Crear</button>
            </div>
        </div>
        <div class="list-group">
            {% for Book in Books %}
            <div class="list-group-item d-flex flex-column flex-md-row align-items-start align-items-md-center shadow-sm mb-3 rounded py-3">
                <input class="form-check-input me-3 mb-2 mb-md-0 selectChild" type="checkbox" value="{{ Book.ID }}"  name="selected_books">
                <div class="me-md-4 mb-2 mb-md-0" style="width: 100px; height: 140px; background: #ddd; display: flex; align-items: center; justify-content: center;">
                    <img src="https://gaialink-books-images.s3.us-east-1.amazonaws.com/Books{{ Book.ID }}.jpg" alt="{{ Book.Title }}" style="max-width: 100%; max-height: 100%;">
                </div>
                <div class="flex-grow-1 mt-2 mt-md-0">      
                    <h5>{{ Book.ID }}</h5>
                    <p class="mb-1"><strong>Cantidad:</strong> {{ Book.Quantity }}</p>
                    <p class="mb-1"><strong>Ubicacion:</strong> {{ Book.Fk_Location }}</p>
                    <p class="mb-1"><strong>Estado:</strong> {{ Book.Fk_Status }}</p>
                    <button type="button" class="btn btn-success btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#modal{{ Book.ID }}">Ver detalles</button>           
                </div>
                <div class="d-flex flex-column">
                    <button type="button" class="btn btn-warning btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#confirmUpdateModal{{ Book.ID }}">Editar</button>
                    <button type="button" class="btn btn-danger btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ Book.ID }}">Eliminar</button>
                </div>
            </div>
            <div class="modal fade align-items-center" id="modal{{ Book.ID }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header text-success-emphasis bg-success">
                            <h5 class="modal-title">{{ Book.ID }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Codigo:</strong> {{ Book.Barcode }}</p>
                            <p><strong>Cantidad:</strong> {{ Book.Quantity }}</p>
                            <p><strong>Fecha de adquisicion:</strong> {{ Book.Acquisition_Date }}</p>
                            <p><strong>Creacion :</strong> {{ Book.Created_At }}</p>
                            <p><strong>Estado:</strong> {{ Book.Fk_Status }}</p>
                            <p><strong>Catalogo:</strong> {{ Book.Fk_Book }}</p>
                            <p><strong>Ubicacion:</strong> {{ Book.Fk_Location }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="confirmDeleteModal{{ Book.ID }}" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header text-danger-emphasis bg-danger">
                            <h5 class="modal-title" id="confirmDeleteLabel">Atención</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro que deseas eliminar este elemento? Esta acción no se puede deshacer.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a id="confirmDeleteBtn" type="button" class="btn btn-danger" href="/Inventory/Books/Delete/{{ Book.ID }}">Sí, eliminar</a>
                        </div>
                    </div>
                </div>
            </div>                 
            <div class="modal fade align-items-center" id="confirmUpdateModal{{ Book.ID }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header text-warning-emphasis bg-warning">
                            <h5 class="modal-title">Modificar libro #{{ Book.ID }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body">
                            <form action="/Inventory/Books/Update/{{ Book.ID }}" method="post">
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Cantidad</label>
                                    <input type="text" class="form-control" name="Quantity" value="{{ Book.Quantity }}">
                                </div>                                
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Estado</label>
                                    <select class="form-select" name="Fk_Status">
                                        <option value="">Seleccione estado</option>
                                        <option value="AVAILABLE" {% if Book.Fk_Status == "AVAILABLE" %}selected{% endif %}>Disponible</option>
                                        <option value="DAMAGED" {% if Book.Fk_Status == "DAMAGED" %}selected{% endif %}>Prestado</option>
                                        <option value="LOANED" {% if Book.Fk_Status == "LOANED" %}selected{% endif %}>Dañado</option>
                                        <option value="LOST" {% if Book.Fk_Status == "LOST" %}selected{% endif %}>Perdido</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Catálogo</label>
                                    <input type="text" class="form-control" name="Fk_Book" value="{{ Book.Fk_Book }}">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Ubicación</label>
                                    <input type="text" class="form-control" name="Fk_Location" value="{{ Book.Fk_Location }}">
                                </div>

                                <div class="alert alert-warning mt-3">
                                    ¿Estás seguro de que deseas modificar este elemento?  
                                    <strong>Esta acción no se puede deshacer.</strong>
                                </div>
                                <div class="text-end">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Cancelar
                                    </button>
                                    <button type="submit" class="btn btn-warning">
                                        Modificar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>         
            {% endfor %}
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='Scripts/Inventory_Read_All.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
