#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: white;
  background-size: cover;
}

#toast {
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

/* NAVBAR */
.custom-navbar {
  background-color: #fdfdfd; 
  box-shadow: 0px 1px 5px 2px #0000005e;
  height: 70px;
}

/* Logo */
.navbar-logo {
  width: 50px;
  height: 50px;
}

/* Título */
.navbar-title {
  font-family: 'Limelight', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #222;
}

/* Botón primario */
.btn-primary {
  background-color: #007bff !important;
  border: none;
  font-weight: 500;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
  height: min-content;
}

.btn-primary:hover {
  background-color: #053e7a !important;
}

.section {
  min-height: max-content; /* mínimo el alto visible */
  display: flex; 
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #c9e7c9, #80a880);
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 4px 5px 10px 0px #00000059;
  margin-top: 10px;
}


/* FOOTER */
.custom-footer {
  background-color: white; 
  padding: 30px 0;
  margin-top: auto;
  font-family: Arial, sans-serif;
  box-shadow: 0px 5px 10px 2px #0000005e;
}

/* Logo */
.logo {
  width: 80px;
  height: auto;
}

/* Títulos */
.footer-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  color: #111;
}

/* Links */
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  text-decoration: none;
  color: #111;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #0056b3;
}

/* Redes sociales */
.social-icon {
  font-size: 20px;
  color: #111;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #0056b3;
}

/* Copyright */
.footer-copy {
  font-size: 12px;
  margin-top: 10px;
  color: #333;
}

/* Contacto */
.footer-contact {
  font-size: 14px;
  color: #111;
}

/*------------------------------------------------------------------------LOGIN----------------------------------------------------------------*/
.login-form {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.288);
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align:start;
  align-items: center;
  justify-content: center;
 width: 40%;           /* ocupa el 40% del ancho */
  max-width: 400px; 

}
.img-form{
  max-width: 150px;
  object-fit: contain;
}

/*-------------------------------------------------------------------------REGISTER----------------------------------------------------------------*/
/* Contenedor del formulario */
.registro-form {
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    max-width: 900px;
    width: 100%;
}

/* Título */
.form-title {
  font-size: clamp(30px, 2vw, 35px);
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    color: #007bff;
}

.form-subtitle {
  font-size: clamp(20px, 1vw, 25px);
  background-color: #007bff;
  color: whitesmoke;
  width:100%;
}

/* Grupos de inputs */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-size: clamp(15px, 0,9vw, 20px);
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #626266;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
    margin-inline-end: 10px;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #007bff;
}

/* Botón */
.btn-submit {
    width: 100%;
    padding: 12px;
    background: #007bff;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background: #0056b3;
}

.modal-header {
  border-bottom: none;
  background-color: #007bff;
  color: white;
}

/* Responsividad: Ajustar botones en pantallas pequeñas */
@media (max-width: 991px) {
  .custom-navbar .navbar-collapse .d-flex {
    flex-direction: column;
    align-items: flex-start; /* Alinea botones a la derecha en el menú colapsado */
    gap: 10px;
    padding: 10px 0;
  }
  .btn-primary {
    width: 50%; 
    text-align: center;
  }
}
