@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body, html {
    scroll-behavior: smooth;
    width: 99.2vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Desktop{
    width: fit-content;
    height: fit-content;
}
.Frame{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    height: fit-content;
    margin-top: 100px;
}
.slot1{
    top: 477px;
}
.Botones{
    height: auto;
    width: 1863px;
    margin-top: 15px;
    gap: 130px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.Boton_Superior{
    height: auto;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 20px; 
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-right: 20px;
    font-weight: bold;
    background-color: #1956EC;
    border-radius: 100px;
    border-color: #517ded;
    border-width: 6px;
    border-style: solid;
    cursor: pointer;
    transition: all 0.3s ease;    
}
.Boton_Superior:hover{
    background-color: #2fb2de;
    transform: scale(1.02);
}
.Boton_Superior_Imagen1{
    width: 40px;
    height: 40px;
}
.Boton_Superior_Imagen2{
    width: 40px;
    height: 40px;
}
.Formulario{
    margin-bottom: 60px;
    width: 33%;
    border-style: solid;
    border-color: #003bcf;
    border-width: 10px;
    display: flex;
    gap: 15px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #ffffff;
    border-radius: 20px;
}
.Formulario_Contenedor_Texto{
    display: flex;
    cursor: default;
    align-items: center;
    font-weight: bold;
    color: black;
    font-size: 45px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
} 
.Imagen_User{
    width: 150px;
    height: 150px;
}
.Formulario_Contenedor{
    width: auto;
    margin-top: 25px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #5883f0;
    border-color: #1956EC;
    border-style: solid;
    border-width: 7px;             
    display: flex;
    align-items: center;
    justify-content: center;    
}
.FormularioAyuda_Input{
    position: relative;
    margin: 10px 0 0 0;
    width: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center; 
}
.FormularioAyuda_Input_Input{
    display: flex;
    width: 80%;
    cursor: pointer;
    border: none;
    border: 3px solid #414141;
    background: white;
    font-size: 16px;
    outline: none;
    border-radius: 15px;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;  
}
.FormularioAyuda_Input_Input1{
    display: flex;
    width: 80%;
    height: 100px;
    cursor: pointer;
    border: none;
    border: 3px solid #414141;
    background: white;
    font-size: 16px;
    outline: none;
    border-radius: 15px;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;  
}
.FormularioAyuda{
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.FormularioAyuda_Boton{
    height: auto;
    padding: 10px 20px; 
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: #1956EC;
    border-radius: 100px;
    border-color: #7b9cf0;
    border-width: 6px;
    border-style: solid;
    cursor: pointer;
    transition: all 0.3s ease;    
}
.FormularioAyuda_Boton:hover{
    background-color: #2fb2de;
    transform: scale(1.02);
}
.Links {   
    text-decoration: none;
    color: #002A91;
    width: auto;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    cursor: default;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;        
}
.Links:hover {
    background-color: transparent;
    color: #2fb2de;
    cursor: pointer;
    text-decoration: underline;
}
.Fotter_Texto{
    color: rgb(106, 106, 106);
    text-decoration: none;
    width: auto;
    height: auto;
    display: inline-block;
    font-size: 16px;
    cursor: default;
    font-weight: 400;
    margin: 0;
    font-family: 'Montserrat', sans-serif;    
}
.Fotter{
    width: auto;
    height: auto;
}