@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body, html {
    scroll-behavior: smooth;
    width: 99.2vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Desktop{
    width: fit-content;
    height: fit-content;
}
.Frame{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-top: 100px;
}
.slot1{
    top: 477px;
}
.Botones{
    height: auto;
    width: 1860px;
    margin-top: 15px;
    gap: 1350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Boton_Superior{
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 20px; 
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: #1956EC;
    border-radius: 100px;
    border-color: #517ded;
    border-width: 6px;
    border-style: solid;
    cursor: pointer;
    transition: all 0.3s ease;    
}
.Boton_Superior:hover{
    background-color: #2fb2de;
    transform: scale(1.02);
}
.Boton_Superior_Imagen1{
    width: 40px;
    height: 40px;
}
.Boton_Superior_Imagen2{
    width: 40px;
    height: 40px;
}
.Formulario{
    margin-top: 40px;
    margin-bottom: 62px;
    width: 33%;
    border-style: solid;
    border-color: #003bcf;
    border-width: 10px;
    display: flex;
    gap: 20px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #ffffff;
    border-radius: 20px;
}
.Formulario_Contenedor_Texto{
    display: flex;
    cursor: default;
    align-items: center;
    font-weight: bold;
    color: black;
    font-size: 45px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.Imagen_User{
    width: 150px;
    height: 150px;
}
.Formulario_Contenedor{
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #5883f0;
    border-color: #1956EC;
    border-style: solid;
    border-width: 7px;        
    display: flex;
    align-items: center;
    justify-content: center;    
}
.FormularioRegistrarse_Input{
    margin: 10px 0 0 0;
    width: 100%;
    align-items: left;
    flex-direction: column;
    display: flex;
}
.Contenedor_Checkbox{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}
.checkbox {
    width: 25px;
    margin-right: 20px;
    height: 25px;
    appearance: none; 
    border: 3px solid #555;
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
    transition: 0.2s;
}
.checkbox:checked {
    background-color: #2760ff;
    border-color: #0235c2;
    position: relative;
}
.checkbox:checked::after {
    content: "X";
    font-size: 16px;
    color: white;
    position: absolute;
    top: 2px;
    left: 4px;
}
.FormularioRegistrarse_Input_Input{
    display: flex;
    width: 80%;
    cursor: pointer;
    border: none;
    border: 3px solid #414141;
    background: white;
    outline: none;
    border-radius: 15px;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;  
}
.FormularioRegistrarse_Input_Input2{
    display: flex;
    width: 248px;
    cursor: pointer;
    border: none;
    border: 3px solid #414141;
    background: white;
    gap: 0;
    outline: none;
    border-radius: 15px;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;  
}
.FormularioRegistrarse_Input_Input3{
    display: flex;
    width: 235px;
    cursor: pointer;
    border: none;
    border: 3px solid #414141;
    background: white;
    gap: 0;
    outline: none;
    border-radius: 15px;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;  
}
.FormularioRegistrarse_Contenedor{
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.FormularioRegistrarse{
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.FormularioRegistrarse_Boton{
    height: auto;
    padding: 10px 20px; 
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: #1956EC;
    border-radius: 100px;
    border-color: #7b9cf0;
    border-width: 6px;
    border-style: solid;
    cursor: pointer;
    transition: all 0.3s ease;    
}
.FormularioRegistrarse_Boton:hover{
    background-color: #2fb2de;
    transform: scale(1.02);
}
.Links {   
    text-decoration: none;
    color: #002A91;
    width: auto;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    cursor: default;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;        
}
.Links:hover {
    background-color: transparent;
    color: #2fb2de;
    text-decoration: underline;
}
.Fotter_Texto{
    color: rgb(106, 106, 106);
    text-decoration: none;
    width: auto;
    height: auto;
    display: inline-block;
    font-size: 16px;
    cursor: default;
    font-weight: 400;
    margin: 0;
    font-family: 'Montserrat', sans-serif;    
}
.Fotter{
    width: auto;
    height: auto;
}
.FormularioRegistrarse_Label{
    margin: 0;
    cursor: default;
    text-align: left;
    font-weight: 400;
    color: rgb(0, 0, 0);
    justify-content: left;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}
span{
    margin: 0;
    cursor: default;
    text-align: left;
    font-weight: 400;
    color: rgb(169, 0, 0);
    justify-content: left;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.FormularioRegistrarse_Contenedor1{
    width: auto;
    height: auto;
}
.FormularioRegistrarse_Titulo{
    cursor: default;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 35px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.Errores {
    background-color: #ffcccc;
    border: 2px solid #ff4d4d;
    color: #990000;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto;
    text-align: left;
    font-weight: 500;
}
.Errores ul {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-left: 20px;
}
.confirmacion {
    background-color: #ccffcc;
    border: 2px solid #4dff4d;
    color: #01a206;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto;
    text-align: left;
    font-weight: 500;
}
.confirmacion ul {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-left: 20px;
}
