<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Login Profesional</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/stile_login.css">
</head>


    
<body>
  <div class="frame">
    <div class="inner">

      <!-- Icono de perfil corporativo -->
      <svg class="avatar-fig" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Icono de perfil">
        <defs>
          <linearGradient id="gA" x1="0" x2="1">
            <stop offset="0%" stop-color="#0f6fbf" />
            <stop offset="100%" stop-color="#7a6dff" />
          </linearGradient>
          <linearGradient id="gB" x1="0" x2="1">
            <stop offset="0%" stop-color="#7a6dff" />
            <stop offset="100%" stop-color="#ff6ea1" />
          </linearGradient>
        </defs>

        <!-- círculo exterior -->
        <circle cx="60" cy="60" r="50" fill="url(#gA)" opacity="0.15" />

        <!-- cabeza -->
        <circle cx="60" cy="50" r="18" fill="url(#gB)" />

        <!-- torso -->
        <path d="M30 95 C34 75, 86 75, 90 95 Z" fill="url(#gA)" />
      </svg>

      <h2>Iniciar sesión</h2>
      <p>Accede de forma segura a tu cuenta.</p>

      
      <form action="http://127.0.0.1:5000/menu" method="POST">
        <label for="user">Usuario</label>
        <input type="text" id="usuario" name= "usuario" placeholder="usuario" required>

        <label for="pass">Contraseña</label>
        <input type="password" id="contraseña" name="contraseña" placeholder="••••••••" required>

        <div class="actions">
          <label><input type="checkbox"> Recuérdame</label>
          <a href="#">¿Olvidaste tu clave?</a>
        </div>

        <button class="btn" type="submit">Acceder</button>

                {%with messages = get_flashed_messages(with_categories=true) %}
                    {%if messages %}
                      {% for category, message in messages %}
                      <p class= "flash-error">{{ message }}</p>
                      {% endfor %}
                    {% endif %}
                {% endwith %}

                
      </form>

      <div class="extra-links">
        <span>¿No tienes cuenta?
          <a href="registro" class="registro-link">Regístrate</a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
