{% extends "layout2.html" %}
{% include 'navbar2.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<script src="{{ url_for('static', filename='js/alert.js') }}"></script>
<script src="{{ url_for('static', filename='js/contador.js') }}"></script>

  <div class="container mt-3 d-flex">
    <div
      id="toast"
      class="toast fade align-items-center text-white bg-success border-0 position-fixed top-5 start-50 translate-middle"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      style="z-index: 2000;"
    >
      <div class="d-flex">
        <!-- Aquí entra el mensaje -->
        <div class="toast-body" id="toast-message"></div>
        <!-- Botón de cerrar -->
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          onclick="hideToast()"
        ></button>
      </div>
    </div>
  </div>
  
<section id="Dashboard" class="section">
  <div class="container mt-3 d-flex">
    <!-- Sidebar fijo -->
    <div class="sidebar">
      <div class="sidebar-header text-center">
        <img src="{{ url_for('static', filename='img/login.png') }}" alt="Admin" class="sidebar-avatar">
        <h5 class="mt-2">Perfil de Usuario</h5>
      </div>
      <ul class="sidebar-menu list-unstyled">
        <li><a href="{{ url_for('user.manage_account') }}">Mi cuenta</a></li>
      </ul>
    </div>

    <!-- Main content expandible -->
    <div class="main-content mb-4">
      <div class="text-center mb-4">
        <h2 class="navbar-title">Bienvenid@ {{ username }}!</h2>
        <h2 class="text">¿Qué deseas hacer?</h2>
      </div>

      <!-- Cards -->
      <div class="container card-group justify-content-center align-items-center">
        <div class="row mb-5 g-4">
          <div class="col-md-6">
            <div class="card h-100 text-center">
              <div class="card-body">
                <img src="{{ url_for('static', filename='img/Register_case.png') }}" alt="btn1" class="card-img">
                <a href="#" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#modalRegistrarCaso">Registrar Caso
                </a>              
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card h-100 text-center">
              <div class="card-body">
                <img src="{{ url_for('static', filename='img/Search_case.png') }}" alt="btn2" class="card-img">
                <a href="{{ url_for('admin.query_cases') }}" class="btn btn-primary mt-3">Consultar mis casos</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="content d-flex flex-column align-items-center justify-content-center mt-2">
        <h2 class="text">Si no sabes que paso seguir puedes ver el siguiente tutorial de uso</h2>
      <div class="align-items-center justify-content-center mt-2">
        <a href="#servicios" class="btn btn-primary">
            <i class="fa fa-info-circle me-1"></i> ¿Cómo funciona?
        </a>
      </div>
    </div>
</section>


<!-- Modal Registrar Caso -->
<div class="modal fade" id="modalRegistrarCaso" tabindex="-1" aria-labelledby="modalRegistrarCasoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="modalRegistrarCasoLabel">Registrar Caso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <form method="POST" action="{{ url_for('user.register_case') }}">
          
          <!-- Fecha -->
          <div class="mb-3">
            <label for="fecha" class="form-label">Fecha
              <br>
              <small id="fechahelp" class="form-text text-muted">Ingrese la fecha en la que ocurrieron los hechos</small></label>
            <input type="date" name="fecha" class="form-control" required>
          </div>

          <!-- Descripción -->
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción<br><small id="descripcionhelp" class="form-text text-muted">Ingrese una descripción breve de los hechos que no supere los 2000 carácteres</small></label>
            <textarea name="descripcion" id="descripcion" maxlength="2000" class="form-control" rows="3" required></textarea>
            <div id="contador" class="form-text">0/2000 carácteres</div>
            
          </div>

          <!-- Dirección -->
          <div class="mb-3">
            <label for="direccion" class="form-label">Dirección
            <br>
            <small id="direccionhelp" class="form-text text-muted">Ingrese dirección donde el hecho ocurrió</small>
          </label>
            <input type="text" name="direccion" id="direccion" class="form-control" required>
          </div>


          <!-- Personas afectadas -->
          <div class="mb-3">
            <label for="personas_afectadas" class="form-label">Personas afectadas            
            <br>
            <small id="personasehelp" class="form-text text-muted">Ingrese el número de personas de su núcleo familiar afectadas por el desastre</small>
          </label>
            <input type="number" name="personas_afectadas" id="personas_afectadas" class="form-control" required>
          </div>

          <!-- Tipo de desastre -->
          <div class="mb-3">
            <label for="tipo_desastre" class="form-label">Tipo de desastre
              <br>
              <small id="desastrehelp" class="form-text text-muted">Seleccione el desastre ocurrido</small>
            </label>
            <select name="tipo_desastre" id="tipo_desastre" multiple class="form-control" required>
              <option value="In">Incendio</option>
              <option value="Inund">Inundación</option>
              <option value="SI-T">Sismo / Temblor</option>
              <option value="Ter">Terremoto</option>
            </select>

          </div>

          <!-- Ciudad o Municipio -->
          <div class="mb-3">
            <label for="Ciudad" class="form-label">Ciudad/Municipio
              <br>
              <small id="ciudadhelp" class="form-text text-muted">Seleccione la ciudad o municipio donde ocurrieron o el más cercano al lugar de los hechos</small></label>
            <select name="ciudad" id="ciudad" multiple class="form-select" size="4" required>
              <option value="AGD">Agua de Dios</option>
              <option value="ALB">Albán</option>
              <option value="ANA">Anapoima</option>
              <option value="ANO">Anolaima</option>
              <option value="APU">Apulo</option>
              <option value="ARB">Arbeláez</option>
              <option value="BEL">Beltrán</option>
              <option value="BIT">Bituima</option>
              <option value="BOJ">Bojacá</option>
              <option value="CAB">Cabrera</option>
              <option value="CAC">Cachipay</option>
              <option value="CAJ">Cajicá</option>
              <option value="CAP">Caparrapí</option>
              <option value="CAQ">Cáqueza</option>
              <option value="CAR">Carmen de Carupa</option>
              <option value="CHA">Chaguaní</option>
              <option value="CHI">Chía</option>
              <option value="CHP">Chipaque</option>
              <option value="CHO">Choachí</option>
              <option value="CHC">Chocontá</option>
              <option value="COG">Cogua</option>
              <option value="COT">Cota</option>
              <option value="CUC">Cucunubá</option>
              <option value="COL">El Colegio</option>
              <option value="PEN">El Peñón</option>
              <option value="ROS">El Rosal</option>
              <option value="FAC">Facatativá</option>
              <option value="FOM">Fómeque</option>
              <option value="FOS">Fosca</option>
              <option value="FUN">Funza</option>
              <option value="FUQ">Fúquene</option>
              <option value="FUS">Fusagasugá</option>
              <option value="GAC">Gachalá</option>
              <option value="GAN">Gachancipá</option>
              <option value="GAT">Gachetá</option>
              <option value="GAM">Gama</option>
              <option value="GIR">Girardot</option>
              <option value="GRA">Granada</option>
              <option value="GUA">Guachetá</option>
              <option value="GUD">Guaduas</option>
              <option value="GUS">Guasca</option>
              <option value="GUQ">Guataquí</option>
              <option value="GUV">Guatavita</option>
              <option value="GUSI">Guayabal de Síquima</option>
              <option value="GUY">Guayabetal</option>
              <option value="GUT">Gutiérrez</option>
              <option value="JER">Jerusalén</option>
              <option value="JUN">Junín</option>
              <option value="LAC">La Calera</option>
              <option value="LAM">La Mesa</option>
              <option value="LAP">La Palma</option>
              <option value="LPE">La Peña</option>
              <option value="LVE">La Vega</option>
              <option value="LEN">Lenguazaque</option>
              <option value="MAC">Machetá</option>
              <option value="MAD">Madrid</option>
              <option value="MAN">Manta</option>
              <option value="MED">Medina</option>
              <option value="MOS">Mosquera</option>
              <option value="NAR">Nariño</option>
              <option value="NEM">Nemocón</option>
              <option value="NIL">Nilo</option>
              <option value="NIM">Nimaima</option>
              <option value="NOC">Nocaima</option>
              <option value="PAC">Pacho</option>
              <option value="PAI">Paime</option>
              <option value="PAN">Pandi</option>
              <option value="PAR">Paratebueno</option>
              <option value="PAS">Pasca</option>
              <option value="PSA">Puerto Salgar</option>
              <option value="PUL">Pulí</option>
              <option value="QUE">Quebradanegra</option>
              <option value="QET">Quetame</option>
              <option value="QUI">Quipile</option>
              <option value="RIC">Ricaurte</option>
              <option value="SAT">San Antonio del Tequendama</option>
              <option value="SBE">San Bernardo</option>
              <option value="SCY">San Cayetano</option>
              <option value="SFR">San Francisco</option>
              <option value="SJR">San Juan de Rioseco</option>
              <option value="SAS">Sasaima</option>
              <option value="SES">Sesquilé</option>
              <option value="SIB">Sibaté</option>
              <option value="SIL">Silvania</option>
              <option value="SIM">Simijaca</option>
              <option value="SOA">Soacha</option>
              <option value="SOP">Sopó</option>
              <option value="SUB">Subachoque</option>
              <option value="SUE">Suesca</option>
              <option value="SUP">Supatá</option>
              <option value="SUS">Susa</option>
              <option value="SUT">Sutatausa</option>
              <option value="TAB">Tabio</option>
              <option value="TAU">Tausa</option>
              <option value="TEN">Tenjo</option>
              <option value="TNA">Tena</option>
              <option value="TIB">Tibacuy</option>
              <option value="TIR">Tibirita</option>
              <option value="TOC">Tocaima</option>
              <option value="TCP">Tocancipá</option>
              <option value="TOP">Topaipí</option>
              <option value="UBA">Ubalá</option>
              <option value="UBQ">Ubaque</option>
              <option value="UBT">Ubaté</option>
              <option value="UNE">Une</option>
              <option value="UTI">Útica</option>
              <option value="VEN">Venecia</option>
              <option value="VER">Vergara</option>
              <option value="VIA">Vianí</option>
              <option value="VGO">Villagómez</option>
              <option value="VPN">Villapinzón</option>
              <option value="VIL">Villeta</option>
              <option value="VIO">Viotá</option>
              <option value="YAC">Yacopí</option>
              <option value="ZIPA">Zipaquirá</option>
              <option value="ZIPC">Zipacón</option>
            </select>
            
          </div>

          <!-- Footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Registrar Caso</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/contador.js') }}"></script>

{% endblock %}
