html, body {
    width: 100vw;
    height: auto;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Great Vibes';
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.Cuadro1{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 93%;
    border: 8px solid rgb(112, 112, 112);
    border-radius: 0 20px 0 20px;
}
.Cuadro1 h1{
    width: fit-content;
    font-weight: bold;
    margin: 0;
    font-size: 55px;
    justify-content: center;
    display: flex;
}
.Cuadro1 h2{
    margin-top: 160px;
    width: fit-content;
    font-weight: bold;
    color:#7cc4fc;
    margin: 0;
    font-size: 70px;
    justify-content: center;
    display: flex;
    -webkit-text-stroke: 0.1px #005690;
}
.solapa{
    width: 330px;
    left: 0.5%;
    z-index: -1;
    top: 3%;
    position: absolute;
}
.solapa.animar {
    animation: subir 1s ease forwards;
}
.flores_esquina{
    width: 300px;
    height: 300px;
    transform: rotate(-90deg);
}
.flores_esquina_cont{
    position: fixed;
    z-index: 10;
    bottom: -23px;
    right: -23px;
    width: 300px;
    height: 300px;
}
.flores_esquina2{
    width: 300px;
    height: 300px;
    transform: rotate(90deg);
}
.flores_esquina_cont2{
    position: fixed;
    z-index: 10;
    top: -23px;
    left: -23px;
    width: 300px;
    height: 300px;
}
.crown{
    z-index: 5;
    width: 180px;
    height: 120px;
    animation: up-down 3s ease-in-out infinite;
}
.crown-cont{
    margin-top: 110px;
    width: fit-content;
    height: fit-content;
}
.sobre{
    width: 330px;
    height: 210px;
    border-radius: 12px;
}
.sello{
    width: 80px;
    padding: 0;
    margin: 0;
    height: 80px;
}
.sobre-cont{
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    animation: sobre 0.8s linear infinite;
}
.mariposa1{
    z-index: 10000;
    bottom: 60px;
    left: 1px;
    opacity: 0;
    position: absolute;
    width: fit-content;
    height: fit-content;
    animation: mariposa1 1.1s linear; 
}
.mariposa3{
    z-index: 10000;
    bottom: 260px;
    left: 1px;
    opacity: 0;
    position: absolute;
    width: fit-content;
    height: fit-content;
    animation: mariposa3 1.5s linear;
}
.mariposa4{
    z-index: 10000;
    bottom: 360px;
    left: 1px;
    opacity: 0;
    position: absolute;
    width: fit-content;
    height: fit-content;
    animation: mariposa4 1.2s linear;
}
.mariposa5{
    z-index: 10000;
    bottom: 460px;
    left: 1px;
    opacity: 0;
    position: absolute;
    width: fit-content;
    height: fit-content;
    animation: mariposa5 1.8s linear;
}
.mariposa{
    width: 50px;
    height: 50px;
    animation: aleteo 0.5s ease-in-out infinite;
}
.Boton_Sello{
    border-radius: 100px;
    background-color: #d8f1fa00;
    border-color: #d8f1fa00;
    position: absolute;
    top: 45%;
    right: 38.5%;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 80px;
    transition: all 0.3s ease;
}
.decorado{
    position: absolute;
    z-index: 10000;
    right: 20.5%;
    height: 80px;
    width: 200px;
}
.Boton_Sello:hover{
    transform: scale(1.1);
}
.ocultar {
    opacity: 0;
}
.ocultar2 {
    display: None;
}
.luz{
    position: absolute;
    z-index: 10000;
    right: 53%;
    top: 42%;
    width: 50px;
    height: 50px;
    animation: luz 3s ease-in-out infinite;
}
.Frame {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;    
}
.Frame.visible {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;    flex-direction: column;
}
.Frame2 {
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;    
}
.Frame2.visible {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content; 
}
.luz2{
    position: absolute;
    z-index: 10000;
    left: 42%;
    top: 10%;
    width: 50px;
    height: 50px;
    animation: luz 3s ease-in-out infinite;
}
.luz3{
    position: absolute;
    z-index: 10000;
    left: 69%;
    top: 35%;
    width: 50px;
    height: 50px;
    animation: luz 3s ease-in-out infinite;
}
seccion{
    height: 280px;
    width: 100vw;
}
.contador{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
#seccion2,
#seccion4,
#seccion6,
#seccion8,
#seccion10{
    background-color: #898989;
}
#seccion2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#seccion2 h1{
    font-family: "Roboto Slab";
    color: white;
    font-size: 50px;
    margin: 0;
}
#seccion2 h2{
    font-family: 'Dancing Script';
    color: white;
    font-size: 28px;
    margin: 0;
}
#seccion2 h3{
    font-family: 'Dancing Script';
    color: white;
    font-size: 50px;
    margin: 0;
}
#seccion3 h1{
    font-family: 'Dancing Script', sans-serif;
    color: rgb(10, 10, 10);
    text-align: center;
    font-size: 50px;
    margin: 0;
}
#seccion3 h2{
    font-family: 'Dancing Script', sans-serif;
    color: rgb(2, 88, 218);
    text-align: center;
    font-size: 37px;
    margin: 0;
}
#seccion3 h3{
    font-family: 'Dancing Script', sans-serif;
    color: rgb(10, 10, 10);
    text-align: center;
    font-size:37px;
    margin: 0;
}
#seccion3 h4{
    font-family: "Roboto Slab", sans-serif;
    color: rgb(10, 10, 10);
    width: 70%;
    text-align: center;
    font-size: 20px;
    margin: 0;
}
#seccion3 h5{
    font-family: 'Great Vibes', sans-serif;
    font-weight: bold;
    color:#7cc4fc;
    margin: 0;
    font-size: 65px;
    -webkit-text-stroke: 0.1px #005690;
}
#seccion3 h2{
    font-family: 'Dancing Script', sans-serif;
    color: rgb(0, 159, 187);
    font-size: 45px;
    margin: 0;
}
#seccion3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    padding: 20px 0 20px 0;
    justify-content: space-evenly;
}
.Laura{
    width: 80%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-mask:
        radial-gradient(circle 30px at top left, transparent 98%, black 100%),
        radial-gradient(circle 30px at top right, transparent 98%, black 100%),
        radial-gradient(circle 30px at bottom left, transparent 98%, black 100%),
        radial-gradient(circle 30px at bottom right, transparent 98%, black 100%);
    -webkit-mask-composite: source-in;
    background: linear-gradient(to bottom, rgb(172, 161, 0), rgb(255, 238, 0), rgb(172, 161, 0));
}
.Laura2 h5 span {
    display: block;
    margin-left: 70px;
}
.Laura2{
    width: 96%;
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-mask:
        radial-gradient(circle 30px at top left, transparent 98%, black 100%),
        radial-gradient(circle 30px at top right, transparent 98%, black 100%),
        radial-gradient(circle 30px at bottom left, transparent 98%, black 100%),
        radial-gradient(circle 30px at bottom right, transparent 98%, black 100%);
    -webkit-mask-composite: source-in;
    background-color: rgb(255, 243, 153);
}
.flores1{
    width: 100px;
    height: 180px;
}
.flores2{
    width: 100px;
    height: 180px;
    transform: scaleX(-1);
}
.flores1a{
    width: 100px;
    height: 180px;
    top: 64%;
    left: 0%;
    position: absolute;

}
.flores2a{
    width: 100px;
    height: 180px;
    top: 64%;
    right: 0%;
    position: absolute;
}
#seccion4{
    display: flex;
    padding: 10px 0 10px 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#seccion4 h1{
    font-family: 'Dancing Script', sans-serif;
    color: rgb(10, 10, 10);
    text-align: center;
    font-size: 50px;
    margin: 0;
}
#seccion4 h2{
    font-family: 'Roboto Slab', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 400;
    font-size: 34px;
    margin: 0;
}
#seccion4 h3{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 37px;
    margin: 0;
}
.fecha{
    display: flex;
    gap: 15px;
    flex-direction: row;
}
.Dia{
    width: fit-content;
    height: fit-content;
    padding: 3px 13px 3px 13px;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
}
.arco1{
    width: 100%;
    height: 100%;
    transform: rotate(1deg);
}
.arco12{
    width: 30%;
    height: 13%;
    padding-right: 12px;
}
.arco{
    width: 100%;
    height: 100%;
}
.arco2{
    width: 30%;
    height: 15%;
    padding-right: 12px;
}
.faltan1{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.floresesquina1{
    width: 100px;
    height: 100px;
}
.floresesquina2{
    width: 100px;
    height: 100px;
    transform: scaleX(-1);
}
.floresesquina11{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30.6%;
    left: 0%;    
}
.floresesquina21{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30.6%;
    right: 0%;
}
@keyframes up-down {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px) scale(1.05);
    }
}
@keyframes mariposa1 {
    10% {
        opacity: 1;
    }
    100% {
        transform: translate(400px, -150px);
        opacity: 1;
    }
}
@keyframes mariposa3 {
    10% {
        opacity: 1;
    }
    100% {
        transform: translate(400px, -180px);
        opacity: 1;
    }
}
@keyframes mariposa4 {
    10% {
        opacity: 1;
    }
    100% {
        transform: translate(400px, -150px);
        opacity: 1;
    }
}
@keyframes mariposa5 {
    10% {
        opacity: 1;
    }
    100% {
        transform: translate(400px, -100px);
        opacity: 1;
    }
}
@keyframes aleteo {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-10px) rotate(2deg);  
    }
    100% {
        transform: translateY(0) rotate(-2deg);
    }
}
@keyframes sobre {
    0%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(0.7deg);
    }
    66%{
        transform: rotate(-0.7deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes luz {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    25%{
        transform: scale(1.2);
        opacity: 1;
    }
    50%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(0);
    }
}
@keyframes subir {
    0%{

    }
    100%{
        transform: translateY(-100%);
    }
}