<div class="container-fluid p-3 p-md-4 align-items-center d-flex w-100 h-100 flex-column Bg_Blanco2 gap-2 gap-md-4">
    <h2 class="w-100 d-flex justify-content-between">
        Inicio > Entidades
        <a href="{{ url_for('Dashboard_Admin_Inicio') }}" class="Bg_Morado d-inline-flex boton4 text-white px-2 py-2 text-decoration-none fw-light gap-2 align-items-center justify-content-center Bg_Sombra">
            <img class="icono-nav4" src="{{ url_for('static', filename='img/Home.svg') }}">
        </a>           
    </h2>
    <div class="row justify-content-around align-items-stretch w-100 gap-3 gap-xl-0">
        <a href="/dashboard/admin/casos" class="col-3-custom col-12 col-md-11 Bg_Blanco rounded-3 d-flex flex-column border-5 border-bottom Border_Morado2 bg-white p-3 gap-3 Bg_Sombra3 Card_Hover text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/Buscar.svg') }}" class="icono-nav3 p-2 Bg_Morado3 rounded-3">
            <div>
                <h2 class="fsr-12 fw-semibold m-0">
                    Buscar entidades
                </h2>
                <p class="fsr-16 text-muted m-0">
                    Consulta las entidades existentes y
                    verifica sus detalles y estado.
                </p>
            </div>
        </a>
        <a href="/dashboard/admin/entidades" class="col-3-custom col-12 col-md-11 Bg_Blanco rounded-3 d-flex flex-column border-5 border-bottom Border_Morado2 bg-white p-3 gap-3 Bg_Sombra3 Card_Hover text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/Crear.svg') }}" class="icono-nav3 p-2 Bg_Morado3 rounded-3">
            <div>
                <h2 class="fsr-12 fw-semibold m-0">
                    Crear entidades
                </h2>
                <p class="fsr-16 text-muted m-0">
                    Registra una nueva entidad y
                    agrega toda la información relevante.
                </p>
            </div>
        </a>
        <a href="/dashboard/admin/usuarios" class="col-3-custom col-12 col-md-11 Bg_Blanco rounded-3 d-flex flex-column border-5 border-bottom Border_Morado2 bg-white p-3 gap-3 Bg_Sombra3 Card_Hover text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/Modificar.svg') }}" class="icono-nav3 p-2 Bg_Morado3 rounded-3">
            <div>
                <h2 class="fsr-12 fw-semibold m-0">
                    Modificar entidades
                </h2>
                <p class="fsr-16 text-muted m-0">
                    Actualiza los datos de una entidad y
                    mantén su información correcta y vigente.
                </p>
            </div>
        </a>
        <a href="/dashboard/admin/ajustes" class="col-3-custom col-12 col-md-11 Bg_Blanco rounded-3 d-flex flex-column border-5 border-bottom Border_Morado2 bg-white p-3 gap-3 Bg_Sombra3 Card_Hover text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/Eliminar.svg') }}" class="icono-nav3 p-2 Bg_Morado3 rounded-3">
            <div>
                <h2 class="fsr-12 fw-semibold m-0">
                    Eliminar entidades
                </h2>
                <p class="fsr-16 text-muted m-0">
                    Remueve una entidad del sistema y
                    mantén la base de datos organizada.
                </p>
            </div>
        </a>
    </div>
</div>