<div class="container-fluid p-3 p-md-4 align-items-center d-flex w-100 h-100 flex-column Bg_Blanco2 gap-2 gap-md-4">
    <div class="w-100 d-flex justify-content-between px-0 px-sm-3 mb-2 mb-sm-0">
        <div class="d-flex gap-1 gap-sm-3 my-0 my-sm-2">
            <a href="{{ url_for('Dashboard_Admin_Inicio') }}" class="d-none d-sm-block Bg_Morado d-inline-flex boton4 text-white p-2 text-decoration-none fw-light gap-2 align-items-center justify-content-center Bg_Sombra">
                <img class="icono-nav4 m-1" src="{{ url_for('static', filename='img/Home.svg') }}">
            </a>        
            <span class="m-0 d-flex align-items-center fsr-10 fw-bold">
                Inicio > Casos
            </span>
        </div>
        <div class="d-flex gap-3 align-items-center justify-content-center">
            <li class="nav-item dropdown list-unstyled fs-nav-1">
                <a class="dropdown-toggle d-flex justify-content-center align-items-center text-decoration-none text-dark fsr-11 fw-bold align-items-center gap-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="m-0 d-none d-sm-block" style="width: 25px" src="{{ url_for('static', filename='img/Arrow_Dark.svg') }}">
                    <img class="rounded-circle icono-nav5 imagen_usuario">
                </a>
                <ul class="dropdown-menu Bg_Blanco p-2 border-round">
                    <li>
                        <div class="d-flex align-items-center fs-5 justify-content-start text-black gap-2 px-2" href="#">
                            <img class="icono-nav6 rounded-circle imagen_usuario">
                            <span id="User_Name2">
                                Usuario
                            </span>
                        </div>
                    </li>                    
                    <div class="dropdown-divider"></div>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2" href="#">
                            <img src="{{ url_for('static', filename='img/User_Black.svg') }}" class="icono-nav4">
                            Mis datos
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2" href="/dashboard/preferencias">
                            <img src="{{ url_for('static', filename='img/Gear_Black.svg') }}" class="icono-nav4">
                            Ajustes
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2" href="#">
                            <img src="{{ url_for('static', filename='img/Help_Black.svg') }}" class="icono-nav4">
                            Ayuda
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <button id="Button_Cerrar" class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-danger fw-medium gap-2 px-2">
                            <img src="{{ url_for('static', filename='img/Log_Out.svg') }}" class="icono-nav7">
                            Cerrar sesion
                        </button>
                    </li>                                                                          
                </ul>
            </li>
        </div>  
    </div>
    <div id="Casos_Busqueda" class="row justify-content-start align-items-stretch w-100 gap-3 p-0">
        <div class="p-0 d-flex flex-row gap-2">
            <button data-bs-target="#ModalCreate" data-bs-toggle="modal" type="button" class="btn btn-success fsr-15 boton7 d-flex align-items-center justify-content-center gap-2">
                <img src="{{ url_for('static', filename='img/PlusWhite.svg') }}" class="icono-nav2">
                Crear Caso
            </button>               
            <button type="button" class="btn Bg_Azul4 fsr-15 boton12 d-flex align-items-center justify-content-center gap-2">
                <img src="{{ url_for('static', filename='img/Filter.svg') }}" class="icono-nav2">
                Filtar
            </button>               
        </div>
    </div>
    <div class="row justify-content-start w-100 gap-2">   
        <div class="dropdown p-0 w-100 align-items-center justify-content-start d-flex gap-2">
            <button class="Bg_Oscuro2 rounded-2 border-0 p-2 py-1 dropdown-toggle d-flex flex-row gap-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Estado
                <img class="m-0 d-none d-sm-block" style="width: 20px" src="{{ url_for('static', filename='img/Arrow_Dark.svg') }}">
            </button>
            <ul class="dropdown-menu p-2">
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="pendiente" id="estadoPendiente">
                        <label class="form-check-label" for="estadoPendiente">
                            Pendiente
                        </label>
                    </div>
                </li>
            </ul>
            <button class="Bg_Oscuro2 rounded-2 border-0 p-2 py-1 dropdown-toggle d-flex flex-row gap-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Estado
                <img class="m-0 d-none d-sm-block" style="width: 20px" src="{{ url_for('static', filename='img/Arrow_Dark.svg') }}">
            </button>
            <ul class="dropdown-menu p-2">
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="pendiente" id="estadoPendiente">
                        <label class="form-check-label" for="estadoPendiente">
                            asd
                        </label>
                    </div>
                </li>
            </ul>            
        </div>                                                
    </div>
</div>