<div class="container-fluid p-3 p-md-4 align-items-center d-flex w-100 h-100 flex-column Bg_Blanco2 gap-3 gap-xxl-4">
    <div class="w-100 d-flex justify-content-between px-0 mb-2 mb-sm-0">
        <div class="d-flex gap-1 gap-sm-3 my-0 my-sm-2">
            <a href="{{ url_for('Dashboard_Admin_Inicio') }}" class="d-none d-sm-block Bg_Morado d-inline-flex boton4 text-white p-2 text-decoration-none fw-light gap-2 align-items-center justify-content-center Bg_Sombra color_morado2">
                <img class="icono-nav4 m-1" src="{{ url_for('static', filename='img/Home.svg') }}">
            </a>        
            <span class="m-0 d-flex align-items-center fsr-10 fw-bold color_blanco">
                Inicio > Ajustes
            </span>
        </div>
        <div class="d-flex gap-3 align-items-center justify-content-center">
            <li class="nav-item dropdown list-unstyled fs-nav-1">
                <a class="dropdown-toggle d-flex justify-content-center align-items-center text-decoration-none text-dark fsr-11 fw-bold align-items-center gap-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img id="Arrow_Usuario" class="m-0 d-none d-sm-block" style="width: 25px" src="{{ url_for('static', filename='img/Arrow_Dark.svg') }}">
                    <img class="rounded-circle icono-nav5 imagen_usuario">
                    <div class="icono-nav5 rounded-circle d-none bg-info-subtle text-center d-flex justify-content-center align-items-center text-info-emphasis fw-normal"></div>
                </a>
                <ul class="dropdown-menu Bg_Blanco Bg_Blanco0 p-2 border-round">
                    <li>
                        <div class="d-flex align-items-center fs-5 justify-content-start text-black gap-2 px-2 color_blanco" href="#">
                            <img class="icono-nav6 rounded-circle imagen_usuario">
                            <div class="icono-nav6 rounded-circle d-none bg-info-subtle text-center d-flex justify-content-center align-items-center text-info-emphasis fw-normal"></div>
                            <span id="User_Name2">
                                Usuario
                            </span>
                        </div>
                    </li>                    
                    <div class="dropdown-divider"></div>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2 color_blanco" href="/dashboard/cuenta">
                            <img id="Datos_Usuario" src="{{ url_for('static', filename='img/User_Black.svg') }}" class="icono-nav4">
                            Mis datos
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2 color_blanco" href="/dashboard/help">
                            <img id="Ayuda_Usuario" src="{{ url_for('static', filename='img/Help_Black.svg') }}" class="icono-nav4">
                            Ayuda
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <button id="Button_Cerrar" class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-danger fw-medium gap-2 px-2">
                            <img src="{{ url_for('static', filename='img/Log_Out.svg') }}" class="icono-nav7">
                            Cerrar sesion
                        </button>
                    </li>                                                                          
                </ul>
            </li>
        </div>  
    </div>  
    <div id="Cont_Cuenta" class="h-100 w-100 flex-column d-flex justify-content-center align-items-center mt-3 mt-sm-0">
        <div class="row h-100 w-86-2 gx-0 gx-sm-4">
            <div class="col col-md-auto m-0 d-flex flex-column gap-4 mb-4 mb-md-0" style="max-height: 85vh;">
                <div class="Bg_Blanco rounded-4 d-flex flex-column justify-content-start p-4 px-5 align-items-center gap-0 gap-xxl-2">
                    <img class="rounded-circle icono-nav11 imagen_usuario">
                    <div class="icono-nav11 fsr-10 rounded-circle d-none bg-info-subtle text-center d-flex justify-content-center align-items-center text-info-emphasis fw-medium"></div>                    
                    <h2 class="color_blanco fsr-11 m-0">
                        {{ Usuario["Nombre"] }}
                    </h2>
                    <h2 class="color_blanco2 fsr-13">
                        {{ Usuario["Correo"] }}
                    </h2>    
                    <h2 class="color_blanco fsr-14 rounded-3 py-1 px-2" id="Rol_Cuenta">
                        {{ Usuario["Rol"] }}
                    </h2>    
                    <h2 class="color_blanco fsr-14 rounded-3 py-1 px-2" id="Estado_Cuenta">
                        {{ Usuario["Estado"] }}
                    </h2>               
                    <h2 class="color_blanco2 fsr-15">
                        Creado en {{ Usuario["Creado_En"].split("T")[0].split("-")[2] }}/{{ Usuario["Creado_En"].split("T")[0].split("-")[1] }}/{{ Usuario["Creado_En"].split("T")[0].split("-")[0] }}
                    </h2>                                                                                 
                </div>
                <div class="Bg_Blanco h-100 rounded-4">
                    <ul class="p-0 m-0 list-unstyled h-100 d-flex flex-column">
                        <li id="list_1" class="List_Cuenta d-flex flex-grow-1 rounded-top-4 background_active">
                            <button data-target="1" class="Boton_Cuenta_Seccion bg-transparent p-0 border-0 color_blanco w-100 d-flex justify-content-start align-items-center p-3 p-md-2 px-4 px-md-4 gap-3">
                                <div class="back_blanco rounded-circle" style="width: 10px; height: 10px;"></div>
                                <h2 class="m-0 fsr-12 fw-normal">
                                    Mis datos
                                </h2>
                            </button>
                        </li>
                        <hr class="m-0 border-2 rounded-1 Bg_hr">
                        <li id="list_2" class="List_Cuenta d-flex justify-content-center flex-grow-1">
                            <button data-target="2" class="Boton_Cuenta_Seccion bg-transparent p-0 border-0 color_blanco w-100 d-flex justify-content-start align-items-center p-3 p-md-2 px-4 px-md-4 gap-3">
                                <div class="back_blanco rounded-circle" style="width: 10px; height: 10px;"></div>
                                <h2 class="m-0 fsr-12 fw-normal">
                                    Ubicación
                                </h2>
                            </button>
                        </li>
                        <hr class="m-0 border-2 rounded-1 Bg_hr">
                        <li id="list_3" class="List_Cuenta d-flex justify-content-center flex-grow-1">
                            <button data-target="3" class="Boton_Cuenta_Seccion bg-transparent p-0 border-0 color_blanco w-100 d-flex justify-content-start align-items-center p-3 p-md-2 px-4 px-md-4 gap-3">
                                <div class="back_blanco rounded-circle" style="width: 10px; height: 10px;"></div>
                                <h2 class="m-0 fsr-12 fw-normal">
                                    Seguridad
                                </h2>
                            </button>
                        </li>
                        <hr class="m-0 border-2 rounded-1 Bg_hr">
                        <li id="list_4" class="List_Cuenta d-flex justify-content-center flex-grow-1">
                            <button data-target="4" class="Boton_Cuenta_Seccion bg-transparent p-0 border-0 color_blanco w-100 d-flex justify-content-start align-items-center p-3 p-md-2 px-4 px-md-4 gap-3">
                                <div class="back_blanco rounded-circle" style="width: 10px; height: 10px;"></div>
                                <h2 class="m-0 fsr-12 fw-normal">
                                    Cuenta
                                </h2>
                            </button>
                        </li>
                        <hr class="m-0 border-2 rounded-1 Bg_hr">
                        <li id="list_5" class="List_Cuenta d-flex justify-content-center flex-grow-1">
                            <button data-target="5" class="Boton_Cuenta_Seccion bg-transparent p-0 border-0 color_blanco w-100 d-flex justify-content-start align-items-center p-3 p-md-2 px-4 px-md-4 gap-3">
                                <div class="back_blanco rounded-circle" style="width: 10px; height: 10px;"></div>
                                <h2 class="m-0 fsr-12 fw-normal">
                                    Preferencias
                                </h2>
                            </button>
                        </li>
                        <hr class="m-0 border-2 rounded-1 Bg_hr">
                        <li id="list_6" class="List_Cuenta d-flex justify-content-center flex-grow-1 rounded-bottom-4">
                            <button data-target="6" class="Boton_Cuenta_Seccion bg-transparent p-0 border-0 text-danger w-100 d-flex justify-content-start align-items-center p-3 p-md-2 px-4 px-md-4 gap-3">
                                <div class="bg-danger rounded-circle" style="width: 10px; height: 10px;"></div>
                                <h2 class="m-0 fsr-12 fw-normal">
                                    Eliminacion
                                </h2>
                            </button>
                        </li>
                    </ul>
                </div>                
            </div>
            <div id="seccion_1" class="col m-0 Seccion_Cuenta gap-3 d-flex flex-column">
                <div class="Bg_Blanco rounded-4">
                    <div class="row g-0 p-4">
                        <h2 class="fsr-11 color_blanco m-0 mb-1">
                            Información personal
                        </h2>
                        <hr class="m-0 mb-3 border-2 rounded-2 Bg_hr">
                        <div class="w-100 d-flex align-items-center justify-content-center">
                            <div id="Error_Generico" class="text-center fsr-14 align-items-center justify-content-center rounded-3 d-none p-2 mb-2">
                                Mensaje Generico
                            </div>                         
                        </div>
                        <div class="col-12 col-md-6 px-0 px-sm-3 d-flex flex-column gap-3">
                            <div>
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Primer nombre
                                </p>
                                <input pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+" minlength="2" type="text" value="{{ Usuario['Primer_Nombre'] }}" required name="Primer_Nombre" class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">
                            </div>                                      
                            <div>
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Primer apellido
                                </p>
                                <input pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+" minlength="2" type="text" value="{{ Usuario['Primer_Apellido'] }}" required name="Primer_Apellido" class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">
                            </div>  
                            <div>
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Tipo de documento
                                </p>
                                <select required name="Tipo_Documento" class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">
                                    {% for tipo in Datos["Tipos"] %}
                                        <option value="{{ tipo['ID'] }}" {% if tipo['Abreviatura'] == Usuario['Tipo_Documento'] %} selected {% endif %}>
                                            {{ tipo['Nombre'] }}
                                        </option>
                                    {% endfor %}
                                </select>                                                          
                            </div>
                            <div>
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Telefono
                                </p>
                                <input minlength="6" type="number" value="{{ Usuario['Telefono'] }}" required name="Telefono" class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">
                            </div>                                                                                                                              
                        </div>
                        <div class="col-12 col-md-6 px-0 px-sm-3 d-flex flex-column gap-3">
                            <div>
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Segundo nombre
                                </p>
                                <input pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+" minlength="2" type="text" {% if Usuario['Segundo_Nombre'] == "" %} value="" {% else %} value="{{ Usuario['Segundo_Nombre'] }}" {%endif%} required name="Segundo_Nombre" class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">
                            </div>                            
                            <div>
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Segundo apellido
                                </p>
                                <input pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+" minlength="2" type="text" {% if Usuario['Segundo_Apellido'] == "" %} value="" {% else %} value="{{ Usuario['Segundo_Apellido'] }}" {%endif%} required name="Segundo_Apellido" class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">
                            </div> 
                            <div>
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Número de documento
                                </p>  
                                <input minlength="6" type="number" name="Documento" value="{{ Usuario['Documento'] }}" class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">                              
                            </div>
                            <div>
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Fecha de nacimiento
                                </p>
                                <input type="date" value="{{ Usuario['Fecha_Nacimiento'] }}" required name="Fecha_Nacimiento" class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">
                            </div>                              
                        </div>
                    </div>
                    <div class="row g-0 p-4 pt-0 pb-3">
                        <hr class="m-0 mb-3 border-2 rounded-2 Bg_hr">
                        <div class="col-12 px-0 px-sm-3 d-flex flex-column gap-3">
                            <div>
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Direccion
                                </p>  
                                <input minlength="10" type="text" name="Direccion" value="{{ Usuario['Direccion'] }}" class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">                              
                            </div>                             
                        </div>                        
                    </div>
                    <div class="row g-0 p-4 pt-0">
                        <div class="col-12 px-0 px-sm-3 d-flex gap-3">
                            <button id="seccion_1_boton" class="btn Bg_Morado2 fsr-15 boton13 text-white border-0 d-flex gap-2">
                                Guardar
                            </button>
                            <button id="seccion_1_eliminar" class="btn border-0 Bg_OFF3 fsr-15 boton8 text-white">
                                Cancelar
                            </button>                            
                        </div>
                    </div>
                </div>      
                <div class="Bg_Blanco rounded-4">
                    <div class="row g-0 p-4">
                        <h2 class="fsr-11 color_blanco m-0 mb-1">
                            Datos no editables
                        </h2>
                        <hr class="m-0 mb-3 border-2 rounded-2 Bg_hr">
                        <div class="col-12 px-0 px-sm-3 d-flex flex-column">
                            <div class="d-flex w-100 justify-content-between">
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Nombre de usuario
                                </p>  
                                <p class="fsr-15 m-0 h-auto color_blanco fw-bold">
                                    {{ Usuario['Nombre'] }}
                                </p>
                            </div>  
                            <hr class="m-0 mb-2 mt-2 border-2 rounded-2 Bg_hr">     
                            <div class="d-flex w-100 justify-content-between">
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Correo
                                </p>  
                                <p class="fsr-15 m-0 h-auto color_blanco fw-bold">
                                    {{ Usuario['Correo'] }}
                                </p>
                            </div>     
                            <hr class="m-0 mb-2 mt-2 border-2 rounded-2 Bg_hr">
                            <div class="d-flex w-100 justify-content-between">
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Fecha de creacion
                                </p>  
                                <p class="fsr-15 m-0 h-auto color_blanco fw-bold">
                                    {{ Usuario["Creado_En"].split("T")[0].split("-")[2] }}/{{ Usuario["Creado_En"].split("T")[0].split("-")[1] }}/{{ Usuario["Creado_En"].split("T")[0].split("-")[0] }}
                                </p>
                            </div>                                                                              
                        </div>   
                    </div>
                </div>                             
            </div>          
            <div id="seccion_2" class="col m-0 d-none Seccion_Cuenta gap-3 flex-column">
                <div class="Bg_Blanco rounded-4">
                    <div class="row g-0 p-4">
                        <h2 class="fsr-11 color_blanco m-0 mb-1">
                            Ubicación
                        </h2>
                        <hr class="m-0 mb-3 border-2 rounded-2 Bg_hr">
                        <div class="col-12 col-md-6 px-0 px-sm-3 d-flex flex-column gap-3">
                            <div>
                                <datalist id="Datalist_Barrio">
                                    {% for barrio in Datos["Barrios"] %}
                                        <option value="{{ barrio['Nombre'] }}" data-id="{{ barrio['ID'] }}">
                                        </option>
                                    {% endfor %}
                                </datalist>
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Barrio
                                </p>
                                <input minlength="4" list="Datalist_Barrio" value="{{ Usuario['Barrio'] }}" id="Barrio_Input" name="Barrio_Input" type="text" required class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">
                                <input value="{{ Usuario['Barrio'] }}" name="Barrio_Nombre" id="Barrio_Nombre" type="hidden">
                                <input value="{% for bar in Datos['Barrios'] %}{% if bar['Nombre'] == Usuario['Barrio'] %}{{ bar['ID'] }}{% endif %}{% endfor %}" name="Barrio_ID" id="Barrio_ID" type="hidden">                             
                            </div> 
                            <div>
                                <datalist id="Datalist_Ciudad">
                                    {% for ciudad in Datos["Ciudades"] %}
                                        <option value="{{ ciudad['Nombre'] }}" data-id="{{ ciudad['ID'] }}">
                                        </option>
                                    {% endfor  %}
                                </datalist>
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Ciudad
                                </p>
                                <input minlength="4" list="Datalist_Ciudad" value="{{ Usuario['Ciudad'] }}" id="Ciudad_Input" name="Ciudad_Input" type="text" required class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">
                                <input value="{{ Usuario['Ciudad'] }}" name="Ciudad_Nombre" id="Ciudad_Nombre" type="hidden">
                                <input value="{% for ciu in Datos['Ciudades'] %}{% if ciu['Nombre'] == Usuario['Ciudad'] %}{{ ciu['ID'] }}{% endif %}{% endfor %}" name="Ciudad_ID" id="Ciudad_ID" type="hidden">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 px-0 px-sm-3 d-flex flex-column gap-3">
                            <div>
                                <datalist id="Datalist_Localidad">
                                    {% for localidad in Datos["Localidades"] %}
                                        <option value="{{ localidad['Nombre'] }}" data-id="{{ localidad['ID'] }}">
                                        </option>
                                    {% endfor  %}
                                </datalist>
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Localidad
                                </p>                               
                                <input minlength="4" list="Datalist_Localidad" value="{{ Usuario['Localidad'] }}" id="Localidad_Input" name="Localidad_Input" type="text" required class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">
                                <input value="{{ Usuario['Localidad'] }}" name="Localidad_Nombre" id="Localidad_Nombre" type="hidden">
                                <input value="{% for loc in Datos['Localidades'] %}{% if loc['Nombre'] == Usuario['Localidad'] %}{{ loc['ID'] }}{% endif %}{% endfor %}" name="Localidad_ID" id="Localidad_ID" type="hidden">                                
                            </div>
                            <div>
                                <datalist id="Datalist_Departamento">
                                    {% for departamento in Datos["Departamentos"]  %}
                                        <option value="{{ departamento['Nombre'] }}" data-id="{{ departamento['ID'] }}">
                                        </option>
                                    {% endfor  %}
                                </datalist>
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Departamento
                                </p>                                   
                                <input minlength="4" list="Datalist_Departamento" value="{{ Usuario['Departamento'] }}" id="Departamento_Input" name="Departamento_Input" type="text" required class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">
                                <input value="{{ Usuario['Departamento'] }}" name="Departamento_Nombre" id="Departamento_Nombre" type="hidden">
                                <input value="{% for dep in Datos['Departamentos'] %}{% if dep['Nombre'] == Usuario['Departamento']  %}{{ dep['ID'] }}{% endif %}{% endfor %}" name="Departamento_ID" id="Departamento_ID" type="hidden">                                
                            </div>
                        </div>                      
                    </div>
                    <div class="row g-0 p-4 pt-0">
                        <div class="col-12 px-0 px-sm-3 d-flex gap-3">
                            <button id="seccion_2_boton" class="btn border-0 Bg_Morado2 fsr-15 boton13 text-white d-flex gap-2">
                                Guardar
                            </button>
                            <button id="seccion_2_eliminar" class="btn border-0 Bg_OFF3 fsr-15 boton8 text-white">
                                Cancelar
                            </button>                            
                        </div>
                    </div>                    
                </div>   
                <div class="Bg_Blanco rounded-4">
                    <div class="row g-0 p-4">
                        <h2 class="fsr-11 color_blanco m-0 mb-1">
                            Ubicación actual
                        </h2>
                        <hr class="m-0 mb-3 border-2 rounded-2 Bg_hr">
                        <div>
                            <div class="d-flex w-100 justify-content-between">
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Barrio
                                </p>
                                <p class="fsr-15 m-0 h-auto color_blanco fw-bold">
                                    {{ Usuario['Barrio'] }}
                                </p>                                
                            </div>
                            <hr class="m-0 mb-2 mt-2 border-2 rounded-2 Bg_hr">     
                            <div class="d-flex w-100 justify-content-between">
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Localidad
                                </p>
                                <p class="fsr-15 m-0 h-auto color_blanco fw-bold">
                                    {{ Usuario['Localidad'] }}
                                </p>                                
                            </div>                            
                            <hr class="m-0 mb-2 mt-2 border-2 rounded-2 Bg_hr">     
                            <div class="d-flex w-100 justify-content-between">
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Ciudad
                                </p>
                                <p class="fsr-15 m-0 h-auto color_blanco fw-bold">
                                    {{ Usuario['Ciudad'] }}
                                </p>                                
                            </div>                            
                            <hr class="m-0 mb-2 mt-2 border-2 rounded-2 Bg_hr"> 
                            <div class="d-flex w-100 justify-content-between">
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Departamento
                                </p>
                                <p class="fsr-15 m-0 h-auto color_blanco fw-bold">
                                    {{ Usuario['Departamento'] }}
                                </p>                                
                            </div>                                
                        </div>
                    </div>
                </div>         
            </div>          
            <div id="seccion_3" class="col m-0 d-none Seccion_Cuenta gap-3 flex-column">         
                <div class="Bg_Blanco rounded-4">
                    <div class="row g-0 p-4 pb-0">
                        <h2 class="fsr-11 color_blanco m-0 mb-1">
                            Cambiar contraseña
                        </h2>
                        <hr class="m-0 mb-3 border-2 rounded-2 Bg_hr">
                        <div class="w-100 d-flex align-items-center justify-content-center">
                            <div id="Error_Generico3" class="text-center fsr-14 align-items-center justify-content-center rounded-3 d-none p-2 mb-2">
                                Mensaje Generico
                            </div>                         
                        </div>                        
                        <div class="col-12 px-0 px-sm-3 d-flex flex-column flex-md-row gap-3">
                            <div class="flex-fill">
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Contraseña actual
                                </p>
                                <input minlength="10" name="Contraseña_Actual" required type="password" class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">
                            </div>
                            <div class="flex-fill">
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Nueva contraseña
                                </p>
                                <input id="Contraseña_Nueva" minlength="10" oncopy="return false;" name="Contraseña_Nueva" required type="password" class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">
                            </div>
                            <div class="flex-fill">
                                <p class="fsr-15 m-0 mb-1 h-auto color_blanco">
                                    Confirmar nueva contraseña
                                </p>
                                <input id="Contraseña_Nueva2" minlength="10" oncopy="return false;" name="Contraseña_Nueva2" required type="password" class="form-control w-100 Bg_Form_Oscuro text-light border-secondary color_blanco rounded-2 fsr-15 px-2">
                            </div>
                        </div>
                        <div class="col-12 p-3">
                            <p class="fsr-15 m-0 h-auto color_blanco2">
                                Cambiar la contraseña cerrara la sesion en todos los dispositivos 
                            </p>
                        </div>
                    </div>
                    <div class="row g-0 p-4 pt-0">
                        <div class="col-12 px-3 d-flex gap-3">
                            <button id="seccion_3_boton" class="btn border-0 Bg_Morado2 fsr-15 boton13 text-white d-flex gap-2">
                                Actualizar
                            </button>                  
                            <button id="seccion_3_eliminar" class="btn border-0 Bg_OFF3 fsr-15 boton8 text-white">
                                Cancelar
                            </button>                                                             
                        </div>
                    </div>                    
                </div>
                <div class="Bg_Blanco rounded-4">
                    <div class="row g-0 p-4">
                        <h2 class="fsr-11 color_blanco m-0 mb-1">
                            Autenticación
                        </h2>
                        <hr class="m-0 mb-3 border-2 rounded-2 Bg_hr"> 
                        <div class="d-flex flex-column flex-md-row gap-3 justify-content-between px-0 px-sm-3">                                 
                            <span id="Mensaje_Mfa" class="d-none">
                                {{ Usuario["Mfa"] }}
                            </span>                                   
                            <div class="d-flex justify-content-start flex-column">               
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Verificación por correo:
                                    <span id="Mensaje_Mfa2"></span>
                                </p>
                                <p class="fsr-15 m-0 h-auto color_blanco2 text-muted">
                                    Código de 6 dígitos enviado a {{ Usuario['Correo'] }}
                                </p>                                           
                            </div>
                            <div class="d-flex flex-row align-items-center px-0 px-sm-2">
                                <button id="Cambiar_Mfa" class="btn fsr-15 d-flex justify-content-center align-items-center gap-2 text-white border-0">
                                    Activar
                                </button>                                      
                            </div>
                        </div>                                                                          
                    </div>                    
                </div>
                <div class="Bg_Blanco rounded-4">
                    <div class="row g-0 p-4">
                        <h2 class="fsr-11 color_blanco m-0 mb-1">
                            Dispositivos
                        </h2>
                        <hr class="m-0 mb-3 border-2 rounded-2 Bg_hr">  
                        {% for dispositivo in Dispositivos %}
                            {% if loop.last %}
                                <div class="d-flex flex-column flex-md-row justify-content-between px-0 px-sm-3">
                                    <div class="d-flex justify-content-start flex-column">
                                        <div class="d-flex gap-2 align-items-center">
                                            <p class="fsr-15 m-0 h-auto color_blanco">
                                                {{ dispositivo['Navegador'] }}
                                            </p>
                                            <div class="back_blanco rounded-circle" style="width: 7px; height: 7px;"></div>
                                            <p class="fsr-15 m-0 h-auto color_blanco">
                                                {{ dispositivo['Sistema'] }}
                                            </p>                                        
                                        </div>
                                        <p class="fsr-15 m-0 h-auto color_blanco2 text-muted">
                                            {{ dispositivo['IP'] }}
                                            <span class="fw-bolder">•</span>
                                            {{ dispositivo['Dispositivo'] }}
                                        </p>
                                        <p class="fsr-15 m-0 h-auto color_blanco2 text-muted">
                                            <span id="Ultimo_Uso_Device">{{ dispositivo['Ultimo_Uso'] }}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center px-0 px-sm-2 mt-2 mt-sm-0">
                                        <button data-token="{{ dispositivo['Token'] }}" data-delete="{{ dispositivo['ID'] }}" class="btn d-flex align-items-center justify-content-center gap-2 border-0 Bg_OFF3 fsr-15 boton8 text-white Boton_Eliminar_Device">
                                            Eliminar dispositivo
                                        </button>                                                                          
                                    </div>
                                </div>                                                   
                            {% else %} 
                                <div class="d-flex flex-column justify-content-between px-0 px-sm-3">
                                    <div class="d-flex w-100 justify-content-between flex-column flex-md-row">
                                        <div class="d-flex justify-content-start flex-column ">
                                            <div class="d-flex gap-2 align-items-center">
                                                <p class="fsr-15 m-0 h-auto color_blanco">
                                                    {{ dispositivo['Navegador'] }}
                                                </p>
                                                <div class="back_blanco rounded-circle" style="width: 7px; height: 7px;"></div>
                                                <p class="fsr-15 m-0 h-auto color_blanco">
                                                    {{ dispositivo['Sistema'] }}
                                                </p>                                        
                                            </div>
                                            <p class="fsr-15 m-0 h-auto color_blanco2 text-muted">
                                                {{ dispositivo['IP'] }}
                                                <span class="fw-bolder">•</span>
                                                {{ dispositivo['Dispositivo'] }}
                                            </p>
                                            <p class="fsr-15 m-0 h-auto color_blanco2 text-muted">
                                                <span id="Ultimo_Uso_Device">{{ dispositivo['Ultimo_Uso'] }}</span>
                                            </p>
                                        </div>
                                        <div class="d-flex flex-row align-items-center px-0 px-sm-2 mt-2 mt-sm-0">
                                            <button data-token="{{ dispositivo['Token'] }}" data-delete="{{ dispositivo['ID'] }}" class="btn d-flex align-items-center justify-content-center gap-2 border-0 Bg_OFF3 fsr-15 boton8 text-white Boton_Eliminar_Device">
                                                Eliminar dispositivo
                                            </button>                                   
                                        </div>
                                    </div>
                                    <hr class="m-0 mb-2 mt-2 border-2 rounded-2 Bg_hr">
                                </div>                              
                            {% endif %} 
                        {% endfor %}
                    </div>                    
                </div>
                <div class="Bg_Blanco rounded-4">
                    <div class="row g-0 p-4">
                        <h2 class="fsr-11 color_blanco m-0 mb-1">
                            Seguridad
                        </h2>
                        <hr class="m-0 mb-3 border-2 rounded-2 Bg_hr">                     
                        <div class="col-12 px-0 px-sm-3 d-flex flex-column">
                            <div class="d-flex flex-column flex-md-row w-100 justify-content-between">
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Ultimo inicio de sesion
                                </p>  
                                <p class="fsr-15 m-0 h-auto color_blanco fw-bold">
                                    {{ Usuario['Ultimo_Ingreso'].split("T")[1] }} / {{ Usuario['Ultimo_Ingreso'].split("T")[0] }}
                                </p>
                            </div>
                            <hr class="m-0 mb-2 mt-2 border-2 rounded-2 Bg_hr">   
                            <div class="d-flex flex-column flex-md-row w-100 justify-content-between">
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Ultima actualizacion
                                </p>  
                                <p class="fsr-15 m-0 h-auto color_blanco fw-bold">
                                    {{ Usuario['Ultima_Act'].split("T")[1] }} / {{ Usuario['Ultima_Act'].split("T")[0] }}
                                </p>
                            </div>                            
                        </div>                           
                    </div>                    
                </div>
            </div>          
            <div id="seccion_4" class="col m-0 d-none Seccion_Cuenta gap-3 flex-column">
                <div class="Bg_Blanco rounded-4">
                    <div class="row g-0 p-4">
                        <h2 class="fsr-11 color_blanco m-0 mb-1">
                            Información de la cuenta
                        </h2>
                        <hr class="m-0 mb-3 border-2 rounded-2 Bg_hr">
                        <div class="col-12 px-0 px-sm-3 d-flex flex-column">
                            <div class="d-flex flex-column flex-md-row w-100 justify-content-between">
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Nombre de usuario
                                </p>  
                                <p class="fsr-15 m-0 h-auto color_blanco fw-bold">
                                    {{ Usuario['Nombre'] }}
                                </p>
                            </div>
                            <hr class="m-0 mb-2 mt-2 border-2 rounded-2 Bg_hr">
                            <div class="d-flex flex-column flex-md-row w-100 justify-content-between">
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Correo electrónico
                                </p>  
                                <p class="fsr-15 m-0 h-auto color_blanco fw-bold">
                                    {{ Usuario['Correo'] }}
                                </p>
                            </div>
                            <hr class="m-0 mb-2 mt-2 border-2 rounded-2 Bg_hr">
                            <div class="d-flex flex-column flex-md-row w-100 justify-content-between">
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Rol
                                </p>  
                                <p class="fsr-15 m-0 h-auto color_blanco fw-bold">
                                    {{ Usuario['Rol'] }}
                                </p>
                            </div>
                            <hr class="m-0 mb-2 mt-2 border-2 rounded-2 Bg_hr">
                            <div class="d-flex flex-column flex-md-row w-100 justify-content-between">
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Estado
                                </p>  
                                <p class="fsr-15 m-0 h-auto color_blanco fw-bold">
                                    {{ Usuario['Estado'] }}
                                </p>
                            </div>
                            <hr class="m-0 mb-2 mt-2 border-2 rounded-2 Bg_hr">
                            <div class="d-flex flex-column flex-md-row w-100 justify-content-between">
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Fecha de creación
                                </p>  
                                <p class="fsr-15 m-0 h-auto color_blanco fw-bold">
                                    {{ Usuario["Creado_En"].split("T")[0].split("-")[2] }}/{{ Usuario["Creado_En"].split("T")[0].split("-")[1] }}/{{ Usuario["Creado_En"].split("T")[0].split("-")[0] }}
                                </p>
                            </div>
                            <hr class="m-0 mb-2 mt-2 border-2 rounded-2 Bg_hr">
                            <div class="d-flex flex-column flex-md-row w-100 justify-content-between">
                                <p class="fsr-15 m-0 h-auto color_blanco">
                                    Documento
                                </p>  
                                <p class="fsr-15 m-0 h-auto color_blanco fw-bold">
                                    {{ Usuario['Tipo_Documento'] }} {{ Usuario['Documento'] }}
                                </p>
                            </div>                                                                                                                                          
                        </div>                        
                    </div>                
                </div>
                <div class="Bg_Blanco rounded-4">
                    <div class="row g-0 p-4">
                        <h2 class="fsr-11 color_blanco m-0 mb-1">
                            Imagen de perfil
                        </h2>
                        <hr class="m-0 mb-4 border-2 rounded-2 Bg_hr">                       
                        <div class="col-12 px-0 px-sm-3 d-flex flex-column flex-md-row gap-3 justify-content-between">                         
                            <div class="w-70-2 d-flex justify-content-center flex-column align-items-center">  
                                <div id="Error_Generico4" class="text-center fsr-14 align-items-center justify-content-center rounded-3 d-none p-2 mb-3">
                                    Mensaje Generico
                                </div>                                                                   
                                <img id="Nueva_Imagen" class="rounded-circle icono-nav92 imagen_usuario">
                                <div class="icono-nav11 fsr-10 rounded-circle d-none bg-info-subtle text-center d-flex justify-content-center align-items-center text-info-emphasis fw-medium"></div>                                        
                            </div>
                            <div class="d-flex flex-column justify-content-center align-items-start">
                                <p class="fsr-15 m-0 h-auto color_blanco2">
                                    PNG, JPG, JPEG
                                </p>
                                <p class="fsr-15 m-0 mb-2 h-auto color_blanco2">
                                    Máximo 5MB.
                                </p>
                                <div class="d-flex flex-row gap-2">
                                    <input type="file" id="image_input" accept=".jpg, .jpeg, .png" hidden>
                                    <button id="Boton_Subir_Imagen" class="btn Bg_Morado2 fsr-15 boton13 text-white border-0 d-flex gap-2" onclick="document.getElementById('image_input').click()">
                                        Subir imagen
                                    </button>
                                    <button id="Boton_Eliminar_Imagen" class="btn Bg_OFF3 fsr-15 boton8 text-white border-0 d-flex gap-2">
                                        Eliminar
                                    </button>                                      
                                </div>
                            </div>
                        </div>                     
                    </div>
                </div>
                <div id="Modal_Cropper" class="position-fixed top-0 start-0 w-100 h-100 d-none align-items-center justify-content-center" style="background:rgba(0,0,0,0.7); z-index:9999;">
                    <div class="Bg_Blanco rounded-4 p-4 d-flex flex-column gap-3" style="width:450px;">
                        <h2 class="fsr-11 color_blanco m-0">Ajusta la imagen</h2>
                        <div style="max-height:400px; overflow:hidden;">
                            <img id="Imagen_Cropper" style="display:block; max-width:100%;">
                        </div>
                        <div class="d-flex gap-2">
                            <button id="Btn_Confirmar_Crop" class="btn Bg_Morado2 fsr-15 boton13 text-white border-0 flex-fill">Confirmar</button>
                            <button id="Btn_Cancelar_Crop" class="btn Bg_OFF3 fsr-15 boton8 text-white border-0">Cancelar</button>
                        </div>
                    </div>
                </div>                             
            </div>          
            <div id="seccion_5" class="col m-0 d-none Seccion_Cuenta gap-3 flex-column">
                <div class="Bg_Blanco rounded-4">
                    <div class="row g-0 p-4">
                        <h2 class="fsr-11 color_blanco m-0 mb-1">
                            Preferencias
                        </h2>
                        <hr class="m-0 mb-3 border-2 rounded-2 Bg_hr">   
                        <div class="d-flex flex-column flex-md-row justify-content-between px-0 px-sm-3 gap-2">  
                            <div class="d-flex justify-content-start flex-column flex-md-row gap-2">               
                                <img id="Cambiar_Tema_Imagen" src="{{ url_for('static', filename='img/Config_Device.svg') }}" class="icono-nav3 p-2 Bg_Morado3 color_morado rounded-3">
                                <div class="d-flex flex-column justify-content-center">
                                    <p class="fsr-15 m-0 h-auto color_blanco">
                                        Tema actual:
                                        <span id="Cambiar_Tema_Texto"></span>
                                    </p>
                                    <p class="fsr-15 m-0 h-auto color_blanco2 text-muted">
                                        Cambia el tema de la interfaz
                                    </p>                                           
                                </div>                                                                 
                            </div>
                            <div class="d-flex flex-row align-items-center px-0 px-sm-2">
                                <button id="Cambiar_Tema_Boton" onclick="CambiarTema()" class="btn Bg_Morado2 fsr-15 boton13 text-white">
                                    Cambiar
                                </button>                                      
                            </div>
                        </div>                                                                          
                    </div>                         
                </div>    
            </div>          
            <div id="seccion_6" class="col m-0 d-none Seccion_Cuenta gap-3 flex-column">
                <div class="Bg_Blanco rounded-4">
                    <div class="row g-0 p-4">
                        <h2 class="fsr-11 color_blanco m-0 mb-1">
                            Zona de peligro
                        </h2>
                        <hr class="m-0 mb-3 border-2 rounded-2 Bg_hr"> 
                        <div class="px-0 px-sm-3">
                            <div class="d-flex flex-column flex-md-row gap-2 justify-content-between">  
                                <div class="d-flex justify-content-start flex-column">               
                                    <p class="fsr-15 m-0 h-auto color_blanco">
                                        Cerrar todas las sesiones
                                    </p>
                                    <p class="fsr-15 m-0 h-auto color_blanco2 text-muted">
                                        Se cerrarán todas las sesiones activas en todos los dispositivos.
                                    </p>                                                                                                        
                                </div>
                                <div class="d-flex flex-row align-items-center px-0 px-sm-2">
                                    <button id="Delete_Devices" class="btn Bg_OFF3 fsr-15 boton8 border-0 text-white d-flex gap-2">
                                        Cerrar sesiones
                                    </button>                                      
                                </div>
                            </div> 
                            <hr class="m-0 mb-2 mt-2 border-2 rounded-2 Bg_hr">               
                            <div class="d-flex flex-column flex-md-row gap-2 justify-content-between">  
                                <div class="d-flex justify-content-start flex-column">               
                                    <p class="fsr-15 m-0 h-auto color_blanco">
                                        Eliminar cuenta permanentemente
                                    </p>
                                    <p class="fsr-15 m-0 h-auto color_blanco2 text-muted">
                                        Esta acción no se puede deshacer. Todos tus datos serán eliminados.
                                    </p>                                                                                                        
                                </div>
                                <div class="d-flex flex-row align-items-center px-0 px-sm-2">
                                    <button id="Delete_Account" class="btn Bg_OFF3 fsr-15 boton8 border-0 text-white d-flex gap-2">
                                        Eliminar
                                    </button>                                      
                                </div>
                            </div>                                                                                  
                        </div>  
                    </div>                         
                </div>                
            </div>          
        </div>
    </div>
</div>