<div class="container-fluid p-3 p-md-4 align-items-center d-flex w-100 h-100 flex-column Bg_Blanco2 gap-2 gap-md-2">
    <div class="w-100 d-flex justify-content-between px-0 mb-2 mb-sm-0">
        <div class="d-flex gap-1 gap-sm-3 my-0 my-sm-2">
            <a href="{{ url_for('Dashboard_Admin_Inicio') }}" class="d-none d-sm-block Bg_Morado d-inline-flex boton4 text-white p-2 text-decoration-none fw-light gap-2 align-items-center justify-content-center Bg_Sombra color_morado2">
                <img class="icono-nav4 m-1" src="{{ url_for('static', filename='img/Home.svg') }}">
            </a>        
            <span class="m-0 d-flex align-items-center fsr-10 fw-bold color_blanco">
                Inicio > Ajustes > Dispositivos
            </span>
        </div>
        <div class="d-flex gap-3 align-items-center justify-content-center">
            <li class="nav-item dropdown list-unstyled fs-nav-1">
                <a class="dropdown-toggle d-flex justify-content-center align-items-center text-decoration-none text-dark fsr-11 fw-bold align-items-center gap-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img id="Arrow_Usuario" class="m-0 d-none d-sm-block" style="width: 25px" src="{{ url_for('static', filename='img/Arrow_Dark.svg') }}">
                    <img class="rounded-circle icono-nav5 imagen_usuario">
                </a>
                <ul class="dropdown-menu Bg_Blanco Bg_Blanco0 p-2 border-round">
                    <li>
                        <div class="d-flex align-items-center fs-5 justify-content-start text-black gap-2 px-2 color_blanco" href="#">
                            <img class="icono-nav6 rounded-circle imagen_usuario">
                            <span id="User_Name2">
                                Usuario
                            </span>
                        </div>
                    </li>                    
                    <div class="dropdown-divider"></div>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2 color_blanco" href="#">
                            <img id="Datos_Usuario" src="{{ url_for('static', filename='img/User_Black.svg') }}" class="icono-nav4">
                            Mis datos
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2 color_blanco" href="/dashboard/preferencias">
                            <img id="Ajustes_Usuario" src="{{ url_for('static', filename='img/Gear_Black.svg') }}" class="icono-nav4">
                            Ajustes
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2 color_blanco" href="#">
                            <img id="Ayuda_Usuario" src="{{ url_for('static', filename='img/Help_Black.svg') }}" class="icono-nav4">
                            Ayuda
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <button id="Button_Cerrar" class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-danger fw-medium gap-2 px-2">
                            <img src="{{ url_for('static', filename='img/Log_Out.svg') }}" class="icono-nav7">
                            Cerrar sesion
                        </button>
                    </li>                                                                          
                </ul>
            </li>
        </div>  
    </div>
    <div id="Devices_Cards" class="row justify-content-start align-items-stretch w-100 gap-3">
        {% set items = Device | list %}
        {% if items|length == 0 %}
            <div class="p-2 vh-60 d-flex align-items-center justify-content-center flex-column">
                <img src="{{ url_for('static', filename='img/WARNING.png') }}" class="img-fluid mb-4" style="max-width:200px">
                <h1 class="fsr-9 fw-bold color_blanco">
                    No se encontraron dispositivos
                </h1>
                <p class="text-center text-muted fsr-11 color_blanco2">
                    Crea un dispositivo.
                </p>
                <a href="/dashboard/inicio" class="btn Bg_Azul4 fsr-12 boton12 d-flex align-items-center justify-content-center gap-2">
                    Volver a inicio
                </a>          
            </div>          
        {% else %}
            {% for device in Device %}
                <div class="col-3-custom col-12 col-md-11 Bg_Blanco rounded-3 flex-column border-5 border-bottom Border_Morado2 p-3 gap-3 Bg_Sombra3 text-dark justify-content-center align-items-center d-flex">
                    <img data-type="{{ device['Dispositivo'] }}" src="{{ url_for('static', filename='img/Device.svg') }}" class="Imagen_Device icono-nav9">
                    <div class="d-flex w-100 justify-content-center align-items-start flex-column p-2">
                        <h2 class="fsr-13 fw-semibold m-0 color_blanco">
                            Navegador: 
                            <span class="fw-normal color_blanco2">
                                {{ device["Navegador"] }}
                            </span>
                        </h2>                           
                        <h2 class="fsr-13 fw-semibold m-0 color_blanco">
                            IP: 
                            <span class="fw-normal color_blanco2">
                                {{ device["IP"] }}
                            </span>
                        </h2>                        
                        <h2 class="fsr-13 fw-semibold m-0 color_blanco">
                            Sistema: 
                            <span class="fw-normal color_blanco2">
                                {{ device["Sistema"] }}
                            </span>
                        </h2>                        
                        <h2 class="fsr-13 fw-semibold m-0 color_blanco">
                            Ultimo uso: 
                            <span id="Ultimo_Uso_Device" class="fw-normal color_blanco2">
                                {{ device["Ultimo_Uso"] }}
                            </span>
                        </h2>                                                                        
                    </div>
                    <button data-token="{{ device['Token'] }}" data-delete="{{ device['ID'] }}" class="Boton_Eliminar_Device Bg_Morado2 text-white fw-bold rounded-3 p-1 px-2 border-0 fsr-13 boton42">
                        Eliminar
                    </button>        
                </div>    
            {% endfor %}
        {% endif %}
    </div>
</div>