<div class="container-fluid p-3 p-md-4 align-items-center d-flex w-100 h-100 flex-column Bg_Blanco2 gap-2 gap-md-4">
    <div class="w-100 d-flex justify-content-between px-0 mb-2 mb-sm-0">
        <div class="d-flex gap-1 gap-sm-3 my-0 my-sm-2">
            <a href="{{ url_for('Dashboard_Admin_Inicio') }}" class="d-none d-sm-block Bg_Morado d-inline-flex boton4 text-white p-2 text-decoration-none fw-light gap-2 align-items-center justify-content-center Bg_Sombra color_morado2">
                <img class="icono-nav4 m-1" src="{{ url_for('static', filename='img/Home.svg') }}">
            </a>        
            <span class="m-0 d-flex align-items-center fsr-10 fw-bold color_blanco">
                Inicio > Estadisticas
            </span>
        </div>
        <div class="d-flex gap-3 align-items-center justify-content-center">
            <li class="nav-item dropdown list-unstyled fs-nav-1">
                <a class="dropdown-toggle d-flex justify-content-center align-items-center text-decoration-none text-dark fsr-11 fw-bold align-items-center gap-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img id="Arrow_Usuario" class="m-0 d-none d-sm-block" style="width: 25px" src="{{ url_for('static', filename='img/Arrow_Dark.svg') }}">
                    <img class="rounded-circle icono-nav5 imagen_usuario">
                </a>
                <ul class="dropdown-menu Bg_Blanco Bg_Blanco0 p-2 border-round">
                    <li>
                        <div class="d-flex align-items-center fs-5 justify-content-start text-black gap-2 px-2 color_blanco" href="#">
                            <img class="icono-nav6 rounded-circle imagen_usuario">
                            <span id="User_Name2">
                                Usuario
                            </span>
                        </div>
                    </li>                    
                    <div class="dropdown-divider"></div>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2 color_blanco" href="#">
                            <img id="Datos_Usuario" src="{{ url_for('static', filename='img/User_Black.svg') }}" class="icono-nav4">
                            Mis datos
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2 color_blanco" href="/dashboard/preferencias">
                            <img id="Ajustes_Usuario" src="{{ url_for('static', filename='img/Gear_Black.svg') }}" class="icono-nav4">
                            Ajustes
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2 color_blanco" href="#">
                            <img id="Ayuda_Usuario" src="{{ url_for('static', filename='img/Help_Black.svg') }}" class="icono-nav4">
                            Ayuda
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <button id="Button_Cerrar" class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-danger fw-medium gap-2 px-2">
                            <img src="{{ url_for('static', filename='img/Log_Out.svg') }}" class="icono-nav7">
                            Cerrar sesion
                        </button>
                    </li>                                                                          
                </ul>
            </li>
        </div>  
    </div>
    <div id="Estadisticas" class="justify-content-center align-items-center align-items-md-stretch w-100 gap-3 flex-column d-flex mt-3 mt-sm-0">
        <div class="row w-100 g-1 g-md-3 gap-3 gap-sm-0 justify-content-md-start justify-content-center">
            <div class="col-12 col-md-4 m-0">
                <div class="rounded-3 Bg_Blanco Bg_Sombra3 p-3 h-100">
                    <p class="color_blanco fsr-13 m-0 fw-semibold mb-1">
                        Estado
                    </p>
                    <div class="mb-2 d-grid grid-custom" id="Leyenda_Estado"></div>
                    <div class="w-100 position-relative h-82">
                        <canvas id="Grafica_Estados" role="img" aria-label="Grafica de estados"></canvas>
                    </div>                
                </div>
            </div>
            <div class="col-12 col-md-8 m-0">
                <div class="rounded-3 Bg_Blanco Bg_Sombra3 p-3 pb-0 h-100">
                    <p class="color_blanco fsr-13 m-0 fw-semibold mb-1">
                        Tendencia Mensual
                    </p>
                    <div class="d-flex flex-row gap-3 color_blanco2">
                        <p>
                            <span class="icono-nav10 d-inline-block" style="background:#534AB7; border-radius: 2px;"></span>
                            Creados
                        </p>
                        <p>
                            <span class="icono-nav10 d-inline-block" style="background:#1d9e75; border-radius: 2px;"></span>
                            Resueltos
                        </p>
                    </div>  
                    <div class="w-100 position-relative h-82">
                        <canvas id="Grafica_Tendencia" role="img" aria-label="Grafica de tendencia mensual"></canvas>
                    </div>             
                </div>
            </div>
        </div>
        <div class="row w-100 g-1 g-md-3 gap-3 gap-sm-0 justify-content-md-start justify-content-center">
            <div class="col-12 col-md-4">
                <div class="rounded-3 Bg_Blanco Bg_Sombra3 p-3 h-100">
                    <p class="color_blanco fsr-13 m-0 fw-semibold mb-1">
                        Prioridad
                    </p>
                    <div class="mb-2 d-grid grid-custom" id="Leyenda_Prioridad"></div>     
                    <div class="w-100 position-relative h-82">
                        <canvas id="Grafica_Prioridad" role="img" aria-label="Grafica de prioridad"></canvas>
                    </div>           
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="rounded-3 Bg_Blanco Bg_Sombra3 p-3 h-100">
                    <p class="color_blanco fsr-13 m-0 fw-semibold mb-1">
                        Incidente
                    </p>
                    <div class="mb-2 d-grid grid-custom2" id="Leyenda_Incidente">
                    </div>    
                    <div class="w-100 position-relative h-82">
                        <canvas id="Grafica_Incidente" role="img" aria-label="Grafica de incidentes"></canvas>
                    </div>            
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="rounded-3 Bg_Blanco Bg_Sombra3 p-3 h-100">
                    <p class="color_blanco fsr-13 m-0 fw-semibold mb-1">
                        Carga por Usuario
                    </p>    
                    <div class="mb-2 d-grid grid-custom" id="Leyenda_Usuario">
                    </div>
                    <div class="w-100 position-relative h-82">
                        <canvas id="Grafica_Usuario" role="img" aria-label="Grafica de carga por usuario"></canvas>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
</div>