<div class="container-fluid p-3 p-md-4 d-flex w-100 h-100 flex-column Bg_Blanco2 gap-3">
    <div class="w-100 d-flex justify-content-between px-0 mb-2 mb-sm-0">
        <div class="d-flex gap-1 gap-sm-3 my-0 my-sm-2">
            <a href="{{ url_for('Dashboard_Admin_Inicio') }}" class="d-none d-sm-block Bg_Morado d-inline-flex boton4 text-white p-2 text-decoration-none fw-light gap-2 align-items-center justify-content-center Bg_Sombra color_morado2">
                <img class="icono-nav4 m-1" src="{{ url_for('static', filename='img/Home.svg') }}">
            </a>        
            <span class="m-0 d-flex align-items-center fsr-10 fw-bold color_blanco">
                Inicio > Formularios > Calificanos
            </span>
        </div>
        <div class="d-flex gap-3 align-items-center justify-content-center">
            <li class="nav-item dropdown list-unstyled fs-nav-1">
                <a class="dropdown-toggle d-flex justify-content-center align-items-center text-decoration-none text-dark fsr-11 fw-bold align-items-center gap-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img id="Arrow_Usuario" class="m-0 d-none d-sm-block" style="width: 25px" src="{{ url_for('static', filename='img/Arrow_Dark.svg') }}">
                    <img class="rounded-circle icono-nav5 imagen_usuario">
                    <div class="icono-nav5 rounded-circle d-none bg-info-subtle text-center d-flex justify-content-center align-items-center text-info-emphasis fw-normal"></div>
                </a>
                <ul class="dropdown-menu Bg_Blanco Bg_Blanco0 p-2 border-round">
                    <li>
                        <div class="d-flex align-items-center fs-5 justify-content-start text-black gap-2 px-2 color_blanco" href="#">
                            <img class="icono-nav6 rounded-circle imagen_usuario">
                            <div class="icono-nav6 rounded-circle d-none bg-info-subtle text-center d-flex justify-content-center align-items-center text-info-emphasis fw-normal"></div>
                            <span id="User_Name2">
                                Usuario
                            </span>
                        </div>
                    </li>                    
                    <div class="dropdown-divider"></div>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2 color_blanco" href="/dashboard/cuenta">
                            <img id="Datos_Usuario" src="{{ url_for('static', filename='img/User_Black.svg') }}" class="icono-nav4">
                            Mis datos
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2 color_blanco" href="/dashboard/help">
                            <img id="Ayuda_Usuario" src="{{ url_for('static', filename='img/Help_Black.svg') }}" class="icono-nav4">
                            Ayuda
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <button id="Button_Cerrar" class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-danger fw-medium gap-2 px-2">
                            <img src="{{ url_for('static', filename='img/Log_Out.svg') }}" class="icono-nav7">
                            Cerrar sesion
                        </button>
                    </li>                                                                          
                </ul>
            </li>
        </div>  
    </div>
    <div id="Form_Calificanos_For" class="row justify-content-start align-items-stretch w-100 g-3 p-0">
        {% for formulario in Data %}
        <div class="col-12 col-md-4 flex-fill">
            <div class="Bg_Blanco color_blanco d-flex flex-column p-3 rounded-3 border-bottom border-4 Border_Morado2 h-100">
                <div class="w-100 d-flex justify-content-between align-items-start">
                    <p class="m-0 fsr-12 fw-bold">
                        Formulario {{ formulario['ID'] }}
                    </p>
                    <button data-id="{{ formulario['ID'] }}" class="btn boton8 Bg_Morado2 rounded-2 border-0 fsr-13 p-1 px-2 Boton_Calificanos_Eliminar">
                        ✖
                    </button>
                </div>
                <p class="m-0 fsr-14 color_blanco2">
                    {{ formulario['Creado_En'].split("T")[1] }} - {{ formulario['Creado_En'].split("T")[0] }}
                </p>
                <hr class="mt-2 mb-2 border-4 rounded-1 Bg_hr">
                <div class="w-100 flex-row d-flex justify-content-between align-items-center">
                    <p class="m-0 fsr-13">
                        Experiencia general:
                    </p>
                    <p class="m-0 fsr-13 color_blanco2">
                        {% set p1 = formulario['Pregunta1']|int %}
                        {% if p1 == 1 %}Muy malo
                        {% elif p1 == 2 %}Malo
                        {% elif p1 == 3 %}Regular
                        {% elif p1 == 4 %}Bueno
                        {% elif p1 == 5 %}Excelente
                        {% endif %}
                    </p>
                </div>
                <div class="w-100 flex-row d-flex justify-content-between align-items-center">
                    <p class="m-0 fsr-13">
                        Facilidad de uso:
                    </p>
                    <p class="m-0 fsr-13 color_blanco2">
                        {% set p2 = formulario['Pregunta2']|int %}
                        {% if p2 == 1 %}Muy malo
                        {% elif p2 == 2 %}Malo
                        {% elif p2 == 3 %}Regular
                        {% elif p2 == 4 %}Bueno
                        {% elif p2 == 5 %}Excelente
                        {% endif %}
                    </p>
                </div>
                <div class="w-100 flex-row d-flex justify-content-between align-items-center">
                    <p class="m-0 fsr-13">
                        Fue útil la plataforma:
                    </p>
                    <p class="m-0 fsr-13 color_blanco2">
                        {% set p3 = formulario['Pregunta3']|int %}
                        {% if p3 == 1 %}Sí
                        {% elif p3 == 2 %}No
                        {% elif p3 == 3 %}No lo sé
                        {% endif %}
                    </p>
                </div>
                <hr class="mt-2 mb-2 border-4 rounded-1 Bg_hr">
                <p class="m-0 fsr-13 color_blanco2">
                    {{ formulario['Pregunta4'] }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>