<div class="container-fluid p-3 p-md-4 align-items-center d-flex w-100 h-100 flex-column Bg_Blanco2 gap-2 gap-md-4">
    <div class="w-100 d-flex justify-content-between px-0 px-sm-3 mb-2 mb-sm-0">
        <div class="d-flex gap-1 gap-sm-3 my-0 my-sm-2">
            <p class="m-0 d-flex align-items-center fsr-10 fw-bold gap-2 color_blanco">
            Bienvenido
            <span id="User_Name">
                Usuario
            </span>                
            </p>
        </div>
        <div class="d-flex gap-3 align-items-center justify-content-center">
            <li class="nav-item dropdown list-unstyled fs-nav-1">
                <a class="dropdown-toggle d-flex justify-content-center align-items-center text-decoration-none text-dark fsr-11 fw-bold align-items-center gap-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img id="Arrow_Usuario" class="m-0 d-none d-sm-block" style="width: 25px" src="{{ url_for('static', filename='img/Arrow_Dark.svg') }}">
                    <img class="rounded-circle icono-nav5 imagen_usuario">
                </a>
                <ul class="dropdown-menu Bg_Blanco Bg_Blanco0 p-2 border-round">
                    <li>
                        <div class="d-flex align-items-center fs-5 justify-content-start text-black gap-2 px-2 color_blanco" href="#">
                            <img class="icono-nav6 rounded-circle imagen_usuario">
                            <span id="User_Name2">
                                Usuario
                            </span>
                        </div>
                    </li>                    
                    <div class="dropdown-divider"></div>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2 color_blanco" href="#">
                            <img id="Datos_Usuario" src="{{ url_for('static', filename='img/User_Black.svg') }}" class="icono-nav4">
                            Mis datos
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2 color_blanco" href="/dashboard/preferencias">
                            <img id="Ajustes_Usuario" src="{{ url_for('static', filename='img/Gear_Black.svg') }}" class="icono-nav4">
                            Ajustes
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2 color_blanco" href="#">
                            <img id="Ayuda_Usuario" src="{{ url_for('static', filename='img/Help_Black.svg') }}" class="icono-nav4">
                            Ayuda
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <button id="Button_Cerrar" class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-danger fw-medium gap-2 px-2">
                            <img src="{{ url_for('static', filename='img/Log_Out.svg') }}" class="icono-nav7">
                            Cerrar sesion
                        </button>
                    </li>                                                                          
                </ul>
            </li>
        </div>  
    </div>  
    <div class="row justify-content-around align-items-stretch w-100 gap-3">
        <a id="Card_Casos_User" href="/dashboard/user/casos" class="d-none col-3-custom col-12 col-md-11 Bg_Blanco rounded-3 flex-column border-5 border-bottom Border_Morado2 bg-white p-3 gap-3 Bg_Sombra3 Card_Hover text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/Casos2.svg') }}" class="icono-nav3 p-2 Bg_Morado3 rounded-3 color_morado">
            <div>
                <h2 class="fsr-12 fw-semibold m-0 color_blanco">
                    Casos
                </h2>
                <p class="fsr-16 text-muted m-0 color_blanco2">
                    Reporta nuevos incidentes y consulta el
                    estado de los casos que has registrado.
                </p>
            </div>
        </a>
        <a id="Card_Casos_Admin" href="/dashboard/staff/casos" class="d-none col-3-custom col-12 col-md-11 Bg_Blanco rounded-3 flex-column border-5 border-bottom Border_Morado2 bg-white p-3 gap-3 Bg_Sombra3 Card_Hover text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/Gear_Admin2.svg') }}" class="icono-nav3 p-2 Bg_Morado3 rounded-3 color_morado">
            <div>
                <h2 class="fsr-12 fw-semibold m-0 color_blanco">
                    Casos
                </h2>
                <p class="fsr-16 text-muted m-0 color_blanco2">
                    Registra nuevas solicitudes y revisa el progreso
                    de las gestiones que has iniciado.
                </p>
            </div>
        </a>
        <a id="Card_Entidades_Admin" href="/dashboard/staff/entidades" class="d-none col-3-custom col-12 col-md-11 Bg_Blanco rounded-3 d-flex flex-column border-5 border-bottom Border_Morado2 bg-white p-3 gap-3 Bg_Sombra3 Card_Hover text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/Entidades2.svg') }}" class="icono-nav3 p-2 Bg_Morado3 rounded-3 color_morado">
            <div>
                <h2 class="fsr-12 fw-semibold m-0 color_blanco">
                    Entidades
                </h2>
                <p class="fsr-16 text-muted m-0 color_blanco2">
                    Conoce las instituciones y su participación
                    en la gestión de emergencias.
                </p>
            </div>
        </a>
        <a href="/dashboard/usuarios" class="col-3-custom col-12 col-md-11 Bg_Blanco rounded-3 d-flex flex-column border-5 border-bottom Border_Morado2 bg-white p-3 gap-3 Bg_Sombra3 Card_Hover text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/Usuario2.svg') }}" class="icono-nav3 p-2 Bg_Morado3 rounded-3 color_morado">
            <div>
                <h2 class="fsr-12 fw-semibold m-0 color_blanco">
                    Usuarios
                </h2>
                <p class="fsr-16 text-muted m-0 color_blanco2">
                    Administra la información de los usuarios,
                    gestiona sus permisos desde este panel.
                </p>
            </div>
        </a>
        <a href="/dashboard/ajustes" class="col-3-custom col-12 col-md-11 Bg_Blanco rounded-3 d-flex flex-column border-5 border-bottom Border_Morado2 bg-white p-3 gap-3 Bg_Sombra3 Card_Hover text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/Gear.svg') }}" class="icono-nav3 p-2 Bg_Morado3 rounded-3 color_morado">
            <div>
                <h2 class="fsr-12 fw-semibold m-0 color_blanco">
                    Configuracion
                </h2>
                <p class="fsr-16 text-muted m-0 color_blanco2">
                    Ajusta las preferencias del sistema
                    y personaliza la experiencia de uso.
                </p>
            </div>
        </a>
        <a id="Card_Health_Admin" href="/dashboard/staff/health" class="d-none col-3-custom col-12 col-md-11 Bg_Blanco rounded-3 d-flex flex-column border-5 border-bottom Border_Morado2 bg-white p-3 gap-3 Bg_Sombra3 Card_Hover text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/Health.svg') }}" class="icono-nav3 p-2 Bg_Morado3 rounded-3 color_morado">
            <div>
                <h2 class="fsr-12 fw-semibold m-0 color_blanco">
                    Health Check
                </h2>
                <p class="fsr-16 text-muted m-0 color_blanco2">
                    Verifica el estado de los sistemas y servicios
                    para asegurar su correcto funcionamiento.
                </p>
            </div>
        </a>
        <a id="Card_Estadistica_Admin" href="/dashboard/estadisticas" class="d-none col-3-custom col-12 col-md-11 Bg_Blanco rounded-3 d-flex flex-column border-5 border-bottom Border_Morado2 bg-white p-3 gap-3 Bg_Sombra3 Card_Hover text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/Estadistica.svg') }}" class="icono-nav3 p-2 Bg_Morado3 rounded-3 color_morado">
            <div>
                <h2 class="fsr-12 fw-semibold m-0 color_blanco">
                    Estadisticas
                </h2>
                <p class="fsr-16 text-muted m-0 color_blanco2">
                    Analiza los datos de sistemas y servicios
                    para evaluar su rendimiento y generar estadísticas.
                </p>
            </div>
        </a>
        <div class="col-3-custom col-12 col-md-11" style="visibility:hidden;pointer-events:none;"></div>
        <div class="col-3-custom col-12 col-md-11" style="visibility:hidden;pointer-events:none;"></div>                
    </div>
</div>