<div class="container-fluid p-3 p-md-4 align-items-center d-flex w-100 h-100 flex-column Bg_Blanco2 gap-2 gap-md-4">
    <div class="w-100 d-flex justify-content-between px-0 px-sm-3 mb-2 mb-sm-0">
        <div class="d-flex gap-1 gap-sm-3 my-0 my-sm-2">
            <a href="{{ url_for('Dashboard_Admin_Inicio') }}" class="d-none d-sm-block Bg_Morado d-inline-flex boton4 text-white p-2 text-decoration-none fw-light gap-2 align-items-center justify-content-center Bg_Sombra">
                <img class="icono-nav4 m-1" src="{{ url_for('static', filename='img/Home.svg') }}">
            </a>        
            <span class="m-0 d-flex align-items-center fsr-10 fw-bold">
                Inicio > Ajustes
            </span>
        </div>
        <div class="d-flex gap-3 align-items-center justify-content-center">
            <li class="nav-item dropdown list-unstyled fs-nav-1">
                <a class="dropdown-toggle d-flex justify-content-center align-items-center text-decoration-none text-dark fsr-11 fw-bold align-items-center gap-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="m-0 d-none d-sm-block" style="width: 25px" src="{{ url_for('static', filename='img/Arrow_Dark.svg') }}">
                    <img src="{{ url_for('static', filename='Textures/Sugarrigbi.png') }}" class="rounded-circle icono-nav5">
                </a>
                <ul class="dropdown-menu Bg_Blanco p-2 border-round">
                    <li>
                        <div class="d-flex align-items-center fs-5 justify-content-start text-black gap-2 px-2" href="#">
                            <img src="{{ url_for('static', filename='Textures/Sugarrigbi.png') }}" class="icono-nav6 rounded-circle">
                            <span id="User_Name2">
                                Usuario
                            </span>
                        </div>
                    </li>                    
                    <div class="dropdown-divider"></div>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2" href="#">
                            <img src="{{ url_for('static', filename='img/User_Black.svg') }}" class="icono-nav4">
                            Mis datos
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2" href="/dashboard/preferencias">
                            <img src="{{ url_for('static', filename='img/Gear_Black.svg') }}" class="icono-nav4">
                            Ajustes
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-black gap-3 px-2" href="#">
                            <img src="{{ url_for('static', filename='img/Help_Black.svg') }}" class="icono-nav4">
                            Ayuda
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <button id="Button_Cerrar" class="dropdown-item d-flex align-items-center fs-5 hover-item justify-content-start text-danger fw-medium gap-2 px-2">
                            <img src="{{ url_for('static', filename='img/Log_Out.svg') }}" class="icono-nav7">
                            Cerrar sesion
                        </button>
                    </li>                                                                          
                </ul>
            </li>
        </div>    
    </div>    
    <div class="row justify-content-around align-items-stretch w-100 gap-3 gap-xl-0">
        <a class="col-12 col-lg-11 Bg_Blanco rounded-3 d-flex flex-column border-5 border-bottom Border_Morado2 bg-white p-3 gap-3 Bg_Sombra3 Card_Hover text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/Casos2.svg') }}" class="icono-nav3 p-2 Bg_Morado3 rounded-3">
            <div>
                <h2 class="fsr-12 fw-semibold m-0">
                    Casos
                </h2>
                <p class="fsr-16 text-muted m-0">
                    Reporta nuevos incidentes y consulta el
                    estado de los casos que has registrado.
                </p>
            </div>
        </a>
    </div>
    <div class="row justify-content-around align-items-stretch w-100 gap-3 gap-xl-0">
        <a class="col-12 col-lg-11 Bg_Blanco rounded-3 d-flex flex-column border-5 border-bottom Border_Morado2 bg-white p-3 gap-3 Bg_Sombra3 Card_Hover text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/Entidades2.svg') }}" class="icono-nav3 p-2 Bg_Morado3 rounded-3">
            <div>
                <h2 class="fsr-12 fw-semibold m-0">
                    Entidades
                </h2>
                <p class="fsr-16 text-muted m-0">
                    Conoce las instituciones y su participación
                    en la gestión de emergencias.
                </p>
            </div>
        </a>
    </div>
    <div class="row justify-content-around align-items-stretch w-100 gap-3 gap-xl-0">
        <a class="col-12 col-lg-11 Bg_Blanco rounded-3 d-flex flex-column border-5 border-bottom Border_Morado2 bg-white p-3 gap-3 Bg_Sombra3 Card_Hover text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/Usuario2.svg') }}" class="icono-nav3 p-2 Bg_Morado3 rounded-3">
            <div>
                <h2 class="fsr-12 fw-semibold m-0">
                    Usuarios
                </h2>
                <p class="fsr-16 text-muted m-0">
                    Administra la información de los usuarios,
                    gestiona sus permisos desde este panel.
                </p>
            </div>
        </a>
    </div>
    <div class="row justify-content-around align-items-stretch w-100 gap-3 gap-xl-0">
        <a class="col-12 col-lg-11 Bg_Blanco rounded-3 d-flex flex-column border-5 border-bottom Border_Morado2 bg-white p-3 gap-3 Bg_Sombra3 Card_Hover text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/Gear.svg') }}" class="icono-nav3 p-2 Bg_Morado3 rounded-3">
            <div>
                <h2 class="fsr-12 fw-semibold m-0">
                    Configuracion
                </h2>
                <p class="fsr-16 text-muted m-0">
                    Ajusta las preferencias del sistema
                    y personaliza la experiencia de uso.
                </p>
            </div>
        </a>
    </div>
    </div>
</div>