<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Momo+Trust+Display&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Proyecto_Laura/15.css">
    <link rel="icon" type="image/svg" href="{{ url_for('static', filename='img/Logo.svg') }}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Mis quince años</title>
</head>
<body>
    <div id="Frame1" class="Frame {% if frame_activo == 'Frame1' %}visible{% endif %}"> 
        <div class="flores_esquina_cont" data-aos="fade-up-left">
            <img class="flores_esquina" src="img/flores_esquina.png">
        </div>
        <div class="Cuadro1" data-aos="zoom-in">
            <div data-aos="flip-left" class="crown-cont">
                <img class="crown" src="img/crown.png">
            </div>
            <h1 data-aos="fade-down">Mis 15 años</h1>
            <h2 data-aos="fade-up">Laura Garzón</h2>
            <div class="sobre-cont" >
                <img class="decorado DebeOcultar" src="img/decorado.png" data-aos="flip-down">
                <img id="Sobre" class="sobre" src="img/sobre.png" data-aos="flip-down">
                <img class="solapa" src="img/solapa.png" data-aos="flip-down">
                <div class="Boton_Sello DebeOcultar" data-target="Frame2">
                    <img class="sello" src="img/sello.png" data-aos="flip-down">
                </div>
                <img class="luz"src="img/light.png">
            </div>
            <img id="Simbolo" src="img/flecha.png" data-aos="flip-down">
            <h1 id="Simbolo2" data-aos="flip-down">Toca el sobre!</h1>
            <img class="luz2"src="img/light.png">
            <img class="luz3"src="img/light.png">
        </div>
        <div class="flores_esquina_cont2" data-aos="fade-down-right">
            <img class="flores_esquina2" src="img/flores_esquina.png">
        </div>
        <div class="mariposa1">
            <img class="mariposa" src="img/mariposa.png">
        </div>
        <div class="mariposa3">
            <img class="mariposa" src="img/mariposa.png">
        </div>
        <div class="mariposa4">
            <img class="mariposa" src="img/mariposa.png">
        </div>
        <div class="mariposa5">
            <img class="mariposa" src="img/mariposa.png">
        </div>
    </div>
    <div id="Frame2" class="Frame2 {% if frame_activo == 'Frame2' %}visible{% endif %}"> 
        <seccion id="seccion1">
        <img src="img/fondo2.png" class="fondo2">
            <div data-aos="zoom-out" class="Desliza_Cont">
                <h1 class="Desliza">Desliza</h1>
                <img src="img/flecha2.png" class="flecha2">
            </div>
            <div class="princesa_cont" data-aos="fade-up-right" data-aos-duration="900">
                <img src="img/princesa.png" class="princesa">
            </div>
            <div class="hojas"></div>
        </seccion>
        <seccion id="seccion2">
            <div class="floresesquina11">
                <img src="img/Bola.png" class="floresesquina1">
            </div>
            <h3 id="faltan" data-aos="zoom-in">Faltan</h3>
            <div class="floresesquina21">
                <img src="img/Bola.png" class="floresesquina2">
            </div>
            <div class="floresesquina211" data-aos="fade-up">
                <img src="img/Brillo_Bola.png" class="floresesquina23">
            </div>
            <div class="floresesquina2112" data-aos="fade-up">
                <img src="img/Brillo_Bola.png" class="floresesquina2">
            </div>
            <div class="contador" >
                <h1 id="dias">Cargando...</h1>
                <h1 class="puntos"data-aos="fade-right">:</h1>
                <h1 id="horas">Cargando...</h1>
                <h1 class="puntos"data-aos="zoom-in">:</h1>
                <h1 id="minutos">Cargando...</h1>
                <h1 class="puntos" data-aos="fade-left">:</h1>
                <h1 id="segundos">Cargando...</h1>
            </div>

            <div class="contador" data-aos="zoom-in">
                <h2 id="dias2">Dias</h2>
                <h2 class="puntos">:</h2>
                <h2 id="horas2" >Horas</h2>
                <h2 class="puntos">:</h2>
                <h2 id="minutos2">Minutos</h2>
                <h2 class="puntos">:</h2>
                <h2 id="segundos2">Segundos</h2>
            </div>

        </seccion>
        <seccion id="seccion3">
            <h1 data-aos="zoom-in">Con gran honor</h1>
            <h2 data-aos="fade-right">Se anuncia</h2>
            <h3 data-aos="zoom-in">y</h3>

            <h2 data-aos="fade-left">Se celebra</h2>
            <h4 data-aos="fade-up">Una noche dedicada a festejar los 15 años de</h4>
            <div class="Cont_Laura">
                <img src="img/Fondo_Laura.png" class="Laura3">
            </div>
            <div class="Laura" data-aos="fade-up">
                <h5>Laura<br><span>Garzon</span></h5>
            </div>
        </seccion>
        <seccion id="seccion4" >
            <h1 data-aos="zoom-out">Mi Cumpleaños</h1>
            <div class="arco2"data-aos="zoom-out">
                <img class="arco" src="img/febrero.png">
            </div>
            <div class="fecha" data-aos="zoom-out">
                <div class="Dia">
                    <h2>Sabado</h2>
                </div>
                <h3>14</h3>
                <div class="Dia">
                    <h2>8:00 PM</h2>
                </div>
            </div>
            <div class="arco12"data-aos="zoom-out">
                <img class="arco1" src="img/2026.png">
            </div>
            <div class="floresesquina211a" data-aos="zoom-in">
                <img src="img/Brillo_Bola.png" class="floresesquina23">
            </div>
            <div class="floresesquina2112a" data-aos="zoom-in">
                <img src="img/Brillo_Bola.png" class="floresesquina2">
            </div>                 
        </seccion>
        <seccion id="seccion5">
            <div class="cont_ubicacion">
                <h1>Urbanizacion Fransisco Vega</h1>
                <h2>Horario: 8:00 pm</h2>
                <h2>Dg 49 Sur #13h - 20</h2>
                <h2>Salon Social</h2>
                <a href="https://maps.app.goo.gl/PFfiZR6RXKsxSjcZ7" class="Boton">Como llegar</a>
            </div>
            <div class="Cont_Edificios">
                <img src="img/Edificios.png" class="Edificios">
            </div>
        </seccion>
        <seccion id="seccion6">
            <h1>Codigo de vestimenta</h1>
            <img src="">
            <img src="">
            <h1>Vestimenta Formal</h1>
            <h1>Se reserva el color gris dejemosle esos tonos para la quinciañera</h1>
        </seccion>
        <seccion id="seccion7">
            <h1></h1>
        </seccion>
    </div>
    <script src="15.js"></script>
    <script>
        AOS.init({
            duration: 1000,
            once: true,
            offset: 0
        });
    </script>
</body>
</html>