<!DOCTYPE html>
<html lang="en">
<head> 
    <title>dashboard</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_usuario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Utilidad.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="{{ url_for('static', filename='img/Logo.svg') }}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
    <script>
        AOS.init({
            duration: 1000,
            once: true
        });
    </script>
    <div class="Barra_Lateral">
        <div class="Logo" data-aos="fade-right">
            <img class="Imagen_Logo" src="{{ url_for('static', filename='img/Logo.svg') }}">
            <h2>Gaialink</h2>
        </div>
        <ul>
            <li data-target="Frame1" data-aos="fade-right" class="Selector1"><img class="Imagen_Logo2" alt="Casa" src="{{ url_for('static', filename='img/Home.svg') }}">Inicio</li>
            <li data-target="Frame3" data-aos="fade-right" class="Selector1"><img class="Imagen_Logo2" alt="Casos" src="{{ url_for('static', filename='img/Casos.svg') }}">Casos</li>
            <li data-target="Frame4" data-aos="fade-right" class="Selector1"><img class="Imagen_Logo2" alt="Entidades" src="{{ url_for('static', filename='img/Entidades.svg') }}">Entidades</li>
            <li data-target="Frame2" data-aos="fade-right" class="Selector1"><img class="Imagen_Logo2" alt="Usuario" src="{{ url_for('static', filename='img/Usuario.svg') }}">Mi Perfil</li>            
            <li data-target="Frame5" data-aos="fade-right" class="Selector1"><img class="Imagen_Logo2" alt="Ayuda" src="{{ url_for('static', filename='img/help.svg') }}">Ayuda</li>
        </ul>
        <button onclick="window.location.href='/'"><img alt="Salir" src="{{ url_for('static', filename='img/logout.svg') }}" >Cerrar Sesion</button>
    </div>
    <div class="Desktop">
        <div id="Frame1" class="Frame {% if frame_activo == 'Frame1' %}visible{% endif %}">
            <div data-aos="fade-down" class="Superior">
                <h2>Bienvenido USUARIO</h2>
                <div class="Botones">
                    <div class="Boton" data-target="Frame1"><img src="{{ url_for('static', filename='img/Home.svg') }}"></div>
                </div>
            </div>
            <div data-aos="zoom-in" class="Cuadros">
                <div class="Cuadro1" data-target="Frame3">
                    <img src="{{ url_for('static', filename='img/Casos1.svg') }}">
                    <h2>Casos</h2>
                    <h3>Reporta nuevos incidentes y consulta el <br>estado de los casos que has registrado.</h3>
                </div>
                <div class="Cuadro1" data-target="Frame4">
                    <img src="{{ url_for('static', filename='img/Entidades1.svg') }}">
                    <h2>Entidades</h2>
                    <h3>Conoce las instituciones disponibles y su <br>participación en la gestión de emergencias.</h3>
                </div>            
                <div class="Cuadro1" data-target="Frame2">
                    <img src="{{ url_for('static', filename='img/Usuario1.svg') }}">
                    <h2>Cuenta</h2>
                    <h3>Gestiona tu información personal, cambia <br>tu contraseña y ajusta tus datos de perfil.</h3>
                </div>
                <div class="Cuadro1" data-target="Frame5">
                    <img src="{{ url_for('static', filename='img/Ayuda2.svg') }}">
                    <h2>Ayuda</h2>
                    <h3>Aquí puedes ver información de soporte, contacto o calificarnos.</h3>
                </div>                        
            </div>
        </div>
        <div id="Frame2" class="Frame {% if frame_activo == 'Frame2' %}visible{% endif %}">
            <div data-aos="fade-down" class="Superior">
                <h2>Mi Perfil</h2>
                <div class="Botones">
                    <div class="Boton" data-target="Frame1"><img src="{{ url_for('static', filename='img/Home.svg') }}"></div>
                </div>
            </div>
            <div data-aos="zoom-in" class="Cuadros">
                <a class="Cuadro1" href="/dashboard/user/persona/datos">
                    <img src="{{ url_for('static', filename='img/Usuario/Ver.svg') }}">
                    <h2>Ver datos</h2>
                    <h3>Consulta tu información registrada de <br>manera rápida y segura.</h3>
                </a>
                <div class="Cuadro1" data-target="Frame6">
                    <img src="{{ url_for('static', filename='img/Usuario/Modificar.svg') }}">
                    <h2>Modificar datos</h2>
                    <h3>Actualiza o corrige la información de tu <br>cuenta fácilmente.</h3>
                </div>       
                <div class="Cuadro1" data-target="FrameEliminarUsuario">
                    <img src="{{ url_for('static', filename='img/Usuario/Eliminar.svg') }}">
                    <h2>Eliminar cuenta</h2>
                    <h3>Desactiva o elimina permanentemente <br>tu cuenta de manera segura.</h3>
                </div>                          
            </div>                        
        </div>
        <div id="Frame3" class="Frame {% if frame_activo == 'Frame3' %}visible{% endif %}">
            <div data-aos="fade-down" class="Superior">
                <h2>Casos</h2>
                <div class="Botones">
                    <div class="Boton" data-target="Frame1"><img src="{{ url_for('static', filename='img/Home.svg') }}"></div>
                </div>
            </div>
            <div data-aos="zoom-in" class="Cuadros">
                <div class="Cuadro1" data-target="FrameCrearCaso">
                    <img src="{{ url_for('static', filename='img/Usuario/Crear.svg') }}">
                    <h2>Crear caso</h2>
                    <h3>Reporta un nuevo incidente y <br>genera un caso para su seguimiento.</h3>
                </div>
                <a href="/dashboard/user/casos" class="Cuadro1">
                    <img src="{{ url_for('static', filename='img/Usuario/Buscar.svg') }}">
                    <h2>Mis casos</h2>
                    <h3>Consulta el estado y los detalles <br>de los casos que has registrado.</h3>
                </a>            
            </div>                        
        </div>
        <div id="Frame4" class="Frame {% if frame_activo == 'Frame4' %}visible{% endif %}">
            <div data-aos="fade-down" class="Superior">
                <h2>Entidades</h2>
                <div class="Botones">
                    <div class="Boton" data-target="Frame1"><img src="{{ url_for('static', filename='img/Home.svg') }}"></div>
                </div>
            </div>
            <div data-aos="zoom-in" class="Cuadros">
                <div class="Cuadro1" data-target="FrameBuscarEntidad">
                    <img src="{{ url_for('static', filename='img/Usuario/Buscar2.svg') }}">
                    <h2>Buscar entidad</h2>
                    <h3>Encuentra instituciones registradas por <br>nombre o categoría.</h3>
                </div>
                <a class="Cuadro1" href="/dashboard/user/entidades">
                    <img src="{{ url_for('static', filename='img/Usuario/Directorio.svg') }}">
                    <h2>Lista de entidades</h2>
                    <h3>Consulta el directorio completo de organizaciones vinculadas al sistema.</h3>
                </a>            
            </div>                        
        </div>   
        <div id="Frame5" class="Frame {% if frame_activo == 'Frame5' %}visible{% endif %}">
            <div data-aos="fade-down" class="Superior">
                <h2>Ayuda</h2>
                <div class="Botones">
                    <div class="Boton" data-target="Frame1"><img src="{{ url_for('static', filename='img/Home.svg') }}"></div>
                </div>
            </div>
            <div data-aos="zoom-in" class="Cuadros">
                <a class="Cuadro1" href="/ayuda">
                    <img src="{{ url_for('static', filename='img/Usuario/Soporte.svg') }}">
                    <h2>Soporte</h2>
                    <h3>Comunícate con el equipo de soporte para resolver dudas o reportar problemas.</h3>
                </a>
                <a class="Cuadro1" href="/calificanos">
                    <img src="{{ url_for('static', filename='img/Usuario/Calificanos.svg') }}">
                    <h2>Calificanos</h2>
                    <h3>Déjanos tu opinión y ayuda a mejorar la experiencia de Gaialink.</h3>
                </a>   
                <a class="Cuadro1" href="/terminos#Terminos_Place1">
                    <img src="{{ url_for('static', filename='img/Usuario/Terminos.svg') }}">
                    <h2>Terminos</h2>
                    <h3>Consulta las políticas de uso y protección de datos de la plataforma.</h3>
                </a>                            
            </div>                        
        </div>
        <div id="Frame6" class="Frame {% if frame_activo == 'Frame6' %}visible{% endif %}">
            <div data-aos="fade-down" class="Superior">
                <h2>Modificar Datos</h2>
                <div class="Botones">
                    <div class="Boton" data-target="Frame2"><img src="{{ url_for('static', filename='img/Volver.svg') }}"></div>
                    <div class="Boton" data-target="Frame1"><img src="{{ url_for('static', filename='img/Home.svg') }}"></div>
                </div>
            </div>
            <div data-aos="zoom-in" class="Cuadros">
                <a class="Cuadro1" href="/dashboard/user/persona/modificar">
                    <img src="{{ url_for('static', filename='img/Usuario/Modificar.svg') }}">
                    <h2>Modificar Datos</h2>
                    <h3>Actualiza tu información personal y de <br>contacto fácilmente.</h3>
                </a>
                <div class="Cuadro1" data-target="FrameModContraseña">
                    <img src="{{ url_for('static', filename='img/Candado.svg') }}">
                    <h2>Editar Contraseña</h2>
                    <h3>Cambia tu contraseña de forma segura <br>para proteger tu cuenta.</h3>
                </div>            
            </div>                        
        </div> 
        <div id="FrameCrearCaso" class="Frame {% if frame_activo == 'FrameCrearCaso' %}visible{% endif %}">
            <div data-aos="zoom-in" class="FrameCrearCaso2">
                <div class="Superior">
                    <h2>Crear Caso</h2>
                    <div class="Botones">
                        <div class="Boton" data-target="Frame3"><img src="{{ url_for('static', filename='img/Volver.svg') }}"></div>
                        <div class="Boton" data-target="Frame1"><img src="{{ url_for('static', filename='img/Home.svg') }}"></div>
                    </div>
                </div>
                <div class="Formulario">
                    <img class="Imagen_CrearCaso" src="{{ url_for('static', filename='img/Usuario/Crear.svg') }}" alt="Candado">
                    <div class="Formulario_Contenedor">
                        <h3 class="Formulario_Contenedor_Texto">Crear Caso</h3>
                    </div>             
                    {% if confirmacion %}
                    <div id="confirmacion" class="confirmacion {{ tipo }}">
                        <ul>
                            <li>{{ confirmacion }}</li>
                        </ul>
                    </div>
                    {% endif %}   
                    <form id="formCrearCaso" class="Formulario_CrearCaso" method="POST" action="/crear-caso">
                        <div class="Formulario_CrearCaso_Doble">
                            <div class="Formulario_CrearCaso_Contenedor">
                                <div class="FormularioRegistrarse_Input6">
                                        <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Tipo de Incidente<span>*</span></label></div>
                                </div>
                                <select  id="Input_TipoIncidente"class="Formulario_CrearCaso_Input7" name="Tipo_Incidente" required>
                                    <option value="">Seleccion</option>
                                    <option value="Despl">Desplazamiento</option>
                                    <option value="Despo">Despojo de predios</option>
                                    <option value="Expro">Expropiacion</option>
                                    <option value="Hurt">Hurto</option>
                                </select>
                            </div>
                            <div class="Formulario_CrearCaso_Contenedor">
                                <div class="FormularioRegistrarse_Input6">
                                        <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Fecha del Incidente<span>*</span></label></div>
                                </div>
                                <input id="Input_Fecha" class="Formulario_CrearCaso_Input7" type="date" required name="Fecha_Incidente">
                            </div>
                        </div>
                        <div class="Formulario_CrearCaso_Doble">
                            <div class="Formulario_CrearCaso_Contenedor">
                                <div class="FormularioRegistrarse_Input6">
                                        <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Direccion<span>*</span></label></div>
                                </div>
                                <input id="Input_Direccion" minlength="6" class="Formulario_CrearCaso_Input7" type="text" required name="Direccion">
                            </div>
                            <div class="Formulario_CrearCaso_Contenedor">
                                <div class="FormularioRegistrarse_Input6">
                                        <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Personas Afectadas<span>*</span></label></div>
                                </div>
                                <input id="Input_Personas"class="Formulario_CrearCaso_Input7" type="number" required name="Personas_Afectadas">
                            </div>
                        </div>
                        <div class="Formulario_CrearCaso_Contenedor2">
                                <label for="Input_Descripcion">Descripcion del incidente<span>*</span></label>
                                <textarea id="Input_Descripcion" minlength="15" class="FormularioCalificanos_Input_Input1" required name="Descripcion"></textarea>
                        </div>
                        <input class="Formulario_CrearCaso_Boton" type="submit" value="Enviar Caso">                                                                       
                    </form>
                </div> 
            </div>
        </div> 
        <div id="FrameVerCasos" class="Frame {% if frame_activo == 'FrameVerCasos' %}visible{% endif %}">         
            <div data-aos="zoom-in" class="FrameVerCasos2">
                <div data-aos="fade-down" id="Superior2" class="Superior">
                    <h2>Mis casos</h2>
                    <div class="Botones">
                        <div class="Boton" data-target="Frame3"><img src="{{ url_for('static', filename='img/Volver.svg') }}"></div>
                        <div class="Boton" data-target="Frame1"><img src="{{ url_for('static', filename='img/Home.svg') }}"></div>
                    </div>
                </div>                
                {% if lista_casos %}
                    {% for caso in lista_casos %}
                        <div class="FrameVerCasos_Caso">
                            <h3>Caso: {{ caso.Radicado }}</h3>
                            <span class="ver-FrameVerCasos_VerCaso" onclick="abrirModal('modal-{{ loop.index }}')">Ver caso</span>
                        </div> 
                        
                        <div id="modal-{{ loop.index }}" class="modal">
                            <div class="modal-content">
                                <span class="cerrar" onclick="cerrarModal('modal-{{ loop.index }}')">&times;</span>
                                <h4 class="FrameVerCasos_Caso_Texto">Detalles del caso</h4>
                                <p><strong>Radicado:</strong> {{ caso.Radicado }}</p>
                                <p><strong>Fecha:</strong> {{ caso.Fecha }}</p>
                                <p><strong>Descripción:</strong> {{ caso.Descripción }}</p>
                                <p><strong>Personas afectadas:</strong> {{ caso.Personas_Afectadas }}</p>
                                <p><strong>Departamento:</strong> {{ caso.Departamento }}</p>
                                <p><strong>Incidente:</strong> {{ caso.Incidente }}</p>
                                <p><strong>Estado:</strong> {{ caso.Estado }}</p>
                                <p><strong>Nombre:</strong> {{ caso.Nombre }}</p>
                            </div>
                        </div>                    
                    {% endfor %}
                {% else %}
                    <div class="FrameVerCasos_Caso">
                        <h3>No hay casos asociados al usuario.</h3>
                    </div>
                {% endif %}
            </div>  
        </div>
        <div id="FrameBuscarEntidad" class="Frame {% if frame_activo == 'FrameBuscarEntidad' %}visible{% endif %}">
            <div data-aos="fade-down" class="Superior">
                <h2>Buscar Entidad</h2>
                <div class="Botones">
                    <div class="Boton" data-target="Frame4"><img src="{{ url_for('static', filename='img/Volver.svg') }}"></div>
                    <div class="Boton" data-target="Frame1"><img src="{{ url_for('static', filename='img/Home.svg') }}"></div>
                </div>
            </div>
            <div data-aos="zoom-in" class="FrameCrearCaso22">
                <div class="Formulario">
                    <img class="Imagen_CrearCaso" src="{{ url_for('static', filename='img/Usuario/Buscar2.svg') }}" alt="Candado">
                    <div class="Formulario_Contenedor">
                        <h3 class="Formulario_Contenedor_Texto">Buscar Entidad</h3>
                    </div>             
                    {% if confirmacion %}
                    <div id="confirmacion" class="confirmacion {{ tipo }}">
                        <ul>
                            <li>{{ confirmacion }}</li>
                        </ul>
                    </div>
                    {% endif %}   
                    <form id="formCrearCaso" class="Formulario_CrearCaso" method="POST" action="/dashboard/user/entidad/buscar">
                        <div class="Formulario_BuscarEntidad_Contenedor">
                            <div class="FormularioRegistrarse_Input4">
                                    <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Numero de la entidad<span>*</span></label></div>
                            </div>
                            <input id="Input_Direccion"class="Formulario_CrearCaso_Input" type="text" required name="codigo">
                        </div>
                        <input class="Formulario_CrearCaso_Boton" type="submit" value="Buscar">                                                                       
                    </form>
                </div>            
            </div>
        </div> 
        <div id="FrameBuscarEntidad2" class="Frame {% if frame_activo == 'FrameBuscarEntidad2' %}visible{% endif %}">
            <div data-aos="fade-down" class="Superior">
                <h2>Buscar Entidad</h2>
                <div class="Botones">
                    <div class="Boton" data-target="FrameBuscarEntidad"><img src="{{ url_for('static', filename='img/Volver.svg') }}"></div>
                    <div class="Boton" data-target="Frame1"><img src="{{ url_for('static', filename='img/Home.svg') }}"></div>
                </div>
            </div>            
            <div data-aos="zoom-in" class="Buscar_Entidad4">
                {% if confirmacion %}
                <div class="Buscar_Entidad">
                    <div class="Buscar_Entidad_Nombre">
                        <h3>{{ confirmacion.Nombre }}</h3>
                    </div>
                    <div class="Buscar_Entidad_Contenedor">
                        <p><span>Código:</span> {{ confirmacion.Codigo }}</p>
                        <p><span>Descripción:</span> {{ confirmacion.Descripcion }}</p>
                        <p><span>Incidente:</span> {{ confirmacion.Incidente }}</p>
                        <p><span>Dirección:</span> {{ confirmacion.Direccion }}</p>
                        <p><span>Teléfono:</span> {{ confirmacion.Telefono }}</p>
                        <p><span>Web:</span> <a href="{{ confirmacion.Web }}" target="_blank">{{ confirmacion.Web }}</a></p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div id="FrameVerDatos" class="Frame {% if frame_activo == 'FrameVerDatos' %}visible{% endif %}">
            <div data-aos="fade-down" class="Superior">
                <h2>Mis Datos</h2>
                <div class="Botones">
                    <div class="Boton" data-target="Frame2"><img src="{{ url_for('static', filename='img/Volver.svg') }}"></div>
                    <div class="Boton" data-target="Frame1"><img src="{{ url_for('static', filename='img/Home.svg') }}"></div>
                </div>
            </div>
            <div data-aos="zoom-in" class="Buscar_Entidad3">         
                {% if lista_persona %}
                <div class="Buscar_Entidad">
                    <div class="Buscar_Entidad_Nombre">
                        <h3>{{ lista_persona.Nombre }}</h3>
                    </div>
                    <div class="Buscar_Entidad_Contenedor">
                        <p><span>Codigo: </span>{{ lista_persona.Codigo }}</p>
                        <p><span>Tipodedocumento: </span>{{ lista_persona.Tipo_Documento }}</p>
                        <p><span>Documento: </span>{{ lista_persona.Documento }}</p>
                        <p><span>Primer Nombre:</span>{{ lista_persona.Primer_Nombre }}</p>
                        <p><span>Segundo Nombre:</span>{{ lista_persona.Segundo_Nombre }}</p>
                        <p><span>Primer Apellido:</span>{{ lista_persona.Primer_Apellido }}</p>
                        <p><span>Segundo Apellido:</span>{{ lista_persona.Segundo_Apellido }}</p>
                        <p><span>Fecha de Nacimiento:</span>{{ lista_persona.Fecha_Nacimiento }}</p>
                        <p><span>Edad: </span>{{ lista_persona.Edad }}</p>
                        <p><span>Direccion: </span>{{ lista_persona.Direccion }}</p>
                        <p><span>Departamento: </span>{{ lista_persona.Departamento }}</p>
                        <p><span>Ciudad: </span>{{ lista_persona.Ciudad }}</p>
                        <p><span>Localidad: </span>{{ lista_persona.Localidad }}</p>
                        <p><span>Barrio: </span>{{ lista_persona.Barrio }}</p>
                        <p><span>Telefono: </span>{{ lista_persona.Numero_Contacto }}</p>
                        <p><span>Correo: </span>{{ lista_persona.Email }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>  
        <div id="FrameEliminarUsuario" class="Frame {% if frame_activo == 'FrameEliminarUsuario' %}visible{% endif %}">
            <div data-aos="fade-down" class="Superior">
                <h2>Eliminar Usuario</h2>
                <div class="Botones">
                    <div class="Boton" data-target="Frame2"><img src="{{ url_for('static', filename='img/Volver.svg') }}"></div>
                    <div class="Boton" data-target="Frame1"><img src="{{ url_for('static', filename='img/Home.svg') }}"></div>
                </div>
            </div>
            <div data-aos="zoom-in" class="FrameCrearCaso22">
                <div class="Formulario">
                    <img class="Imagen_CrearCaso" src="{{ url_for('static', filename='img/Usuario/Eliminar.svg') }}" alt="Candado">
                    <div class="Formulario_Contenedor">
                        <h3 class="Formulario_Contenedor_Texto">Eliminar</h3>
                    </div>             
                    {% if confirmacion %}
                    <div id="confirmacion" class="confirmacion {{ tipo }}">
                        <ul>
                            <li>{{ confirmacion }}</li>
                        </ul>
                    </div>
                    {% endif %}                     
                    <form id="formEliminarUsuario" class="Formulario_CrearCaso" method="POST" action="/dashboard/user/persona/eliminar">
                        <div class="Formulario_BuscarEntidad_Contenedor">
                            <div class="FormularioRegistrarse_Input4">
                                    <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Contraseña<span>*</span></label></div>
                            </div>
                            <button type="button" id="verPassword4" class="Boton_VerPassword"><img id="iconoOjo4" class="Imagen_Ver" src="{{ url_for('static', filename='img/NoVer.svg') }}"></button>
                            <input id="Input_Direccion4"class="Formulario_CrearCaso_Input" type="password" required name="contraseña">
                        </div>
                        <input class="Formulario_CrearCaso_Boton" type="submit" value="Eliminar">                                                                       
                    </form>
                </div>            
            </div>
        </div>     
        <div id="FrameModificarDatos" class="Frame {% if frame_activo == 'FrameModificarDatos' %}visible{% endif %}">
            <div data-aos="fade-down" class="Superior">
                <h2>Modificar Datos</h2>
                <div class="Botones">
                    <div class="Boton" data-target="Frame6"><img src="{{ url_for('static', filename='img/Volver.svg') }}"></div>
                    <div class="Boton" data-target="Frame1"><img src="{{ url_for('static', filename='img/Home.svg') }}"></div>
                </div>
            </div>
            <div data-aos="zoom-in" class="Mod_Todo">
                {% if lista_datos %}
                <div class="Buscar_Entidad2">
                    <div class="Buscar_Entidad_Nombre">
                        <h3>{{ lista_datos.Nombre }}</h3>
                    </div>
                    <form class="Buscar_Entidad_Contenedor2" method="POST" action="/dashboard/user/persona/modificar/enviar">
                        {% if errores3 %}
                        <div class="confirmacion_error">
                            <ul>
                                {% for campo, mensaje in errores3.items() %}
                                    <li>{{ mensaje }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}                        
                        <div class="Mod_Contenedor">                          
                            <div>                                
                                <div class="FormularioRegistrarse_Input4">
                                        <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Primer Nombre</label></div>
                                </div>
                                <input class="Formulario_CrearCaso_Input5" type="text" name="Primer_Nombre" value="{{ lista_datos['Primer_Nombre'] }}" placeholder="Primer Nombre" required>
                            </div>                            
                            <div>
                                <div class="FormularioRegistrarse_Input4">
                                        <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Segundo Nombre</label></div>
                                </div>
                                <input class="Formulario_CrearCaso_Input5" type="text" name="Segundo_Nombre" value="{{ lista_datos['Segundo_Nombre'] }}" placeholder="Segundo Nombre">
                            </div>        
                        </div>
                        <div class="Mod_Contenedor">                                          
                            <div>                              
                                <div class="FormularioRegistrarse_Input4">
                                        <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Primer Apellido</label></div>
                                </div>
                                <input class="Formulario_CrearCaso_Input5" type="text" name="Primer_Apellido" value="{{ lista_datos['Primer_Apellido'] }}" placeholder="Primer Apellido" required>
                            </div>                                          
                            <div>   
                                <div class="FormularioRegistrarse_Input4">
                                        <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Segundo Apellido</label></div>
                                </div>
                                <input class="Formulario_CrearCaso_Input5" type="text" name="Segundo_Apellido" value="{{ lista_datos['Segundo_Apellido'] }}" placeholder="Segundo Apellido">
                            </div>
                        </div>
                        <div class="Mod_Contenedor">                             
                            <div>
                                <div class="FormularioRegistrarse_Input4">
                                        <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Tipo Documento</label></div>
                                </div>
                                <select class="Formulario_CrearCaso_Input5" name="Tipo_Documento" required>
                                    <option value="">Selección</option>
                                    <option value="CC" {% if lista_datos and lista_datos['Tipo_Documento'] in ['CC', 'Cedula Ciudadania', 'Cédula Ciudadanía'] %}selected{% endif %}>Cédula de ciudadanía</option>
                                    <option value="CE" {% if lista_datos and lista_datos['Tipo_Documento'] in ['CE', 'Cedula Extranjeria', 'Cédula Extranjería'] %}selected{% endif %}>Cédula de extranjería</option>
                                    <option value="TI" {% if lista_datos and lista_datos['Tipo_Documento'] in ['TI', 'Tarjeta Identidad', 'Tarjeta de Identidad'] %}selected{% endif %}>Tarjeta de identidad</option>
                                    <option value="PA" {% if lista_datos and lista_datos['Tipo_Documento'] in ['PA', 'Pasaporte'] %}selected{% endif %}>Pasaporte</option>
                                    <option value="RC" {% if lista_datos and lista_datos['Tipo_Documento'] in ['RC', 'Registro Civil'] %}selected{% endif %}>Registro Civil</option>
                                </select>
                            </div>                         
                            <div>
                                <div class="FormularioRegistrarse_Input4">
                                        <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Nacimiento</label></div>
                                </div>
                                <input class="Formulario_CrearCaso_Input52" type="text" name="Fecha_Nacimiento" value="{{ fecha }}" required>
                            </div>        
                        </div>
                        <div class="Mod_Contenedor">                                                    
                            <div>
                                <div class="FormularioRegistrarse_Input4">
                                        <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Direccion</label></div>
                                </div>
                                <input class="Formulario_CrearCaso_Input5" type="text" name="Direccion" value="{{ lista_datos['Direccion'] }}" placeholder="Dirección" required>
                            </div>                                                       
                            <div>
                                <div class="FormularioRegistrarse_Input4">
                                        <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Telefono</label></div>
                                </div>
                                <input class="Formulario_CrearCaso_Input5" type="text" name="Numero_Contacto" value="{{ lista_datos['Numero_Contacto'] }}" placeholder="Número de contacto" required>
                            </div>
                        </div>
                        <div class="Mod_Contenedor">                        
                            <div>
                                <div class="FormularioRegistrarse_Input4">
                                        <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Correo</label></div>
                                </div>
                                <input class="Formulario_CrearCaso_Input5" type="email" name="Email" value="{{ lista_datos['Email'] }}" placeholder="Correo electrónico" required>
                            </div>                          
                            <div>
                                <div class="FormularioRegistrarse_Input4">
                                        <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Nombre de usuario</label></div>
                                </div>
                                <input class="Formulario_CrearCaso_Input5" type="text" name="Usuario" value="{{ lista_datos['Nombre'] }}" placeholder="Usuario" required>
                            </div>
                        </div>
                        <button class="Formulario_CrearCaso_Boton2" type="submit">Guardar cambios</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        <div id="FrameBuscarEntidad3" class="Frame {% if frame_activo == 'FrameBuscarEntidad3' %}visible{% endif %}">
            <div data-aos="zoom-in" class="FrameVerCasos2">
                <div data-aos="fade-down" id="Superior2" class="Superior">
                    <h2>Buscar Entidades</h2>
                    <div class="Botones">
                        <div class="Boton" data-target="Frame4"><img src="{{ url_for('static', filename='img/Volver.svg') }}"></div>
                        <div class="Boton" data-target="Frame1"><img src="{{ url_for('static', filename='img/Home.svg') }}"></div>
                    </div>
                </div>                
                {% if lista_entidades %}
                    {% for entidad in lista_entidades %}
                        <div class="FrameVerCasos_Caso">
                            <h3>Entidad: {{ entidad.Id_Entidad }}</h3>
                            <span class="ver-FrameVerCasos_VerCaso" onclick="abrirModal('modal-{{ loop.index }}')">Ver entidad</span>
                        </div> 
                        
                        <div id="modal-{{ loop.index }}" class="modal">
                            <div class="modal-content">
                                <span class="cerrar" onclick="cerrarModal('modal-{{ loop.index }}')">&times;</span>
                                <h4 class="FrameVerCasos_Caso_Texto">Detalles de la entidad</h4>
                                <p><strong>Nombre:</strong> {{ entidad.Nombre_Entidad }}</p>
                                <p><strong>Descripcion:</strong> {{ entidad.Descripción }}</p>
                                <p><strong>Incidente:</strong> {{ entidad.Incidente }}</p>
                                <p><strong>Direccion:</strong> {{ entidad.Direccion }}</p>
                                <p><strong>Telefono:</strong> {{ entidad.Num_Contact }}</p>
                                <p><strong>Web:</strong> <a href="{{ entidad.web_site }}" target="_blank" class="Links2">{{ entidad.web_site }}</a></p>
                            </div>
                        </div>                    
                    {% endfor %}
                {% else %}
                    <div class="FrameVerCasos_Caso">
                        <h3>No hay entidades registradas.</h3>
                    </div>
                {% endif %}         
            </div>
        </div>
        <div id="FrameModContraseña" class="Frame {% if frame_activo == 'FrameModContraseña' %}visible{% endif %}">
            <div data-aos="fade-down" class="Superior">
                <h2>Modificar Contraseña</h2>
                <div class="Botones">
                    <div class="Boton" data-target="Frame2"><img src="{{ url_for('static', filename='img/Volver.svg') }}"></div>
                    <div class="Boton" data-target="Frame1"><img src="{{ url_for('static', filename='img/Home.svg') }}"></div>
                </div>
            </div>
            <div data-aos="zoom-in" class="FrameCrearCaso22">
                <div class="Formulario">
                    <img class="Imagen_CrearCaso" src="{{ url_for('static', filename='img/Candado.svg') }}" alt="Candado">
                    <div class="Formulario_Contenedor">
                        <h3 class="Formulario_Contenedor_Texto">Modificar</h3>
                    </div>     
                    {% if errores4 %}
                    <div class="confirmacion_error">
                        <ul>
                            {% for campo, mensaje in errores4.items() %}
                                <li>{{ mensaje }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}                            
                    {% if confirmacion %}
                    <div id="confirmacion" class="confirmacion {{ tipo }}">
                        <ul>
                            <li>{{ confirmacion }}</li>
                        </ul>
                    </div>
                    {% endif %}                     
                    <form id="formModificarContraseña" class="Formulario_CrearCaso" method="POST" action="/dashboard/user/persona/modificar/contraseña">
                        <div class="Formulario_BuscarEntidad_Contenedor">
                            <div class="FormularioRegistrarse_Input5">
                                    <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Contraseña Actual<span>*</span></label></div>
                            </div>
                            <div>
                                <button type="button" id="verPassword1" class="Boton_VerPassword"><img id="iconoOjo1" class="Imagen_Ver" src="{{ url_for('static', filename='img/NoVer.svg') }}"></button>
                                <input id="Input_Contraseña1"class="Formulario_CrearCaso_Input" type="password" value="{{ datos.contraseña_actual if datos else '' }}" required name="contraseña_actual">
                            </div>
                        </div>
                        <div class="Formulario_BuscarEntidad_Contenedor">
                            <div class="FormularioRegistrarse_Input5">
                                    <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Contraseña Nueva<span>*</span></label></div>
                            </div>
                            <div>
                                <button type="button" id="verPassword2" class="Boton_VerPassword"><img id="iconoOjo2" class="Imagen_Ver" src="{{ url_for('static', filename='img/NoVer.svg') }}"></button>
                                <input id="Input_Contraseña2"class="Formulario_CrearCaso_Input" type="password" value="{{ datos.nueva_contraseña1 if datos else '' }}" required name="nueva_contraseña1">
                            </div>
                        </div>
                        <div class="Formulario_BuscarEntidad_Contenedor">
                            <div class="FormularioRegistrarse_Input5">
                                    <div class="FormularioRegistrarse_Input2"><label for="Input_Email">Confirmar Contraseña<span>*</span></label></div>
                            </div>
                            <div>
                                <button type="button" id="verPassword3" class="Boton_VerPassword"><img id="iconoOjo3" class="Imagen_Ver" src="{{ url_for('static', filename='img/NoVer.svg') }}"></button>
                                <input id="Input_Contraseña3"class="Formulario_CrearCaso_Input" type="password" value="{{ datos.nueva_contraseña2 if datos else '' }}" required name="nueva_contraseña2">
                            </div>
                        </div>                                                
                        <input class="Formulario_CrearCaso_Boton" type="submit" value="Modificar Contraseña">                                                                       
                    </form>
                </div>            
            </div>
        </div>              
    </div>
    <script src="{{ url_for('static', filename='dashboard_usuario.js') }}"></script>
</body> 
</html>