{% extends "/homepage/base.html" %}
{% block contenido %}
    <!--Autenticador-->
    <section id="Login" class="Fondo1">
        <div class="container-fluid justify-content-start align-items-center d-flex flex-column gap-3 gap-md-5 pb-5">
            <div class="row w-100 mt-3">
                <div data-aos="fade-right" class="col-2 d-flex align-items-stretch justify-content-start">
                    <a class="Bg_Azul4 d-inline-flex boton2 w-auto text-white gap-3 px-3 py-2 fsr-10 text-decoration-none fw-bold align-items-center justify-content-center" href="{{ url_for('Formulario') }}#Ayuda_Form">
                        <img src="{{ url_for('static', filename='img/Ayuda.svg') }}" class="w-25">
                        <span data-lang="autenticador.Ayuda">
                            Ayuda
                        </span>
                    </a> 
                </div>
                <div class="col-8"></div>
                <div data-aos="fade-left" class="col-2 d-flex align-items-stretch justify-content-end">
                    <a class="Bg_Azul4 d-inline-flex boton2 w-auto text-white gap-3 px-3 py-2 fsr-10 text-decoration-none fw-bold align-items-center justify-content-center" href="/">
                        <img src="{{ url_for('static', filename='img/Volver.svg') }}" class="w-25">
                        <span data-lang="autenticador.Volver">
                            Volver
                        </span>
                    </a>                    
                </div>
            </div>            
            <div class="row w-100 d-flex align-items-center justify-content-center" data-aos="fade-up">
                <form id="Formulario_Autenticador" class="col-12 col-lg-6 col-xl-5 Bg_Blanco Bg_Sombra d-flex align-items-center justify-content-center flex-column rounded-3 gap-4 p-4">
                    <img src="{{ url_for('static', filename='img/Multifa.svg') }}" class="w-25">
                    <div class="Bg_Oscuro text-white p-3 d-flex align-items-center justify-content-center rounded-3">
                        <h2 class="fsr-9 m-0" data-lang="autenticador.Autenticador">
                            Autenticador
                        </h2>
                    </div>
                    <div id="Formulario_Autenticador_Mensaje" class="text-center p-2 fsr-12 d-flex align-items-center justify-content-center rounded-3 d-none w-auto">
                        Mensaje Generico
                    </div>      
                    <div class="text-center p-2 fsr-12 d-flex align-items-center justify-content-center rounded-3 d-flex Message_Success w-auto">
                        Te enviamos un correo con tu código 
                    </div>                                       
                    <div class="col-12 col-md-10 d-flex align-items-center justify-content-center flex-column">
                        <div class="w-67 d-flex align-items-center justify-content-start">
                            <label data-lang="autenticador.Codigo" class="form-label fsr-11 text-white px-3 py-1 rounded-3 Bg_Azul5 border-start border-5 border_azul2 align-items-center w-auto">
                                Codigo
                            </label>
                        </div>
                        <div id="Input_Container" class="d-flex gap-2 align-items-center justify-content-start w-67">
                            <div class="col-2-custom p-0">
                                <input required id="Input_1" type="text" maxlength="1" class="border rounded-4 border-3 border-black w-100 py-1 fsr-8 text-center">
                            </div>
                            <div class="col-2-custom p-0">
                                <input required id="Input_2" type="text" maxlength="1" class="border rounded-4 border-3 border-dark w-100 py-1 fsr-8 text-center">
                            </div>
                            <div class="col-2-custom p-0">
                                <input required id="Input_3" type="text" maxlength="1" class="border rounded-4 border-3 border-dark w-100 py-1 fsr-8 text-center">
                            </div>
                            <div class="col-2-custom p-0">
                                <input required id="Input_4" type="text" maxlength="1" class="border rounded-4 border-3 border-dark w-100 py-1 fsr-8 text-center">
                            </div>
                            <div class="col-2-custom p-0">
                                <input required id="Input_5" type="text" maxlength="1" class="border rounded-4 border-3 border-dark w-100 py-1 fsr-8 text-center">
                            </div>
                            <div class="col-2-custom p-0">
                                <input required id="Input_6" type="text" maxlength="1" class="border rounded-4 border-3 border-dark w-100 py-1 fsr-8 text-center">
                            </div>
                        </div>
                    </div>
                    <button id="Formulario_Autenticador_Boton" data-lang="autenticador.Iniciar_Sesion" href="/" class="Bg_Azul4 d-inline-flex boton2 w-auto text-white px-3 py-2 fsr-11 fs-md-4 text-decoration-none fw-bold border-0">
                        Iniciar Sesion
                    </button>                                                   
                </form>                
            </div>
        </div>
    </section>
{% endblock %}