{% extends "/homepage/base.html" %}
{% block contenido %}
    <!-- Inicio -->
    <section id="Inicio" class="Fondo">
        <div class="container-fluid vh-88-2">
            <div class="row vh-88-2 position-relative align-items-center justify-content-center">
                <div class="col-10 col-xxl-6 col-xl-7 col-lg-10 col-md-11 col-sm-8 text-start position-relative ms-5 ms-sm-0" style="z-index: 2;">
                    <h2 data-lang="inicio.Reporta" class="text-white fw-bold fsr-3 Texto-1 mb-4">
                        Reporta hoy actúa ya
                    </h2>
                    <p data-lang="inicio.Reporta_Nosotros" class="text-white fsr-10 Texto-2 mb-4">
                        Haz tu reporte, Nosotros lo llevamos ante quienes deben actuar.
                    </p>
                    <a data-lang="inicio.Empieza_Ya" href="{{ url_for('Login') }}" class="Bg_Azul4 d-inline-flex boton2 text-white px-3 py-2 fsr-11 fs-md-4 text-decoration-none fw-bold">
                        Empieza ya
                    </a>
                </div>
                <div class="Fondo_Negro position-absolute top-0 start-0 w-100 h-100" style="z-index: 1;"></div>
            </div>
        </div>
    </section>
    <!-- Restitucion -->
    <section id="Restitucion" class="Fondo1">
        <div class="container-fluid h-auto d-flex flex-column py-2 py-md-3 py-lg-5 gap-3 gap-xl-4">
            <div class="row align-items-center justify-content-center">
                <h2 data-lang="inicio.Restitución" class="fw-bold text-black text-center fsr-5 mt-4 mt-lg-0">
                    Restitución de bienes con GaiaLink
                </h2>
                <p data-lang="inicio.Victima" class="fsr-12 text-center d-none d-md-block w-75">
                    ¿Fuiste víctima de despojo, hurto o pérdida de tu propiedad? 
                    En GaiaLink te ayudamos a registrar tu caso de forma rápida y segura, 
                    sin trámites presenciales. Nuestro equipo recibe tu solicitud y la remite a 
                    la entidad correspondiente para que inicie el proceso legal. Todo desde 
                    nuestra plataforma, sin filas, sin traslados, sin complicaciones.
                </p>
            </div>
            <div class="row justify-content-center gap-3 gap-xl-5 align-items-center align-items-xl-stretch">
                <div class="col-11 col-sm-9 col-lg-7 col-xl-3 Bg_Azul2 Bg_Sombra m-0 rounded-3 p-3 p-sm-4 py-4 p-lg-5 py-lg-5 gap-3 d-flex flex-column">
                    <div class="d-flex flex-row gap-4 mb-2">
                        <div class="Bg_Azul p-2 rounded-2 w-auto d-flex align-items-center justify-content-center">
                            <img src="{{ url_for('static', filename='img/Carpeta.svg') }}">
                        </div>
                        <h2 data-lang="inicio.Facil_Registro" class="fsr-9 fw-bold m-0 w-auto d-flex align-items-center justify-content-center">
                            Fácil registro
                        </h2>
                    </div>
                    <h2 data-lang="inicio.Nuestra_Plataforma" class="m-0 fw-lighter fsr-12 text-center text-sm-start">
                        Nuestra plataforma está diseñada para ayudarte sin barreras económicas. 
                        Registrar tu usuario y presentar tus casos será siempre un servicio gratuito.
                    </h2>
                </div>
                <div class="col-11 col-sm-9 col-lg-7 col-xl-3 Bg_Azul2 Bg_Sombra m-0 rounded-3 p-3 p-sm-4 py-4 p-lg-5 py-lg-5 gap-3 d-flex flex-column">
                    <div class="d-flex flex-row  gap-4 mb-2">
                        <div class="Bg_Azul p-2 rounded-2 w-auto d-flex align-items-center justify-content-center">
                            <img src="{{ url_for('static', filename='img/Rayo.svg') }}">
                        </div>
                        <h2 data-lang="inicio.Consulta_linea" class="fsr-9 fw-bold m-0 w-auto d-flex align-items-center justify-content-center">
                            Consulta en linea
                        </h2>
                    </div>
                    <h2 data-lang="inicio.Actualizaciones" class="m-0 fw-lighter fsr-12 text-center text-sm-start">
                        Recibe actualizaciones del estado de tu caso sin necesidad de desplazarte. 
                        Nuestro equipo garantiza que llegue a la entidad correspondiente.
                    </h2>
                </div>
                <div class="col-11 col-sm-9 col-lg-7 col-xl-3 Bg_Azul2 Bg_Sombra m-0 rounded-3 p-3 p-sm-4 py-4 p-lg-5 py-lg-5 gap-3 d-flex flex-column">
                    <div class="d-flex flex-row gap-4 mb-2">
                        <div class="Bg_Azul p-2 rounded-2 w-auto d-flex align-items-center justify-content-center">
                            <img src="{{ url_for('static', filename='img/Dinero.svg') }}">
                        </div>
                        <h2 data-lang="inicio.Sin_Costo" class="fsr-9 fw-bold m-0 w-auto d-flex align-items-center justify-content-center">
                            Sin Costo
                        </h2>
                    </div>
                    <h2 data-lang="inicio.Proceso_Registro" class="m-0 fw-lighter fsr-12 text-center text-sm-start">
                        El proceso de registro es rápido y simple: crea tu usuario y carga 
                        la información de tu caso desde cualquier dispositivo con acceso a internet.
                    </h2>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <a data-lang="inicio.Empieza_Ya" href="{{ url_for('Login') }}" class="Bg_Azul4 d-inline-flex boton2 text-white px-3 py-2 fsr-11 text-decoration-none fw-bold w-auto mb-4 mb-lg-0">
                    Empieza ya
                </a>                
            </div>
        </div>
    </section>
    <!-- Reseña -->
    <section id="Reseña" class="Fondo2">
        <div class="container-fluid py-5">
            <div class="row flex-column flex-sm-row align-items-center align-items-md-stretch justify-content-center gap-4 gap-md-5">
                <div class="col-6 col-sm-4 col-lg-3 col-xxl-2 d-flex">
                    <img src="{{ url_for('static', filename='img/Campesino.png') }}" class="rounded-4 w-100 h-100 object-fit-cover Bg_Sombra">
                </div>
                <div class="col-11 col-sm-7 col-xxl-5 d-flex align-items-start justify-content-center flex-column gap-1 gap-md-4">
                    <div class="Bg_Azul p-2 rounded-2 d-inline-flex align-items-center justify-content-center align-self-start">
                        <i class="bi bi-quote">
                            <img src="{{ url_for('static', filename='img/Comillas.png') }}" class="quote-box">
                        </i>
                    </div>
                    <p data-lang="inicio.Plataforma_Confianza" class="fsr-8" style="line-height: 1.2;">
                        La plataforma me dio confianza al tener mi 
                        caso registrado y accesible sin complicaciones.
                    </p>
                    <div class="Bg_Azul w-100 rounded-pill" style="height: 8px;"></div>       
                    <div>  
                        <h2 class="fsr-9">
                            Anselmo Cárdenas
                        </h2>   
                        <h3 data-lang="inicio.Campesino" class="fsr-11 fw-lighter">
                            Campesino
                        </h3>        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Calificacion -->
    <section id="Calificacion" class="Fondo1">
        <div class="container-fluid h-auto d-flex flex-column py-2 py-md-3 py-lg-5 gap-3 gap-xl-4">
            <div class="row align-items-center justify-content-center">
                <h2 data-lang="inicio.Calificaciones" class="fw-bold text-black text-center fsr-5 mt-4 mt-lg-0">
                    Calificaciones de GaiaLink
                </h2>
            </div>
            <div class="row justify-content-center gap-3 gap-xl-5 align-items-center align-items-xl-stretch">
                <div class="col-11 col-sm-8 col-md-6 col-lg-4 col-xl-3 Bg_Azul2 Bg_Sombra m-0 rounded-3 p-4 p-xxl-5 gap-3 d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex flex-row gap-4 mb-2">
                        <div class="Bg_Azul rounded-2 w-auto d-flex align-items-center justify-content-center gap-3 p-3">
                            <img src="{{ url_for('static', filename='img/Estrella.svg') }}" class="Imagen_Estrella">
                            <img src="{{ url_for('static', filename='img/Estrella.svg') }}" class="Imagen_Estrella">
                            <img src="{{ url_for('static', filename='img/Estrella.svg') }}" class="Imagen_Estrella">
                            <img src="{{ url_for('static', filename='img/Estrella.svg') }}" class="Imagen_Estrella">
                            <img src="{{ url_for('static', filename='img/Estrella.svg') }}" class="Imagen_Estrella">
                        </div>
                    </div>
                    <h2 data-lang="inicio.Calificaciones_Antes" class="m-0 fw-lighter fsr-12 text-center">
                        'Antes tenía que viajar horas para poner mi denuncia. 
                        Ahora lo hice en minutos y con la tranquilidad de 
                        que mi caso llegó a la entidad correcta.'
                    </h2>
                </div>
                <div class="col-11 col-sm-8 col-md-6 col-lg-4 col-xl-3 Bg_Azul2 Bg_Sombra m-0 rounded-3 p-4 p-xxl-5 gap-3 d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex flex-row gap-4 mb-2">
                        <div class="Bg_Azul rounded-2 w-auto d-flex align-items-center justify-content-center gap-3 p-3">
                            <img src="{{ url_for('static', filename='img/Estrella.svg') }}" class="Imagen_Estrella">
                            <img src="{{ url_for('static', filename='img/Estrella.svg') }}" class="Imagen_Estrella">
                            <img src="{{ url_for('static', filename='img/Estrella.svg') }}" class="Imagen_Estrella">
                            <img src="{{ url_for('static', filename='img/Estrella.svg') }}" class="Imagen_Estrella">
                            <img src="{{ url_for('static', filename='img/MenosEstrella.svg') }}" class="Imagen_Estrella">
                        </div>
                    </div>
                    <h2 data-lang="inicio.Calificaciones_Gracias" class="m-0 fw-lighter fsr-12 text-center">
                        'Gracias a la plataforma pude registrar mi caso sin 
                        complicaciones y dar seguimiento desde el celular. 
                        Todo fue más fácil y rápido.'
                    </h2>
                </div>
                <div class="col-11 col-sm-8 col-md-6 col-lg-4 col-xl-3 Bg_Azul2 Bg_Sombra m-0 rounded-3 p-4 p-xxl-5 gap-3 d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex flex-row gap-4 mb-2">
                        <div class="Bg_Azul rounded-2 w-auto d-flex align-items-center justify-content-center gap-3 p-3">
                            <img src="{{ url_for('static', filename='img/Estrella.svg') }}" class="Imagen_Estrella">
                            <img src="{{ url_for('static', filename='img/Estrella.svg') }}" class="Imagen_Estrella">
                            <img src="{{ url_for('static', filename='img/Estrella.svg') }}" class="Imagen_Estrella">
                            <img src="{{ url_for('static', filename='img/Estrella.svg') }}" class="Imagen_Estrella">
                            <img src="{{ url_for('static', filename='img/MediaEstrella.svg') }}" class="Imagen_Estrella">
                        </div>
                    </div>
                    <h2 data-lang="inicio.Calificaciones_Mejor" class="m-0 fw-lighter fsr-12 text-center">
                        'Lo mejor es que toda mi información quedó organizada 
                        y segura. Sentí confianza desde el primer momento en 
                        que registré mi caso.'
                    </h2>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <a data-lang="inicio.Calificanos" href="{{ url_for('Formulario') }}#Calificacion_Form" class="Bg_Azul4 d-inline-flex boton2 text-white px-3 py-2 fsr-11 text-decoration-none fw-bold w-auto mb-4 mb-lg-0">
                    Calificanos
                </a>                
            </div>
        </div>
    </section>
    <!-- Lideres -->
    <section id="Lideres" class="Fondo2">
        <div class="container-fluid py-5 gap-3 gap-xl-4 d-flex flex-column">
            <div class="row align-items-center justify-content-center gap-lg-3">
                <h2 data-lang="inicio.Lideres" class="fw-bold text-black text-center fsr-5 m-0">
                    Lideres de GaiaLink
                </h2>
                <p data-lang="inicio.GaiaLink_Iniciativa" class="fsr-12 text-center d-none d-md-block w-75">
                    GaiaLink nace de la iniciativa de sus fundadores, comprometidos con 
                    facilitar el acceso a mecanismos digitales que promuevan la transparencia, 
                    la eficiencia y la conexión entre la ciudadanía y las entidades correspondientes. 
                    Su visión es construir una plataforma segura, confiable y accesible, que simplifique 
                    procesos y genere un impacto positivo en la sociedad.
                </p>
            </div>
            <div class="row align-items-center justify-content-center flex-column flex-md-row gap-5">
                <div class="col-9 col-lg-3 col-xxl-2 Bg_Azul Bg_Sombra rounded-3 d-flex align-items-center justify-content-center flex-column p-4 gap-2">
                    <img src="{{ url_for('static', filename='img/Nadia.png') }}" class="img-fluid rounded-2 w-90">
                    <h2 class="fw-bold fs-1">
                        Anzola Kevin
                    </h2>
                    <h3 data-lang="inicio.Fundador" class="fw-lighter fs-4">    
                        Fundador
                    </h3>
                    <h3 class="fw-lighter fs-5">
                        fundador@gaialink.online
                    </h3>
                </div>
                <div class="col-9 col-lg-3 col-xxl-2 Bg_Azul Bg_Sombra rounded-3 d-flex align-items-center justify-content-center flex-column p-4 gap-2">
                    <img src="{{ url_for('static', filename='img/Nadia.png') }}" class="img-fluid rounded-2 w-90">
                    <h2 class="fw-bold fs-1">
                        Mora Steven
                    </h2>
                    <h3 data-lang="inicio.Gerente" class="fw-lighter fs-4">    
                        Gerente
                    </h3>
                    <h3 class="fw-lighter fs-5">
                        gerente@gaialink.online
                    </h3>
                </div>                
            </div>
        </div>
    </section>
    <!-- Ayuda -->
    <section id="Ayuda" class="Fondo1">
        <div class="container-fluid">
            <div class="row h-100 flex-row align-items-center align-items-xl-stretch justify-content-center flex-column flex-xl-row">
                <div class="col-12 col-md-10 col-xl-7 d-flex flex-column align-items-center justify-content-start my-0 my-md-3">
                    <div class="d-flex align-items-center justify-content-center flex-column">
                        <h2 data-lang="inicio.Contacta" class="fw-bold text-black text-center fsr-5 mt-4 mt-lg-0 w-90">
                            Contacta con nuestro soporte
                        </h2>
                        <p data-lang="inicio.Nuestro_Equipo" class="fsr-13 w-90 text-center d-none d-md-block w-90">
                            Nuestro equipo de soporte esta disponible las 24 horas 
                            para atender y brindar la mejor solucion de forma rapida 
                            y eficiente, trabajamos con compromiso y dedicacion para 
                            asegurarnos de que revibas la ayuda que nesesite en el menor tiempo posible.
                        </p>                        
                    </div>
                    <form id="Formulario_Contactanos" class="col-12 col-md-7 Bg_Azul2 Bg_Sombra m-0 rounded-3 gap-3 d-flex py-4 flex-column align-items-center justify-content-center">
                        <div id="Formulario_Contactanos_Mensaje" class="text-center p-2 fsr-12 d-flex align-items-center justify-content-center rounded-3 d-none w-auto">
                            Mensaje Generico
                        </div>                        
                        <div class="w-75 d-flex flex-column gap-4 align-items-center justify-content-start mt-2">                                   
                            <div class="w-100">
                                <label data-lang="inicio.Nombre" class="form-label fsr-13 text-white px-3 py-1 rounded-3 Bg_Azul5 align-items-center w-auto">
                                    Nombre 
                                </label>
                                <input required type="text" class="form-control rounded-2 border-3" placeholder="" name="Nombre">
                            </div>
                            <div class="w-100">                                
                                <label data-lang="inicio.Telefono" class="form-label fsr-13 text-white px-3 py-1 rounded-3 Bg_Azul5 align-items-center w-auto">
                                    Telefono 
                                </label>
                                <input required type="tel" class="form-control rounded-2 border-3" placeholder="" name="Telefono">
                            </div>
                            <div class="w-100">                                
                                <label data-lang="inicio.Correo" class="form-label fsr-13 text-white px-3 py-1 rounded-3 Bg_Azul5 align-items-center w-auto">
                                    Correo 
                                </label>
                                <input required type="email" class="form-control rounded-2 border-3" placeholder="" name="Correo">
                            </div>
                            <div class="w-100">
                                <label data-lang="inicio.Como_ayudamos" class="form-label fsr-13 text-white px-3 py-1 rounded-3 Bg_Azul5 align-items-center w-auto">
                                    Como te ayudamos 
                                </label>
                                <input required type="text" minlength="10" class="form-control rounded-2 border-3" placeholder="" name="Mensaje">
                            </div>
                        </div>
                        <button id="Formulario_Contactanos_Boton" data-lang="formularios.Enviar" href="/" class="Bg_Azul4 d-inline-flex boton2 text-white px-3 py-2 fsr-11 fs-md-4 text-decoration-none fw-bold border-0">
                            Enviar
                        </button>                        
                    </form>
                </div>
                <div class="col-12 col-md-4 col-xl2-3 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='img/Ayuda_Question.png') }}" class="img-fluid">
                </div>                
            </div>
        </div>
    </section>
{% endblock %}