{% extends "/homepage/base.html" %}
{% block contenido %}
    <script src="{{ url_for('static', filename='Scripts/Home/Login.js') }}"></script>
    <!--Login-->
    <section id="Login" class="Fondo1">
        <div class="container-fluid justify-content-start align-items-center d-flex flex-column gap-3 gap-md-5 pb-5">
            <div class="row w-100 mt-3">
                <div data-aos="fade-right" class="col-2 d-flex align-items-stretch justify-content-start">
                    <a class="Bg_Azul4 d-inline-flex boton2 w-auto text-white gap-3 px-3 py-2 fsr-10 text-decoration-none fw-bold align-items-center justify-content-center" href="{{ url_for('Formulario') }}#Ayuda_Form">
                        <img src="{{ url_for('static', filename='img/Ayuda.svg') }}" class="w-25">
                        <span data-lang="login.Ayuda">
                            Ayuda
                        </span>
                    </a> 
                </div>
                <div class="col-8"></div>
                <div data-aos="fade-left" class="col-2 d-flex align-items-stretch justify-content-end">
                    <a class="Bg_Azul4 d-inline-flex boton2 w-auto text-white gap-3 px-3 py-2 fsr-10 text-decoration-none fw-bold align-items-center justify-content-center" href="/">
                        <img src="{{ url_for('static', filename='img/Volver.svg') }}" class="w-25">
                        <span data-lang="login.Volver">
                            Volver
                        </span>
                    </a>                    
                </div>
            </div>            
            <div class="row w-100 d-flex align-items-center justify-content-center">
                <form data-aos="fade-up" id="Formulario_Login" class="col-12 col-lg-6 col-xl-5 Bg_Blanco Bg_Sombra d-flex align-items-center justify-content-center flex-column rounded-3 gap-4 p-4">
                    <img src="{{ url_for('static', filename='img/Usuario1.svg') }}" class="w-25">
                    <div class="Bg_Oscuro text-white p-3 d-flex align-items-center justify-content-center rounded-3">
                        <h2 data-lang="login.Iniciar_Sesion" class="fsr-9 m-0">
                            Iniciar Sesión
                        </h2>
                    </div>
                    <div id="Formulario_Login_Mensaje" class="text-center p-2 fsr-12 d-flex align-items-center justify-content-center rounded-3 d-none w-auto">
                        Mensaje Generico
                    </div>                     
                    <div class="col-12 col-md-8">
                        <label data-lang="login.Nombre" class="form-label fsr-11 text-white px-3 py-1 rounded-3 Bg_Azul5 border-start border-5 border_azul2 align-items-center w-auto">
                            Nombre de usuario o Correo
                        </label>
                        <input id="Identificacion" type="text" class="form-control rounded-2 border-3 mt-2"placeholder="">
                    </div>
                    <div class="col-12 col-md-8">
                        <label data-lang="login.Contraseña" class="form-label fsr-11 text-white px-3 py-1 rounded-3 Bg_Azul5 border-start border-5 border_azul2 align-items-center w-auto">
                            Contraseña
                        </label>
                        <div class="d-flex align-items-center justify-content-center flex-row position-relative">
                            <input oncopy="return false;" autocomplete="new-password" id="Input_Password3" name="Contraseña" type="password" class="form-control rounded-2 border-3 mt-2">
                            <button id="Boton_Password3" type="button" class="bg-transparent border-0 position-absolute end-0 d-flex justify-content-end">
                                <img id="Imagen_Password3" src="{{ url_for('static', filename='img/NoVer.svg') }}" class="img-fluid w-50 me-2 mt-2">
                            </button>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-center gap-2">
                        <input id="Remember_Me" name="Remember_Me" type="checkbox" class="form-check-input m-0">
                        <h2 class="fsr-11 m-0 text-dark">
                            Recordar mi sesión en este dispositivo                          
                        </h2> 
                    </div>                    
                    <a data-lang="login.Contraseña_Olvidaste" href="{{ url_for('Recuperar_Usuario') }}" class="text-decoration-none C_Azul3 Link_Hover fw-bold fsr-12">
                        ¿Olvidaste tu contraseña?
                    </a>
                    <button id="Formulario_Login_Boton" data-lang="login.Iniciar_Sesion" href="/" class="Bg_Azul4 d-inline-flex boton2 w-auto text-white px-3 py-2 fsr-11 fs-md-4 text-decoration-none fw-bold border-0">
                        Iniciar Sesion
                    </button>               
                    <a data-lang="login.Puedes_Ingresar" href="{{ url_for('Soporte') }}" class="text-decoration-none C_Azul3 Link_Hover fw-bold fsr-12">
                        ¿No puedes ingresar?
                    </a>    
                    <h2 class="text-dark fsr-12">
                        <span data-lang="login.Tienes_Cuenta">
                            ¿No tienes una cuenta?
                        </span>
                        <a data-lang="login.Registrate" href="{{ url_for('Registro') }}" class="text-decoration-none C_Azul3 Link_Hover fw-bold fsr-12">
                            Registrate
                        </a>    
                    </h2>                                        
                </form>                
            </div>
        </div>
    </section>
{% endblock %}
