{% extends "/homepage/base.html" %}
{% block contenido %}
    <!--MISION/VISION-->
    <section id="Mision" class="Fondo_Diagonal position-relative text-white py-5">
        <div class="container-fluid position-relative z-2 align-items-center d-flex">
            <div class="row d-flex gap-20 justify-content-center g-0 w-100 mb-lg-5 mt-lg-5">
                <!-- MISIÓN -->
                <div class="col-lg-4 mb-lg-5 mt-lg-5" >
                    <div class="mv-card Bg_Azul2 text-white p-4 rounded-4 shadow-lg h-100 justify-content-center align-items-center d-flex flex-column">
                        <h3 data-lang="mision.Mision" class="d-inline-flex fw-bold mb-3 p-3 text-black Bg_Blanco border-round text-center fsr-9 rounded-2">
                            Misión 
                        </h3>
                        <p data-lang="mision.Simplificar" class="text-center fsr-12">
                            Simplificar y modernizar los procesos de restitución de bienes en Cundinamarca mediante herramientas digitales accesibles, ágiles y seguras. Nuestro propósito es acompañar a cada usuario paso a paso, garantizando atención personalizada y soporte continuo para que pueda recuperar sus bienes de manera efectiva, sin desplazamientos ni trámites complejos.
                        </p>
                    </div>
                </div>
                <!-- VISIÓN -->
                <div class="col-lg-4 mb-lg-5 mt-lg-5">
                    <div class="mv-card Bg_Blanco text-black p-4 rounded-4 gap-3 shadow-lg h-100 justify-content-center align-items-center d-flex flex-column">
                        <h3 data-lang="mision.Vision" class="d-inline-flex fw-bold mb-3 p-3 text-white Bg_Azul2 border-round text-center fsr-9 rounded-2">
                            Vision 
                        </h3>
                        <p data-lang="mision.Plataforma" class="text-center fsr-12">
                            Ser la plataforma líder en Cundinamarca en la restitución virtual de bienes, reconocida por ofrecer soluciones digitales seguras, eficientes y transparentes que faciliten a los ciudadanos el acceso a sus derechos patrimoniales, fortaleciendo la confianza en los procesos institucionales y tecnológicos de la región.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}