{% extends "/homepage/base.html" %}
{% block contenido %}

<div class="container text-center py-5">
    <div class="row justify-content-center">
        <div id="Rate_Limit_Cont" class="col-md-6">
            <img src="https://cdn-icons-png.flaticon.com/512/595/595067.png" class="img-fluid mb-4" style="max-width:200px" alt="Rate limit" >
            <h1 class="display-3 fw-bold">
                429
            </h1>
            <h3 data-lang="rate.Demasiadas" class="mb-3 fsr-7">
                Demasiadas solicitudes
            </h3>
            <p data-lang="rate.Enviado" class="text-muted fsr-11">
                Has enviado demasiadas peticiones en poco tiempo.  
                Espera un momento antes de intentarlo nuevamente.
            </p>
            <a data-lang="rate.Volver" href="/" class="Bg_Azul4 d-inline-flex boton2 text-white px-3 py-2 fsr-11 fs-md-4 text-decoration-none fw-bold">
                Volver al inicio
            </a>
        </div>
    </div>
</div>

{% endblock %}