{% extends "/homepage/base.html" %}
{% block contenido %}
    <!--SOPORTE/AYUDA-->
    <section id="Ayuda" class="Fondo_Diagonal2 Largo-Pantalla position-relative text-white py-5 ">
        <div class="container-fluid position-relative z-2 h-100 align-items-center d-flex">
            <div class="row d-flex gap-10 justify-content-center g-0 w-100 h-100">
                <!-- SOPORTE -->
                <div class="col-12 col-lg-4 h-40-0 d-flex flex-column justify-content-center align-items-center gap-3">
                    <div class="mv-card Bg_Blanco text-black p-4 rounded-4 gap-1 gap-lg-2 shadow-lg h-40-4 justify-content-center align-items-center d-flex flex-column">
                        <h3 data-lang="soporte.Creacion" class="d-inline-flex fw-bold mb-3 p-3 text-white Bg_Azul2 border-round text-center fsr-9 rounded-2">
                            Creacion de tickets
                        </h3>
                        <p data-lang="soporte.Sección" class="text-center fsr-12">
                            En esta sección puedes conocer cómo crear un ticket de soporte en Gaialink, para enviar un ticket, primero debes iniciar sesión con tu cuenta, una vez dentro, podrás registrar solicitudes técnicas, reportar errores o pedir asistencia personalizada.
                        </p>
                    </div>
                    <img src="{{ url_for('static', filename='img/Flecha1_2.svg') }}" class="w-15">
                    <div class="mv-card Bg_Blanco text-black p-4 rounded-4 gap-3 shadow-lg h-35 justify-content-center align-items-center d-flex flex-column">
                        <ol class="m-0">
                            <li data-lang="soporte.Inicia" class="fsr-13">
                                Inicia sesión en tu cuenta Gaialink.
                            </li>
                            <li data-lang="soporte.Panel" class="fsr-13">
                                En el panel de tickets, selecciona “Crear Ticket”.
                            </li>
                            <li data-lang="soporte.Completa" class="fsr-13">
                                Completa el formulario con la descripción del problema.
                            </li>
                            <li data-lang="soporte.Adjunta" class="fsr-13">
                                Adjunta archivos o imágenes si es necesario.
                            </li>
                            <li data-lang="soporte.Envía" class="fsr-13">
                                Envía tu ticket y espera la respuesta de nuestro equipo.
                            </li>
                        </ol>
                    </div>                    
                </div>
                <!-- AYUDA -->
                <div class="col-12 col-lg-4 h-40-0 d-flex flex-column justify-content-center align-items-center gap-3">
                    <div class="mv-card Bg_Azul2 text-black p-4 rounded-4 gap-1 gap-lg-2 shadow-lg h-40-4 justify-content-center align-items-center d-flex flex-column">
                        <h3 data-lang="soporte.Soporte" class="d-inline-flex fw-bold mb-3 p-3 text-black Bg_Blanco border-round text-center fsr-9 rounded-2">
                            Soporte
                        </h3>
                        <p data-lang="soporte.Area" class="text-center text-white fsr-12">
                            El área de soporte te brinda ayuda técnica y soluciones a los problemas más frecuentes; antes de enviar un ticket, te recomendamos iniciar sesión y revisar nuestra base de conocimientos para encontrar una respuesta rápida.
                    </div>
                    <img src="{{ url_for('static', filename='img/Flecha1_1.svg') }}" class="w-15">
                    <div class="mv-card Bg_Azul2 text-white p-4 rounded-4 gap-3 shadow-lg h-35 justify-content-center align-items-center d-flex flex-column">
                        <ol class="m-0">
                            <li data-lang="soporte.Consultar" class="fsr-13">
                                Consultar guías de instalación y configuración.
                            </li>
                            <li data-lang="soporte.Revisar" class="fsr-13">
                                Revisar el estado de tus solicitudes activas.
                            </li>
                            <li data-lang="soporte.Conocer" class="fsr-13">
                                Conocer las políticas de atención y tiempos de respuesta.
                            </li>
                            <li data-lang="soporte.Verificar" class="fsr-13">
                                Verificar las preguntas frecuentes.
                            </li>
                            <li data-lang="soporte.Contactar" class="fsr-13">
                                Contactar con el equipo si no encuentras la solución.
                            </li>
                        </ol>
                    </div>                    
                </div>
            </div>
        </div>
    </section>
{% endblock %}